<mat-toolbar>
  <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Members</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    {{ course }}
    <span class="toolbar-fill"></span>
    <button mat-raised-button color="accent" (click)="exportCSV()">
      Export
    </button>
  </mat-toolbar>
  <planet-users-table [isLoading]="isLoading" [users]="members" [(tableState)]="tableState" [displayedColumns]="userTableColumns" [shouldOpenProfileDialog]="true" containerClass="view-container view-full-height view-table"></planet-users-table>
</div>
