    <div class="ole-register">
      <div class="ole-logo">
        <h1 i18n>Register New User</h1>
      </div>
      <form (ngSubmit)="createUser()" #loginForm="ngForm">
        <div class="form-row">
          <div class="col-4 form-group">
            <label>First Name</label>
            <input class="form-control" [(ngModel)]="newUser.firstName" name="name" />
          </div>
          <div class="col-4">
            <label>Middle Name</label>
            <input class="form-control" [(ngModel)]="newUser.middleName"  name="name" />
          </div>
          <div class="col-4">
            <label>Last Name</label>
            <input class="form-control" [(ngModel)]="newUser.lastName" name="name" />
          </div>
        </div>
        <div class="row">
          <div class=" col-4 form-group">
            <label>Login</label>
            <input class="form-control" [(ngModel)]="newUser.login" name="login" />
          </div>
          <div class="col-4 form-group">
            <label>Enter Password</label>
            <input class="form-control"[(ngModel)]="newUser.password"  name="password" type="password" />
          </div>
          <div class=" col-4 form-group">
            <label>Re-Enter Password</label>
            <input class="form-control"  [(ngModel)]="newUser.repeatPassword" name="repeatPassword" type="password" />

          </div>
        </div>
        <div class="form-row">
          <div class="col-4 form-group">
           <label>Email</label>
           <input class="form-control" [(ngModel)]="newUser.email" name="email" />

         </div>
         <div class="col-4 form-group">
           <label>Language</label>
           <input class="form-control" [(ngModel)]="newUser.language" name="language"/>

         </div>
         <div class="col-4 form-group">
           <label>Phone Number</label>
           <input class="form-control" [(ngModel)]="newUser.phone" name="phone"/>
         </div>
       </div>

       <div class="form-row">
        <div class="form-group col-4">
         <label>Birthdate</label>
         <input class="form-control" [(ngModel)]="newUser.birthdate" name="birthdate"  type="date" />
       </div>
       <div class="form-group col-4">
        <label>Gender</label>
        <input class="form-control" [(ngModel)]="newUser.gender" name="gender"/>
      </div>
      <div class="form-group col-4">
       <label>Levels</label>
       <input class="form-control" [(ngModel)]="newUser.levels" name="levels"/>
     </div>
   </div>
   <div class="form-row">
    <div class="form-group col-4">
      <label>Community</label>
      <input class="form-control" [(ngModel)]="newUser.community" name="community" />
    </div>
    <div class="form-group col-4">
      <label>Region</label>
      <input class="form-control" [(ngModel)]="newUser.region" name="Region"/>
    </div>
    <div class="form-group col-4">
      <label>Nation</label>
      <input class="form-control" [(ngModel)]="newUser.Nation" name="Nation"/>
    </div>
  </div>
  <div><button class="ole-btn  btn-success"><strong>Register</strong></button></div>
</form>
<div id="login-status">{{message}}</div>
</div>
