@import '../resources';

planet-resources-search {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-template-rows: minmax(auto, $toolbar-height);
  grid-auto-flow: column;
  align-items: start;
  grid-column-gap: 0.75rem;
  padding-bottom: 0.5rem;

  &> planet-resources-search-list {
    height: inherit;
    display: grid;
    grid-template-rows: $label-height minmax(auto, calc(#{$toolbar-height} - #{$label-height}));

    .mat-selection-list {
      min-height: auto;
      max-height: calc(#{$toolbar-height} - #{$label-height});
      padding: 0;
      overflow-y: auto;
    }
  }

}
