@import '../resources';

planet-resources-search {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-template-rows: $toolbar-height;
  grid-auto-flow: column;
  align-items: start;
  grid-column-gap: 0.75rem;
  padding-bottom: 0.5rem;

  &> planet-resources-search-list {
    height: inherit;
    display: grid;
    grid-template-rows: $label-height calc(#{$toolbar-height} - #{$label-height});

    .mat-selection-list {
      height: calc(#{$toolbar-height} - #{$label-height});
      padding: 0;
      overflow-y: auto;
    }
  }

}
