<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Upgrade</span>
</mat-toolbar>
<div class="space-container">
  <div class="upgrade_buttons">
    <button mat-stroked-button color="primary" (click)="upgrade()" [disabled]="!enabled || done">{{ message }}</button>
  </div>
  @if (!done) {
    <div style="height: 5px; padding: 5px;">
      @if (working) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>
  }

  <pre class="upgrade_output" [innerHTML]="output"></pre>

  @if (done && !error) {
    <mat-card class="upgrade_mat-card">
      <mat-card-header>
        <div mat-card-avatar class="upgrade_mat-card-icon"></div>
        <mat-card-title i18n>Success!</mat-card-title>
        @if (mode==='planet') {
          <mat-card-subtitle i18n>Reboot is required</mat-card-subtitle>
        }
      </mat-card-header>
      <mat-card-content>
        <p i18n>
          The upgrade of the system has been done successfully.
        </p>
        @if (mode==='planet') {
          <p i18n>Please restart your system to apply changes</p>
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/" i18n>OK</button>
        @if (enabled || done) {
          <button mat-raised-button color="primary" (click)="upgrade()" i18n>Verify</button>
        }
      </mat-card-actions>
    </mat-card>
  }

  @if (error && done) {
    <mat-card class="upgrade_mat-card">
      <mat-card-header>
        <div mat-card-avatar class="upgrade_mat-card-icon"></div>
        <mat-card-title i18n>Error :(</mat-card-title>
        <mat-card-subtitle i18n>Please let us know</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p i18n>
            There has been an error when trying to upgrade the system
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" planetFeedback [message]="cleanOutput" [type]="'Bug'" [priority]="'Yes'"><mat-icon>feedback</mat-icon> <ng-container i18n>Send feedback</ng-container></button>
      </mat-card-actions>
    </mat-card>
  }

</div>
