<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Upgrade</span>
</mat-toolbar>
<div class="space-container">
  <div class="upgrade_buttons">
      <button mat-stroked-button color="primary" (click)="upgrade()" [disabled]="!enabled || done">{{ message }}</button>
  </div>
  <div style="height: 5px; padding: 5px;" *ngIf="!done">
      <mat-progress-bar mode="indeterminate" *ngIf="working"></mat-progress-bar>
  </div>

  <pre class="upgrade_output" [innerHTML]="output"></pre>

  <mat-card class="upgrade_mat-card" *ngIf="done && !error">
      <mat-card-header>
        <div mat-card-avatar class="upgrade_mat-card-icon"></div>
        <mat-card-title i18n>Success!</mat-card-title>
        <mat-card-subtitle i18n *ngIf>Reboot is required</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p i18n>
          The upgrade of the system has been done successfully.
        </p>
        <p i18n *ngIf="isModePlanet">Please restart your system to apply changes</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/" i18n>OK</button>
        <button mat-raised-button color="primary" (click)="upgrade()" *ngIf="enabled || done" i18n>Verify</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="upgrade_mat-card" *ngIf="error && done">
      <mat-card-header>
        <div mat-card-avatar class="upgrade_mat-card-icon"></div>
        <mat-card-title i18n>Error :(</mat-card-title>
        <mat-card-subtitle i18n>Please let us know</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p i18n>
            There has been an error when trying to upgrade the system
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" planetFeedback [message]="cleanOutput" [type]="'Bug'" [priority]="'Yes'" i18n><mat-icon>feedback</mat-icon> Send feedback</button>
      </mat-card-actions>
  </mat-card>

</div>
