planet-tasks {
  mat-action-list {
    .mat-mdc-list-item {
      align-items: center;
    }

    mat-checkbox {
      order: -1;
      margin-right: 0.5rem;
    }

    img {
      order: 2;
    }

    button {
      order: 3;
    }

    .mat-mdc-list-item.mat-mdc-list-item-with-avatar span[matListItemLine] {
      margin-left: -16px;
    }
  }

  .deadline-soon{
    color: #F6BE00
  }

  .deadline-passed{
    color: red
  }
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  mat-button-toggle-group {
    font-size: 14px;
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      line-height: 34px;
    }
  }

}
