<button i18n mat-stroked-button (click)="addTask()">Add a task</button>
<mat-action-list>
  <button mat-list-item *ngFor="let task of tasks" (click)="toggleTaskComplete(task)">
    <mat-checkbox [checked]="task.completed"></mat-checkbox>
    <p matLine>{{task.title}}</p>
    <p matLine><ng-container i18n>Deadline:</ng-container> {{task.deadline | date}}</p>
    <img *ngIf="task.assignee" matListAvatar [src]="
      task.assignee.attachmentDoc ?
        imgUrlPrefix + '/attachments/' + task.assignee.attachmentDoc._id + '/' + (task.assignee.attachmentDoc._attachments.img ? 'img' : 'img_') :
        task.assignee.avatar ?
        imgUrlPrefix + task.assignee.avatar :
        'assets/image.png'
    ">
    <button mat-icon-button [matMenuTriggerFor]="assigneeMenu" (click)="openAssigneeMenu($event)"><mat-icon>add</mat-icon></button>
    <mat-menu #assigneeMenu="matMenu">
      <button *ngIf="task.assignee" (click)="addAssignee(task)" mat-menu-item><mat-icon>clear</mat-icon> <ng-container i18n>Remove</ng-container> {{task.assignee.name}}</button>
      <button *ngFor="let assignee of (assignees | filterAssignee: task.assignee)" mat-menu-item (click)="addAssignee(task, assignee)">{{assignee.name}}</button>
    </mat-menu>
  </button>
</mat-action-list>
