@import '../variables';

planet-tasks {
  mat-action-list {

    .mat-mdc-checkbox {
      order: -1;
      margin-right: 0.5rem;
    }

    img {
      order: 2;
    }

    button {
      order: 3;
    }

    .mat-list-item.mat-list-item-with-avatar p[matLine] {
      margin-left: -16px;
    }
  }

  .deadline-soon {
    color: $accent;
  }

  .deadline-passed {
    color: $warn;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  mat-button-toggle-group {
    font-size: 14px;
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      line-height: 34px;
    }
  }

}
