
<form [formGroup] ="feedbackForm" (ngSubmit)="onSubmit(feedbackForm.value)">
  <div>
    <section>
     <label>Is your feedback Urgent?</label>
     <mat-radio-group formControlName ="isUrgent" >
     <mat-radio-button  value= true >Yes</mat-radio-button>
     <mat-radio-button  value= false > no</mat-radio-button>
   </mat-radio-group>
   </section>
   <section>
     <label>Feedback Type </label>
     <mat-radio-group  formControlName="feedbackType">
     <mat-radio-button value ="Question"> Question </mat-radio-button>
     <mat-radio-button value ="Bug"> Bug </mat-radio-button>
     <mat-radio-button value ="Suggestion"> Suggestion </mat-radio-button>
   </mat-radio-group>
   </section>

    <mat-form-field>
       <textarea matInput placeholder="Your Feedback" formControlName="feedbackMsg">
       </textarea>
     </mat-form-field>
   <section>
     <button type="submit" mat-button>Submit</button>
   </section>
   </div>
</form>
<p>Form value: {{ feedbackForm.value | json }}</p>
