.mat-column-type {
    display: flex;
    align-items: center;
  }

.ellipsis-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-word;
  }
