@use '../variables' as v;

.title-edit {
  width: 65%;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3vh 8vw;
  .chat-list {
    overflow-y: auto;
    padding-bottom: 1em;
  }
}

.chat-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .chat-list-user {
    display: flex;
    align-items: baseline;
    align-self: stretch;
    gap: 0.5rem;
    color: v.$primary;
    .mat-caption {
      margin-left: auto;
      flex-shrink: 0;
      color: v.$grey-text;
    }
  }

  mat-card {
    max-width: 90%;
    margin-top: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    background-color: #fafafa;

    &.primary-color {
      background-color: v.$primary;
      color: v.$primary-text;
      border-color: v.$primary;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.chat-reply {
  mat-form-field {
    width: 100%;
  }
}

.no-shrink-button {
  flex-shrink: 0;
  margin-left: auto;
}
