@import '../variables';

.title-edit {
  width: 40%;
  padding-top: 1em;
}

.chat-list-user {
  color: $primary;
  margin-top: 1.5em;
  span:first-child {
    margin-right: 1vw;
  }
}

.chat-reply {
  mat-form-field {
    width: 100%;
  }
}

@media (max-width: calc(#{$screen-md} - 1px)) {
  .view-container {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 1fr;
    grid-template-areas: "messages textarea";
    grid-column-gap: 2vw;
    .chat-list {
      grid-area: messages;
      overflow-y: auto;
      max-height: inherit;
    }
    textarea {
      grid-area: textarea;
    }
  }
  .title-edit {
    width: 65%;
  }
}

@media (min-width: $screen-md) {
  .view-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3vh 25vw;
  }
}