<!-- Feedback Template -->
<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/feedback"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Feedback</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1">
      <ng-container [ngSwitch]="feedback.type">
        <mat-icon *ngSwitchCase="'Bug'">bug_report</mat-icon>
        <mat-icon *ngSwitchCase="'Question'">help_outline</mat-icon>
        <mat-icon *ngSwitchCase="'Suggestion'">speaker_notes</mat-icon>
      </ng-container>
      <ng-container *ngIf="!editTitleMode; else editTitleBlock">
        <span class="margin-lr-3">{{feedback.title || feedback.type + ' regarding ' + feedback.url}}</span>
        <a (click)="editTitle(true)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </a>
      </ng-container>
      <ng-template #editTitleBlock>
        <mat-form-field color="accent" class="margin-lr-3 title-edit">
          <input matInput [(ngModel)]="feedback.title" placeholder="Feedback title" i18n-placeholder />
        </mat-form-field>
        <a (click)="setTitle()" mat-icon-button>
          <mat-icon>check</mat-icon>
        </a>
        <a (click)="editTitle(false)" mat-icon-button>
          <mat-icon>clear</mat-icon>
        </a>
      </ng-template>
      <span class="toolbar-fill"></span>
      <a *ngIf="feedback?.state" [routerLink]="['/', feedback.state, 'view', feedback.item]" mat-icon-button>
        <ng-container [ngSwitch]="feedback.state">
          <mat-icon *ngSwitchCase="'resources'" svgIcon="myLibrary"></mat-icon>
          <mat-icon *ngSwitchCase="'courses'" svgIcon="myCourses"></mat-icon>
          <mat-icon *ngSwitchCase="'meetups'" svgIcon="myMeetups"></mat-icon>
          <mat-icon *ngSwitchCase="'teams'" svgIcon="myTeams"></mat-icon>
        </ng-container>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div class="wrapper">
      <div class="chat-list" #chatList>
        <div class="chat-list-item" *ngFor="let message of feedback.messages; trackBy: feedbackTrackByFn">
          <div class="chat-list-user">
            <p class="user-name">{{message.user}}<p>
            <p class="date">{{message.time | date:'MMM d, y h:mm a'}}</p>
          </div>
          <div class="chat-list-message"><mat-card [ngClass]="message.user === user.name ? 'primary-color' : 'accent-color'">{{message.message}}</mat-card></div>
        </div>
      </div>
    </div>
    <div class="chat-reply">
      <mat-form-field>
        <textarea matInput [(ngModel)]="newMessage" matTextareaAutosize matAutosizeMinRows="5" placeholder="Type your reply here" i18n-placeholder></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" class="margin-lr-3" (click)="postMessage()" [disabled]="!newMessage.trim()"><mat-icon>reply</mat-icon>Reply</button>
      <button mat-raised-button color="primary" class="margin-lr-3" (click)="closeFeedback(feedback)" *ngIf="feedback.status !== 'Closed'">Close</button>
      <button mat-raised-button color="primary" class="margin-lr-3" (click)="openFeedback(feedback)" *ngIf="feedback.status === 'Closed'">Re-open</button>
    </div>
  </div>
</div>
