<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container [ngSwitch]="submissionMode">
    <span *ngSwitchCase="true" i18n>Survey Profile</span>
    <span *ngSwitchCase="false" i18n>Edit Member Profile</span>
  </ng-container>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span>{{user.name}}</span>
  </mat-toolbar>
  <div class="view-container">
    <div class="form-container">
      <form [formGroup]="editForm" class="form-space" (ngSubmit)="onSubmit()">
        <div class="profile-names">
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="First Name" formControlName="firstName"
              [required]="!submissionMode" (change)="hasUnsavedChanges = true">
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.firstName"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="Middle Name" formControlName="middleName"
              (change)="hasUnsavedChanges = true">
          </mat-form-field>
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="Last Name" formControlName="lastName"
              [required]="!submissionMode" (change)="hasUnsavedChanges = true">
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.lastName"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="profile-contacts">
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="Email" formControlName="email" [required]="!submissionMode"
              (change)="hasUnsavedChanges = true">
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.email"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="Phone Number" formControlName="phoneNumber"
              [required]="!submissionMode" (change)="hasUnsavedChanges = true">
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.phoneNumber"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dp" i18n-placeholder placeholder="Birthdate" formControlName="birthDate"
              [required]="!submissionMode" [min]="minBirthDate" (dateChange)="hasUnsavedChanges = true">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.birthDate"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="profile-dropdowns">
          <mat-form-field>
            <mat-select i18n-placeholder placeholder="Language" formControlName="language" [required]="!submissionMode"
              (selectionChange)="hasUnsavedChanges = true">
              <mat-option *ngFor="let language of languages" [value]="language.name">
                {{language.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.language"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select i18n-placeholder placeholder="Level" formControlName="level" [required]="!submissionMode"
              (selectionChange)="hasUnsavedChanges = true">
              <mat-option *ngFor="let level of educationLevel" [value]="level.value">{{level.label}}</mat-option>
            </mat-select>
            <mat-error>
              <planet-form-error-messages [control]="editForm.controls.level"></planet-form-error-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-radio-group class="radio-group" formControlName="gender" [required]="!submissionMode" class="full-width"
          (change)="hasUnsavedChanges = true">
          <label i18n>Gender</label>
          <mat-radio-button class="planet-radio-button" value="male">
            <div class="radio-icon-label">
              <mat-icon svgIcon="male" class="male-icon primary-text-color margin-lr-3"></mat-icon><span
                i18n>Male</span>
            </div>
          </mat-radio-button>
          <mat-radio-button class="planet-radio-button" value="female">
            <div class="radio-icon-label">
              <mat-icon svgIcon="female" class="female-icon accent-text-color margin-lr-3"></mat-icon><span
                i18n>Female</span>
            </div>
          </mat-radio-button>
          <mat-error i18n *ngIf="editForm.controls.gender.invalid && editForm.controls.gender.touched">
            This field is required
          </mat-error>
          <mat-slide-toggle *ngIf="!submissionMode && planetConfiguration.betaEnabled==='user'"
            formControlName="betaEnabled" i18n i18n-matTooltip
            matTooltip="Beta features may not work as intended. It's recommended to leave this off"
            (change)="hasUnsavedChanges = true">
            Enable Beta features
          </mat-slide-toggle>
        </mat-radio-group>
        <div class="action-buttons">
          <button type="submit" mat-raised-button [planetSubmit]="editForm.valid" color="primary" i18n>Update</button>
          <button type="button" mat-raised-button color="warn" (click)="goBack()" i18n>Cancel</button>
        </div>
      </form>
    </div>
    <div *ngIf="!submissionMode" class="profile-image-section">
      <div style="text-align: center;">
        <img class="profile-image-update" [src]="previewSrc"><br>
        <button *ngIf="(uploadImage && currentImgKey) && !file" mat-raised-button color="accent"
          (click)="deleteImageAttachment()">Remove</button>
      </div>
      <div class="profile-image-upload">
        <ngx-img (onSelect)="onImageSelect($event)" (onReset)="removeImageFile()" [config]="ngxImgConfig"
          [text]="ngxImgText" [errorTexts]="ngxImgErrText"></ngx-img>
      </div>
    </div>
  </div>
</div>
