@import '../../variables';

.view-container {
  display: flex;
  flex-wrap: wrap;
}

.view-container form {
  margin: 0 10px 10px 0;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: $screen-sm) {

  .view-container {
    flex-flow: column;
    align-items: center;
  }

  .form-space {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'form-lt form-rt'
    'radio-group radio-group'
    'action-buttons action-buttons';
    grid-column-gap: 2rem;
    justify-content: center;
  }

  .profile-form-lt {
    grid-area: form-lt;
  }
  
  .profile-form-rt {
    grid-area: form-rt;
  }

  .radio-group {
    grid-area: radio-group;
  }
  
  .action-buttons {
    grid-area: action-buttons;
  }

  .profile-image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'image-lt image-rt';
    grid-column-gap: 1rem;
    padding: 0 1rem;
  }
  
  .profile-image-update {
    grid-area: image-lt;
    margin-left: unset;
  }
  
  .profile-image-upload {
    grid-area: image-rt;
  }

}
