<div [ngClass]="containerClass">
  @if (isLoading) {
    <planet-loading-spinner text="Loading users..." i18n-text></planet-loading-spinner>
  }
  <mat-table #table class="responsive-table" [dataSource]="usersTable" [trackBy]="trackById" matSort [matSortActive]="matSortActive" matSortDirection="desc" [class.hidden]="isLoading">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (change)="$event ? selection.toggle(row.doc) : null"
          (click)="$event.stopPropagation()"
          [checked]="selection.isSelected(row.doc)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="profile">
      <mat-header-cell *matHeaderCellDef i18n>Profile Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.imageSrc) {
          <div>
            <img class="profile-image" [src]="element.imageSrc">
          </div>
        } @else {
          <img class="profile-image" src="assets/avatar.png">
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name" i18n>Name</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-name"><span>{{element.fullName}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="planet">
      <mat-header-cell *matHeaderCellDef mat-sort-header="planet" i18n>Planet</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.planet.nameDoc?.name || element.planet.doc.name}}
        <mat-chip-set aria-label="Planet type" i18n-aria-label>
          <mat-chip class="planet-chip-label margin-lr-5" i18n>{ element.planet.doc.planetType, select, community {Community} nation {Nation} center {Earth}}</mat-chip>
        </mat-chip-set>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="visitCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header="visitCount" i18n>No. of Visits</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.visitCount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="joinDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="joinDate" i18n>Joined Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.doc.joinDate | date: 'mediumDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastLogin">
      <mat-header-cell *matHeaderCellDef mat-sort-header="lastLogin" i18n>Last Login</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lastLogin | date: 'mediumDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="startDate" i18n>Date Started</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.activityDates.createdDate | date: 'mediumDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="recentDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="recentDate" i18n>Most Recent Activity</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.activityDates.updatedDate | date: 'mediumDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="contact">
      <mat-header-cell *matHeaderCellDef i18n>Emergency Contact</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.health?.profile?.emergencyContact) {
          <div>
            <p><b i18n>Name:</b> {{element.health?.profile.emergencyContactName}}</p>
            <p><b i18n>Type:</b> {{element.health?.profile.emergencyContactType}}</p>
            <p>{{element.health?.profile.emergencyContact}}</p>
          </div>
        } @else {
          @if (element.health) {
            <span i18n>None</span>
          }
          @if (!element.health) {
            <mat-progress-bar mode="buffer"></mat-progress-bar>
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="birthDate" i18n>Birthdate</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.doc.birthDate) {
          {{ element.doc.birthDate | date: 'mediumDate' }}
        } @else {
          <ng-container i18n>Missing</ng-container>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastVisit">
      <mat-header-cell *matHeaderCellDef mat-sort-header="lastVisit" i18n>Last Examination</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{(element.health?.lastVisit | date: 'mediumDate')}}
        @if (element.health && !element.health?.lastVisit) {
          <span i18n>Never</span>
        }
        @if (!element.health) {
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        }
      </mat-cell>
    </ng-container>
    <ng-container class="member-action-buttons" matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef i18n>Roles</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-set aria-label="Roles" i18n-aria-label>
          @if (element.doc.roles.length > 0 || element.doc.isUserAdmin) {
            <mat-chip i18n>Learner</mat-chip>
          }
          @for (role of element.doc.roles; track role; let i = $index) {
            @if (role !== 'learner') {
              <mat-chip [removable]="!element.doc.isUserAdmin && !isDialog" (removed)="removeRole(element.doc,i)">
                <planet-role [role]="role"></planet-role>
                @if (isUserAdmin && !element.doc.isUserAdmin && !isDialog) {
                  <mat-icon matChipRemove>cancel</mat-icon>
                }
              </mat-chip>
            }
          }
          @if (element.doc.isUserAdmin && element.doc.roles.length === 0) {
            <mat-chip i18n>Admin</mat-chip>
          }
        </mat-chip-set>
        @if (!element.doc.isUserAdmin && element.doc.roles.length === 0) {
          <span i18n>Inactive</span>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef i18n>Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div [ngClass]="{'horizontal-align button-container': isMobile}">
          @if (isUserAdmin && filterType === 'local' && !isDialog) {
            <span>
              @if (!element.doc.isUserAdmin) {
                <span>
                  @if (element.doc.roles.length === 0) {
                    <button mat-raised-button color="primary" (click)="setRoles(element.doc, element.doc.oldRoles || ['learner'], $event)">
                      <mat-icon>lock_open</mat-icon>
                      @if (!isMobile) {
                        <label i18n>Activate</label>
                      }
                    </button>
                  }
                  @if (element.doc.roles.length > 0) {
                    <button mat-raised-button color="primary" (click)="setRoles(element.doc, [], $event)">
                      <mat-icon>lock</mat-icon>
                      @if (!isMobile) {
                        <label i18n>Deactivate</label>
                      }
                    </button>
                  }
                </span>
              }
              @if (!element.doc.isUserAdmin || element.doc.roles.length > 0) {
                <button mat-raised-button color="primary" (click)="deleteClick(element.doc, $event)">
                  <mat-icon>delete</mat-icon>
                  @if (!isMobile) {
                    <label i18n> Delete </label>
                  }
                </button>
              }
              @if (!element.doc.isUserAdmin && filterType === 'local') {
                <button (click)="toggleStatus($event, element.doc, 'admin', false)" mat-raised-button color="primary">
              <mat-icon>vertical_align_top</mat-icon>
              @if (!isMobile) {
<label i18n> Promote </label>
}
            </button>
              }
              @if (element.doc.isUserAdmin && filterType === 'local' && (element.doc.name + '@' + configuration.code) !== configuration.adminName) {
                <button
                  (click)="toggleStatus($event, element.doc, element.doc.roles.length === 0 ? 'admin' : 'manager', true)" mat-raised-button color="primary">
              <mat-icon>vertical_align_bottom</mat-icon>
              @if (!isMobile) {
<label i18n> Demote </label>
}
            </button>
              }
            </span>
          }
          <button (click)="gotoProfileView(element.doc.name)" mat-raised-button color="primary">
            <mat-icon>visibility</mat-icon>
            @if (!isMobile) {
              <label i18n>View Profile</label>
            }
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      [ngClass]="{'cursor-pointer': !isDialog, highlight: selection.isSelected(row.doc)}"
      *matRowDef= "let row; columns: displayedColumns;"
      (click)="gotoProfileView(row.doc.name)">
    </mat-row>
    <tr class="mat-row" *matNoDataRow>
      <td>@if (!isLoading) {
        <div class="view-container" i18n>No User Found</div>
      }</td>
    </tr>
  </mat-table>
    <mat-paginator #paginator [class.hidden]="isLoading" [pageSize]="50" [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"></mat-paginator>
</div>
