<mat-toolbar>
  <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Members</span>
  <span class="toolbar-fill"></span>
  <ng-container *ngIf="planetType !== 'community'">
    <mat-button-toggle-group
      class="margin-lr-5 font-size-1"
      (change)="changeFilter(filterGroup.value)"
      #filterGroup="matButtonToggleGroup">
      <mat-button-toggle value="local" [checked]="filterType==='local'">
        Local
      </mat-button-toggle>
      <mat-button-toggle value="associated" [checked]="filterType==='associated'">
        Associated
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field class="font-size-1">
      <mat-select i18n-placeholder placeholder="Children" [value]="selectedChild" (selectionChange)="changeFilter('child', $event.value)">
        <mat-option *ngFor="let child of children" [value]="child.doc">
          {{ child.nameDoc ? child.nameDoc.name : child.doc.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-form-field class="font-size-1 margin-lr-5">
    <mat-select placeholder="Filter by role" [(value)]="filteredRole" (selectionChange)="onFilterChange($event.value)">
      <mat-option i18n value="All">All</mat-option>
      <mat-option *ngFor="let role of allRolesList" [value]="role">{{role}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-icon class="input-icon">search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="searchChanged($event.target.value)" [value]=searchValue i18n-placeholder placeholder="Search username...">
  </mat-form-field>
  <button class="margin-lr-5" mat-raised-button color="primary" i18n (click)="resetFilter()">Clear</button>
</mat-toolbar>

<div class="space-container" *ngIf="displayTable">
  <mat-toolbar class="primary-color font-size-1">
    <span class="toolbar-fill"></span>
    <div class="margin-lr-3" *ngIf="filterType==='local'">
      <form (ngSubmit)="roleSubmit(selection.selected,selectedRoles)" #rolesForm="ngForm" class="toolbar-form" *ngIf="isUserAdmin">
        <mat-form-field>
          <mat-select name="role" [(ngModel)]="selectedRoles" multiple i18n-placeholder placeholder="Set roles of selected">
            <mat-option disabled="disabled" class="hide-checkbox">
              <button mat-raised-button i18n color="primary" (click)="updateSelectedRoles(roleList)">Select All</button>
              <button mat-raised-button class="margin-lr-3" i18n color="accent" (click)="updateSelectedRoles([])">Deselect All</button>
            </mat-option>
            <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="margin-lr-3" type="submit" [disabled]="!selection.selected.length || selectedRoles.length === 0 || isOnlyManagerSelected"><mat-icon>library_add</mat-icon><span i18n>Set Roles</span></button>
      </form>
    </div>
  </mat-toolbar>

  <div class="view-container view-full-height view-table" *ngIf="!emptyData; else notFoundMessage">
    <mat-table #table [dataSource]="allUsers" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (change)="$event ? selection.toggle(row.doc._id) : null"
            (click)="$event.stopPropagation()"
            [checked]="selection.isSelected(row.doc._id)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="profile">
        <mat-header-cell *matHeaderCellDef i18n>Profile Image</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.imageSrc; else noImage">
            <img class="profile-image cursor-pointer" [src]="element.imageSrc">
          </div>
          <ng-template #noImage>
            <img class="profile-image cursor-pointer" src="assets/avatar.png">
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>User Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doc.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="visitCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>No. of Visits</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.visitCount}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="joinDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Joined Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doc.joinDate | date: 'mediumDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastLogin">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Last Login</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastLogin | date: 'mediumDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef i18n>Roles</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngIf="element.doc.roles.length > 0 || element.doc.isUserAdmin" i18n>learner</mat-chip>
            <ng-container *ngFor="let role of element.doc.roles; index as i">
              <mat-chip *ngIf="role !== 'learner'" [removable]="!element.doc.isUserAdmin" (removed)="deleteRole(element.doc,i)">
                {{role}}
                <mat-icon matChipRemove *ngIf="isUserAdmin && !element.doc.isUserAdmin">cancel</mat-icon>
              </mat-chip>
            </ng-container>
            <mat-chip *ngIf="element.doc.isUserAdmin && element.doc.roles.length === 0">admin</mat-chip>
          </mat-chip-list>
          <span *ngIf="!element.doc.isUserAdmin && element.doc.roles.length === 0" i18n>Inactive</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef i18n>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="isUserAdmin && filterType === 'local'">
            <span *ngIf="!element.doc.isUserAdmin">
              <button mat-raised-button color="primary" *ngIf="element.doc.roles.length === 0" (click)="setRoles(element.doc, element.doc.oldRoles || ['learner'], $event)">
                <mat-icon>lock_open</mat-icon><ng-container i18n>Activate</ng-container>
              </button>
              <button mat-raised-button color="primary" *ngIf="element.doc.roles.length > 0" (click)="setRoles(element.doc, [], $event)">
                <mat-icon>lock</mat-icon><ng-container i18n>Deactivate</ng-container>
              </button>
            </span>
            <button mat-raised-button color="primary" (click)="deleteClick(element.doc, $event)" *ngIf="!element.doc.isUserAdmin || element.doc.roles.length > 0">
              <mat-icon>delete</mat-icon>Delete
            </button>
            <a
              *ngIf="element.doc.roles.length > 0 && filterType === 'local'"
              (click)="toggleStatus($event, element.doc, 'manager', element.doc.isUserAdmin)"
              mat-raised-button color="primary" i18n>{+element.doc.isUserAdmin, select, 1 {Demote} 0 {Promote}}</a>
            <a
              *ngIf="filterType === 'local'"
              (click)="toggleStatus($event, element.doc, 'admin', element.doc.roles.length === 0)"
              mat-raised-button color="primary" i18n>{+(element.doc.isUserAdmin && element.doc.roles.length === 0), select, 1 {Member} 0 {Admin}}</a>
          </span>
          <a (click)="gotoProfileView(element.doc.name)" mat-raised-button color="primary" i18n>
            <mat-icon>visibility</mat-icon> View Profile
          </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns;" (click)="gotoProfileView(row.doc.name)" [ngClass]="{highlight:selection.isSelected(row.doc._id)}"></mat-row>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>
  <ng-template #notFoundMessage>
    <div class="view-container">No User Found</div>
  </ng-template>
</div>
