.role-set-select {
  width: 256px;
}

.role-actions {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  box-sizing: border-box;
}

.role-action-button {
  width: 100%;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}
