@use '../mixins' as m;

.mat-column-name {
  @include m.table-column-grow;
}

.mat-column-profile {
  @include m.table-column-fixed(7rem);
}

.mat-column-visitCount {
  @include m.table-column-fixed(8rem);
}

.mat-column-joinDate,
.mat-column-lastLogin,
.mat-column-startDate,
.mat-column-recentDate,
.mat-column-birthDate,
.mat-column-lastVisit {
  @include m.table-column-fixed(10rem);
}

.mat-column-planet,
.mat-column-roles {
  @include m.table-column-fixed(14rem);
}

.mat-column-contact {
  @include m.table-column-fixed(16rem);
}

.mat-column-action {
  @include m.table-column-fixed(18rem);
}

.mat-mdc-cell.mat-column-name span {
  padding-right: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

mat-cell p {
  margin: 0;
}
