@use '../variables' as v;

/* Column Widths */
.mat-column-profile {
  max-width: 100px;
}

.mat-mdc-cell.mat-column-name span {
  padding-right:5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

mat-cell p {
  margin: 0;
}
@media(max-width: v.$screen-md) {
  .mat-column-visitCount, .mat-column-joinDate, .mat-column-lastLogin {
    max-width: 70px;
  }
}
