@import '../variables';

/* Column Widths */
.mat-column-profile {
  max-width: 100px;
}

.mat-mdc-cell.mat-column-name span {
  padding-right:5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

mat-cell p {
  margin: 0;
}

button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-align {
  justify-content: center;
}

.mat-mdc-cell button, .mat-cell div button[mat-raised-button] {
  width: 150px;
  text-align: center;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(max-width: $screen-md) {
  .mat-column-visitCount, .mat-column-joinDate, .mat-column-lastLogin {
    max-width: 70px;
  }
}

@media (max-width: $screen-sm) {
  .mat-mdc-cell button, .mat-cell div button[mat-raised-button] {
    width: 50px;
  }
}
