<h1 i18n>Users</h1>
<div class="km-user-table" *ngIf="displayTable">
  <form (ngSubmit)="roleSubmit(allUsers.data,selectedRole)" #rolesForm="ngForm">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedRole" name="role">
        <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button type="submit" i18n>Add role to selected</button>
  </form>
  <mat-table #table [dataSource]="allUsers">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef i18n>User Name</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="select(element)">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef i18n>Roles</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let role of element.roles; index as i" [removable]="!element.admin" (remove)="deleteRole(element,i)">
            {{role}}
            <mat-icon matChipRemove *ngIf="!element.admin" (click)="$event.stopPropagation()">cancel</mat-icon>
          </mat-chip>
      </mat-chip-list>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef i18n>Action</mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <div *ngIf="!element.admin">
          <mat-icon  *ngIf="element.roles.length === 0" (click)="addRole(element)">lock</mat-icon>
          <mat-icon *ngIf="element.roles.length > 0" (click)="removeRole(element)">lock_open</mat-icon>
          <a routerLink="/users/profile/{{element.name}}" i18n mat-raised-button color="primary">View Profile</a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:row.selected}" ></mat-row>
  </mat-table>
</div>
<div class="km-message">{{message}}</div>
