<mat-toolbar>
  <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
  <span class="toolbar-fill"></span>
  <mat-icon>search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder placeholder="Type text to search...">
  </mat-form-field>
</mat-toolbar>

<div class="space-container" *ngIf="displayTable">
  <mat-toolbar class="primary-color font-size-1">
    <span class="toolbar-fill">
      <h1 i18n>All Users</h1>
    </span>
    <div class="margin-lr-3">
      <form (ngSubmit)="roleSubmit(allUsers.data,selectedRole)" #rolesForm="ngForm">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedRole" name="role">
            <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="margin-lr-3" type="submit" [disabled]="!selection.selected.length || selectedRole.length === 0"><mat-icon>library_add</mat-icon><span i18n>Add Roles</span></button>
      </form>
    </div>
  </mat-toolbar>

  <mat-table #table [dataSource]="allUsers" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="profile">
      <mat-header-cell *matHeaderCellDef i18n>Profile Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="element.imageSrc; else noImage">
          <img class="profile-image" [src]="element.imageSrc">
        </div>
        <ng-template #noImage>
          <img class="profile-image" src="/assets/avatar.png">
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n>User Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Roles</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let role of element.roles; index as i" [removable]="!element.isUserAdmin" (remove)="deleteRole(element,i)">
            {{role}}
            <mat-icon matChipRemove *ngIf="!element.isUserAdmin">cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngIf="element.isUserAdmin">admin</mat-chip>
      </mat-chip-list>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef i18n>Action</mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <div *ngIf="element.isUserAdmin">
          <mat-icon>&nbsp;</mat-icon>
          <a routerLink="/users/profile/{{element.name}}" mat-raised-button color="primary" i18n>View Profile
            <mat-icon>folder_open</mat-icon>
          </a>
        </div>
        <div *ngIf="!element.isUserAdmin">
          <button mat-icon-button *ngIf="element.roles.length === 0" (click)="addRole(element)">
            <mat-icon>lock</mat-icon>
          </button>
          <button mat-icon-button *ngIf="element.roles.length > 0" (click)="removeRole(element)">
            <mat-icon>lock_open</mat-icon>
          </button>
          <a routerLink="/users/profile/{{element.name}}" mat-raised-button color="primary" i18n>View Profile
            <mat-icon>folder_open</mat-icon>
          </a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:selection.isSelected(row)}" ></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
