@import '../variables';

/* Column Widths */
.mat-column-select {
  max-width: 44px;
}

.mat-column-profile {
  max-width: 100px;
}

mat-cell p {
  margin: 0;
}

button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-align {
  justify-content: center;
}

.mat-cell button, .mat-cell div button[mat-raised-button] {
  width: 150px;
  text-align: center;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  mat-icon{
    margin-right: 4px;
  }
}


@media(max-width: $screen-md) {
  .mat-column-visitCount, .mat-column-joinDate, .mat-column-lastLogin {
    max-width: 70px;
  }
}

@media (max-width: $screen-sm) {
  .mat-cell button, .mat-cell div button[mat-raised-button] {
    width: 50px;
  }

  .action-button{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

}
