<mat-toolbar *ngIf="!isDialog">
  <a mat-icon-button routerLink="/manager/certification">
    <mat-icon>arrow_back</mat-icon>
  </a>
</mat-toolbar>

<div [ngClass]="{'space-container':!isDialog}">
  <mat-toolbar class="primary-color font-size-1" i18n>{{this.pageType}} Certification</mat-toolbar>
  <div class="view-container">
    <form class="form-spacing" [formGroup]="certificationForm" novalidate>
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <input matInput i18n-placeholder placeholder="Type here certification name..." formControlName="name" required>
        <mat-error>
          <planet-form-error-messages [control]="certificationForm.controls.name"></planet-form-error-messages>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="actions-container">
      <button mat-raised-button type="button" color="primary" [planetSubmit]="certificationForm.valid" (click)="onSubmit()" i18n>Save</button>
      <button class="margin-lr-2" mat-raised-button type="button" color="warn" (click)="cancel()" i18n>Cancel</button>
    </div>
  </div>
</div>
<!-- [disabled]="!certificationForm.dirty" -->