<mat-toolbar>
  <span i18n>{ type, select, courses {Course} resources {Resource}}</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <button mat-stroked-button class="margin-lr-3" *ngIf="localCopy" (click)="toggleFullView('local')" i18n>
      {localView, select, on {Hide} off {Show}} Local
    </button>
    <span class="toolbar-fill"></span>
    <button mat-stroked-button class="margin-lr-3" *ngIf="remoteCopy" (click)="toggleFullView('remote')" i18n>
      {remoteView, select, on {Hide} off {Show}} Remote
    </button>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div [ngClass]="(fullView=='on') ? 'full-view-container' : 'compare-container'">
      <ng-container *ngIf="type === 'courses'">
        <planet-compare-courses *ngIf="localCopy && localView === 'on'" [courseDetail]="localCopy"></planet-compare-courses>
        <planet-compare-courses *ngIf="remoteCopy && remoteView === 'on'" [courseDetail]="remoteCopy"></planet-compare-courses>
      </ng-container>
      <ng-container *ngIf="type === 'resources'">
        <planet-compare-resources *ngIf="localCopy && localView === 'on'" [resourceDetail]="localCopy"></planet-compare-resources>
        <planet-compare-resources *ngIf="remoteCopy && remoteView === 'on'" [resourceDetail]="remoteCopy"></planet-compare-resources>
      </ng-container>
    </div>
  </div>
</div>
