<h2 i18n>Profile</h2>
<div>
  <table>
    <tr>
      <td>First Name</td>
      <td>{{userDetail.firstName}}</td>
    </tr>
    <tr>
      <td>Middle Name</td>
      <td>{{userDetail.middleName}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{userDetail.lastName}}</td>
    </tr>
    <tr>
      <td>Login</td>
      <td>{{userDetail.login}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{userDetail.email}}</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>{{userDetail.language}}</td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td>{{userDetail.phoneNumber}}</td>
    </tr>
    <tr>
      <td>BirthDate</td>
      <td>{{userDetail.birthDate}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{userDetail.gender}}</td>
    </tr>
    <tr>
      <td>Level</td>
      <td>{{userDetail.level}}</td>
    </tr>
  </table>
</div>
