@import "../../variables";

:host {

  .profile-container {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 0.75fr 0.75fr;
    grid-column-gap: 2rem;
  }
  
  @media (max-width: $screen-sm) {
    .profile-image-section {
      grid-area: icon;
    }

    .profile-list-1 {
      grid-area: list-1;
    }

    .profile-list-1 {
      grid-area: list-2;
    }


    .profile-container {
      max-width: 900px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-template-areas: 
      "icon icon"
      "list-1 list-2";
    }
  }

}