<mat-toolbar>
  <planet-back></planet-back>
  <span i18n>Member Profile</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span>{{userDetail.name}}</span>
    <mat-icon class="margin-lr-5" *ngIf="userDetail.gender" svgIcon="{{userDetail.gender}}"></mat-icon>
    <span class="toolbar-fill"></span>
    <button mat-stroked-button class="margin-lr-3" *ngIf="(user.isUserAdmin && hasAchievement)" [routerLink]="['../../achievements/', urlName, { planet: userDetail.planetCode }]"><mat-icon class="margin-lr-3"s>visibility</mat-icon><span i18n>View Achievements</span></button>
    <button mat-raised-button color="accent" class="margin-lr-3" *ngIf="user.name === urlName || (user.isUserAdmin && editable)" [routerLink]="['../../update/', urlName]"><mat-icon>mode_edit</mat-icon><span i18n>Edit Profile</span></button>
    <a mat-raised-button color="accent" class="margin-lr-3" *ngIf="user.name === urlName" i18n [planetChangePassword]="userDetail">Change password</a>
  </mat-toolbar>
  <div class="view-container">
    <div class="profile-container">
      <div>
        <ng-container *ngIf="userDetail._attachments; else noAttachment">
          <img class="profile-image-large" [src]="imageSrc">
        </ng-container>
        <ng-template #noAttachment>
          <img class="profile-image-large" src="assets/image.png">
        </ng-template>
      </div>
      <mat-list>
        <mat-list-item>
          <h4 class="primary-text-color" matLine i18n>Full Name</h4>
          <p matLine><b>{{userDetail.firstName ? userDetail.firstName + ' ' + userDetail.middleName + ' ' + userDetail.lastName : 'N/A'}}</b></p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 class="primary-text-color" matLine i18n>Email</h4>
          <p matLine><b>{{userDetail.email || 'N/A'}}</b></p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 class="primary-text-color" matLine i18n>Language</h4>
          <p matLine><b>{{userDetail.language || 'N/A'}}</b></p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <h4 class="primary-text-color" matLine i18n>DOB</h4>
          <p matLine><b>{{(userDetail.birthDate | date: 'fullDate') || 'N/A'}}</b></p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 class="primary-text-color" matLine i18n>Phone</h4>
          <p matLine><b>{{userDetail.phoneNumber || 'N/A'}}</b></p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 class="primary-text-color" matLine i18n>Level</h4>
          <p matLine><b>{{userDetail.level || 'N/A'}}</b></p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
</div>
