:host {
  .welcome-hero {
    position: relative;
    width: 100%;
    height: 250px;
    // font-weight: 400;
    // font-size: 1rem;
    // line-height: 1.5;
    // letter-spacing: 0.00938em;
  }

  .hero-background {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, #C300FF 0%, #7E00B0 47.4%, #450066 100%);;
    display: block;
    overflow: hidden;
  }

  .hero-background-img {
    opacity: 0.2;
    object-fit: cover;
    width: 100%;
    min-height: 250px;
  }

  .hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    // margin-top: 2px;
  }

  .play-btn {
    font-weight: 500;
    text-transform: none;
    font-size: 20px;    
    padding-bottom: 5px;
    // font-size: {
    //   xs: '14px';
    //   sm: '16px';
    //   md: '18px';
    //   lg: '20px';
    //   xl: '20px';
    // };
  }

  .header-text {
    font-weight: 600;
    text-align: center;
    margin: 3px;
  }

  .hero-flag-stack {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    padding-top: 10px;
    // line-height: 1.5;
  }

  .hero-flag-stack h2 {
    margin: 0;
    margin-left: 2px;
  }

  .hero-discover-container {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discover-btn-text {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  .discover-icon {
    padding: 0px 5px 5px;
  }

  .discover-btn {
    background-color: #FFFFFF;
    color: #951FCC;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    padding: 3px 12px;
  }
}
