<mat-card class="welcome-hero">
  <mat-card class="hero-background">
    <img src="assets/landing-page/img/hero-background.png" srcSet='assets/landing-page/img/hero-background.png 1200w,
      assets/landing-page/img/hero-background-large.png  1424w' alt="Guatemala" class="heroBackgroundImg" />
  </mat-card>
  <mat-card class="hero-title">
    <mat-card class="hero-title-container">
      <button class="play-button">
        Bienvenidos a UPlanet
      </button>
      <h1 style="font-weight: 900; text-align: center;">
        Todos Conectados
      </h1>
      <h1 style="font-weight: 900; text-align: center;">
        con lo mejor de la era digital
      </h1>
      <div class="hero-flag-stack">
        <img src="/img/guatemala-flag.svg" width={25} height={25} alt="flag" />
        <h2 style="font-weight: 900px'"> 
          #SanPablo
        </h2>
      </div>
    </mat-card>
  </mat-card>
</mat-card>
