<div class="welcome-hero">
  <div class="hero-background">
    <img src="assets/landing-page/img/hero-background.png" srcSet='assets/landing-page/img/hero-background.png 1200w,
      assets/landing-page/img/hero-background-large.png  1424w' alt="Guatemala" class="hero-background-img" />
  </div>
  <div class="hero-title">
    <div class="hero-title-container">
      <button mat-button class="play-btn" (click)="playVideo()">
        <mat-icon>play_circle_filled</mat-icon>
        <span style="padding: 10px;">Bienvenidos a UPlanet</span>
      </button>
      <h2 class="header-text">
        Todos Conectados
      </h2>
      <h2 class="header-text">
        con lo mejor de la era digital
      </h2>
      <div class="hero-flag-stack">
        <img src="assets/landing-page/img/guatemala-flag.svg" width="25" height="25" alt="flag" />
        <h2 style="font-weight: 500px;">
          #SanPablo
        </h2>
      </div>
      <div class="hero-discover-container">
        <p class="discover-btn-text">Biblioteca UcloudNet y más...</p>
        <a href="" mat-button class="discover-btn">
          Descubre
          <img src="assets/landing-page/icon/arrow-right.svg" class="discover-icon" alt="Arrow Right" />
        </a>
      </div>
    </div>
  </div>
</div>