<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
      <button i18n mat-mini-fab (click)="addCertification()"><mat-icon>add</mat-icon></button>
  </mat-toolbar>
  <mat-table *planetBeta #table [dataSource]="certifications" matSort [matSortDisableClear]="true">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Certification Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef i18n>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="addCertification(element)"i18n>
            <mat-icon>edit</mat-icon>Edit
          </button>
        <button mat-raised-button color="warn" (click)="deleteClick(element)" i18n>
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="50"
    [pageSizeOptions]="[5, 10, 20, 50, 100, 200]">
  </mat-paginator>
</div>
