@import '../../variables';

:host {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;

  .progress-bar-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
  }

  .progress-block {
    flex: 0 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: $accent;
  }

  .progress-block.completed {
    background-color: $planet-green;
  }

  .progress-block.not-started {
    background-color: $grey;
  }

  .progress-block.pending {
    background-color: orange;
  }
}

