<mat-toolbar>
  <a mat-icon-button (click)="navigateBack()"><mat-icon>arrow_back</mat-icon></a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span>
      {{headingStart ? headingStart + ' ' : ''}}
      <ng-container *ngIf="selectedStep === undefined" i18n>Course Progress</ng-container>
      <ng-container *ngIf="selectedStep !== undefined" i18n>Exam Progress</ng-container>
    </span>
    <span class="toolbar-fill"></span>
    <button mat-raised-button color="accent" class="margin-lr-3" *ngIf="selectedStep !== undefined" (click)="resetToFullCourse()" i18n>Show full course</button>
    <mat-form-field *ngIf="submittedExamSteps?.length > 1">
      <mat-select i18n-placeholder placeholder="View Exam Progress" [value]="selectedStep" (selectionChange)="onStepChange($event.value)">
        <mat-option *ngFor="let step of submittedExamSteps" [value]="step">
          {{ step.stepTitle || 'Step ' + (step.index + 1) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <planet-courses-progress-chart *ngIf="chartData?.length; else noProgress" [inputs]="chartData" [height]="yAxisLength" (changeData)="changeData($event)">
    </planet-courses-progress-chart>
    <ng-template #noProgress i18n>No Progress record available</ng-template>
  </div>
</div>
