<table class="simple-table">
  <thead>
    <tr>
      <th i18n>Steps</th>
      <th i18n>Success (%)</th>
      <th i18n>Total Errors</th>
      <!-- Dynamic User Headers -->
      <th *ngFor="let set of sets" class="user-header">
        <div class="user-header-content">
          <planet-avatar 
            *ngIf="showAvatar" 
            [username]="set.label" 
            [planetCode]="set.planetCode" 
            imgClass="profile-image">
          </planet-avatar>
          <div class="user-name">
            {{ set.label }} ({{ set.total }})
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Data Rows -->
    <tr *ngFor="let i of horizTotals; let index = index">
      <td>
        {{ index + 1 }}
      </td>
      <td>
        <ng-container *ngIf="calculateSuccessPercentage(index) !== null; else showDash">
          <span [ngClass]="{
            'success-high': calculateSuccessPercentage(index) >= 90,
            'success-medium': calculateSuccessPercentage(index) >= 70 && calculateSuccessPercentage(index) < 90,
            'success-low': calculateSuccessPercentage(index) < 70
          }">
            {{ calculateSuccessPercentage(index) | number:'1.0-0' }}%
          </span>
        </ng-container>
        <ng-template #showDash>
          -
        </ng-template>
      </td>
      <td>
        <div
          i18n-matTooltip
          matTooltip="Click to see test detail"
          [matTooltipDisabled]="!i.clickable"
          [ngClass]="{'cursor-pointer': i.clickable}"
          (click)="i.clickable ? dataClick($event, [], index) : null">
          {{ i.count }}
        </div>
      </td>
      <!-- Dynamic User Data Cells -->
      <td *ngFor="let set of sets">
        <div *ngIf="set.items[index]" 
             i18n-matTooltip 
             matTooltip="Click to see test detail" 
             [matTooltipDisabled]="!set.items[index]?.clickable"
             [ngClass]="{'cursor-pointer': set.items[index]?.clickable}" 
             (click)="set.items[index]?.clickable ? dataClick($event, set, index) : null">
          <ng-container *ngIf="set.items[index].number === 0; else showNumber">
            0
          </ng-container>
          <ng-template #showNumber>
            <ng-container *ngIf="set.items[index].number > 0; else showDash">
              {{ set.items[index].number }}
            </ng-container>
            <ng-template #showDash>
              -
            </ng-template>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
