<div class="progress-chart-container">
  <table class="progress-table">
    <thead>
      <tr>
        <th *ngIf="showTotals">{ label, select, Steps {Steps} Quest. {Quest.} other {Steps} }</th>
        <th>Errors</th>
      </tr>
    </thead>    
    <tbody>
      <tr *ngFor="let set of sets; index as i">
        <td data-label="Steps">
          <div *ngFor="let total of horizTotals.slice().reverse(); let j = index" 
               class="border-bottom"
               [ngClass]="{'cursor-pointer': total.clickable}"
               (click)="dataClick($event, [], j)">
            {{ j + 1 }}
          </div>
        </td>
        <td *ngIf="showTotals" data-label="Errors">
          <div *ngFor="let total of horizTotals; let j = index" 
               class="border-bottom"
               [ngClass]="{'cursor-pointer': total.clickable}"
               (click)="dataClick($event, [], j)">
            <span [ngClass]="{'accent-color': total.count > 0}" class="error-number">{{ total.count }}</span>
          </div>
        </td>        
      </tr>
    </tbody>
  </table>
  <div class="total-errors-message">
    <ng-container *ngFor="let set of sets; index as i">
      Total Errors: <b>{{ set.total }}</b>
    </ng-container>
  </div>
  <div class="avatar-section">
    <div *ngFor="let set of sets" class="avatar-container">
      <planet-avatar *ngIf="showAvatar"
                     class="cursor-pointer"
                     (click)="labelClick(set)"
                     [username]="set.label"
                     [planetCode]="set.planetCode"
                     imgClass="profile-image-update"></planet-avatar>
      <div class="wrap-content cursor-pointer"
           (click)="labelClick(set)">
        <p>{{ set.label }}</p>
      </div>
    </div>
  </div>
</div>
