<div class="progress-chart-container">
  <!-- Steps Column -->
  <div class="errors errors-index">
    <div class="anchor-label">Steps</div>
    <div *ngFor="let total of horizTotals.slice().reverse(); index as i"
         class="border-bottom"
         [ngClass]="{'cursor-pointer': total.clickable}"
         (click)="dataClick($event, [], i)">
      {{ i + 1 }}
    </div>
  </div>

  <!-- Total Errors Column -->
  <div class="errors errors-total">
    <ng-container *ngIf="showTotals">
      <div class="anchor-label">Total Errors</div>
      <div *ngFor="let total of horizTotals; index as i"
           class="border-bottom accent-color"
           [ngClass]="{'cursor-pointer': total.clickable}"
           (click)="dataClick($event, [], i)">
        {{ total.count }}
      </div>
    </ng-container>
  </div>

  <!-- User Data Row -->
  <div class="errors-user">
    <div class="errors" *ngFor="let set of sets">
      <div *ngFor="let item of set?.items; index as i"
           class="border-bottom"
           [ngClass]="{'primary-color': item.fill, 'cursor-pointer': item.clickable}"
           (click)="dataClick($event, set, i)">
        {{ item.number }}
      </div>
    </div>
  </div>

  <!-- Totals and Labels Row -->
  <div class="errors-user-total">
    <div class="errors" *ngFor="let set of sets">
      <div>{{ set.total }}</div>
      <planet-avatar *ngIf="showAvatar"
                     class="cursor-pointer"
                     (click)="labelClick(set)"
                     [username]="set.label"
                     [planetCode]="set.planetCode"
                     imgClass="profile-image-large"></planet-avatar>
      <div class="wrap-content cursor-pointer"
           (click)="labelClick(set)">
        <p>{{ set.label }}</p>
      </div>
    </div>
  </div>
</div>
