<mat-toolbar>
  <a mat-icon-button (click)="navigateBack()"><mat-icon>arrow_back</mat-icon></a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>{{headingStart ? headingStart + ' ' : ''}}Course Progress</span>
    <span class="toolbar-fill"></span>
    <mat-form-field *ngIf="course?.steps.length > 1">
      <mat-select i18n-placeholder placeholder="List of Steps" [value]="selectedStep" (selectionChange)="onStepChange($event.value)">
        <mat-option *ngFor="let step of course?.steps; index as i" [value]="step">
          {{ step.stepTitle || 'Step ' + (i + 1) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <planet-courses-progress-chart *ngIf="chartData?.length; else noProgress" [inputs]="chartData" [height]="yAxisLength">
    </planet-courses-progress-chart>
    <ng-template #noProgress i18n>No Progress record available</ng-template>
  </div>
</div>
