@import '../../variables';

:host {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3px;
  grid-auto-flow: column;

  div {
    background-color: $accent;
  }

  div.completed {
    background-color: $planet-green;
  }

  div.not-started {
    background-color: $grey;
  }

}
