<mat-toolbar>
  <a mat-icon-button (click)="navigateBack()"><mat-icon>arrow_back</mat-icon></a><span i18n>myProgress</span>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>Courses: myProgress</span>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <planet-courses-progress-chart *ngIf="chartData?.length; else noProgress" [inputs]="chartData" [height]="yAxisLength" [showTotals]="false" (clickAction)="handleCourseClick($event)" (changeData)="changeData($event)">
    </planet-courses-progress-chart>
    <ng-template #noProgress>
      <planet-loading-spinner *ngIf="isLoading" text="Loading progress..." i18n-text></planet-loading-spinner>
      <div class="view-container" *ngIf="!isLoading" i18n>
        No Progress record available
      </div>
    </ng-template>
  </div>
</div>
