@import '../../variables';

.simple-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;

  th, td {
    padding: 8px;
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
  }

  .user-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .highlight-green {
    background-color: green;
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .highlight-yellow {
    background-color: orange;
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .highlight-red {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
  }

  .accent-highlight {
    background-color: $accent;
    color: $accent-text;
  }

  .number-highlight {
    background-color: $accent;
    color: $accent-text;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
  }
}
