@import '../../variables';

:host {

  $cell-size: 45px;
  $column-gap: 4px;

  grid-template-areas:
    "total index user"
    ". . usertotal";
  grid-template-columns: fit-content($cell-size) $cell-size 1fr;
  grid-template-rows: calc(#{$view-container-height} - 2rem - (#{$cell-size} * 2)) calc(#{$cell-size} * 2);

  &, .errors-container {
    display: grid;
    grid-auto-columns: $cell-size;
    grid-auto-flow: column;
  }

  .errors {
    display: grid;
    grid-auto-rows: $cell-size;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .errors-total, .errors-index, .errors-user-total {
    overflow: hidden;
  }

  .errors-total {
    grid-area: total;
  }

  .errors-index {
    grid-area: index;
  }

  .errors-user {
    grid-area: user;
    margin-top: $cell-size;
    overflow: scroll;
  }

  .errors-user::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  .errors-user-total {
    grid-area: usertotal;
  }

  .border-bottom {
    position: relative;
  }

  .border-bottom:before {
    content:"";
    position: absolute;
    top: 0px;
    height: $cell-size;
    width: calc(#{$cell-size} + #{$column-gap});
    border-bottom: 3px solid $grey;
    z-index: 10;
  }

  .wrap-content {
    min-width: 0;
  }

  .wrap-content p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}
