<div class="event-container">
  <h5 class="gutter-bottom event-title">Eventos para hoy</h5>

  <div class="event-card-container">
    <ng-container *ngIf="!isEmpty(events)">
      <planet-landing-eventcard
        *ngFor="let event of events"
        [event]="event"
        (cardDetailsEvent)="seeDetails($event, id)"
      ></planet-landing-eventcard>
    </ng-container>
    <p class="event-card-text" *ngIf="isEmpty(events)">
      No hay eventos para hoy aún
    </p>
  </div>

  <br /><br />
</div>
