<app-nav> </app-nav>
<div class="container">
<p>{{message}}</p>
<form class="form-horizontal" (ngSubmit)="onSubmit(meetupForm.value)" #meetupForm="ngForm">
<fieldset>

<!-- Form Name -->
<legend>Start a New Meetup</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Title</label>  
  <div class="col-md-4">
  <input id="textinput" name="title" type="text" ngModel placeholder="title" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Description</label>  
  <div class="col-md-4">
   <input id="textinput" name="description" type="text" ngModel placeholder="description" class="form-control input-md" required="">
    
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" routerLink="../meetups">Save</button>
  </div>
</div>

</fieldset>
</form>
</div>
<app-footer></app-footer>