export const environment = {
  production: false,
  test: false,
  gatewayAddress: window.location.protocol + '//' + window.location.hostname + ':{{GATEWAY_PORT}}',
  couchAddress: window.location.protocol + '//' + window.location.hostname + ':{{COUCH_PORT}}',
  centerAddress: 'planet.earth.ole.org/db',
  centerProtocol: 'https',
  parentProtocol: '{{PARENT_PROTOCOL}}',
  upgradeAddress: window.location.origin + '/upgrade',
  syncAddress: window.location.protocol + '//localhost:5984'
};
