@import '../../variables';

:host {

  .view-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;

    > * {
      overflow-y: auto;
    }

  }

  planet-resources-viewer * {
    max-width: 100%;
  }

  .course-detail {
    padding: 2rem;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ai-banner {
    padding: 0.2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 1rem;
  }

  .full-view-container.view-container {
    grid-template-columns: 0 1fr;
    grid-column-gap: 0;
  }

}
