<mat-toolbar>
  <a mat-icon-button (click)="backToCourseDetail()"><mat-icon>arrow_back</mat-icon></a>
  <span i18n>Course</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <h3 class="margin-lr-3 ellipsis-title"><ng-container i18n>Step</ng-container> {{stepNum}}<span *ngIf="stepDetail.stepTitle">: </span>{{stepDetail.stepTitle}}</h3>
    <span class="toolbar-fill"></span>
    <div>
      <span class="margin-lr-10" *ngIf="attempts && !parent" i18n>Past attempts: {{attempts}}</span>
      <a
        mat-raised-button
        color="accent"
        class="margin-lr-10"
        *ngIf="stepDetail?.exam?.questions.length && isUserEnrolled"
        (click)="goToExam()">
        {{isExamInProgress ? "Take Test" : "Continue Test"}}
      </a>
      <a
        mat-raised-button
        color="accent"
        class="margin-lr-10"
        *ngIf="stepDetail?.survey?.questions.length && isUserEnrolled"
        (click)="goToExam('survey')">
        Take Survey
      </a>
      <a
        mat-raised-button
        color="accent"
        class="margin-lr-10"
        *ngIf="stepDetail.resources.length !== 0"
        [href]="resourceUrl"
        target="_blank"
        i18n>
        Open resource new tab
      </a>
      <mat-form-field *ngIf="stepDetail.resources.length > 1">
        <mat-select i18n-placeholder placeholder="List of Resources" [value]="resource" (selectionChange)="onResourceChange($event.value)">
          <mat-option class="margin-lr-10" *ngFor="let resource of stepDetail.resources; index as i" [value]="resource">
            {{ resource.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span i18n>{{stepNum}}/{{maxStep}}</span>
      <button mat-icon-button [disabled]="stepNum === 1" (click)="changeStep(-1)"><mat-icon>navigate_before</mat-icon></button>
      <button mat-icon-button [disabled]="stepNum === maxStep || (!parent && stepDetail?.exam?.questions.length && !attempts)" (click)="changeStep(1)"><mat-icon>navigate_next</mat-icon></button>
    </div>
  </mat-toolbar>
  <div class="view-container view-full-height" *ngIf="stepDetail?.description || resource?._attachments; else emptyRecord">
    <td-markdown *ngIf="stepDetail?.description" class="description" [content]="stepDetail.description"></td-markdown>
    <planet-resources-viewer
      *ngIf="resource?._attachments"
      [fetchRating]="false"
      [resourceId]="resource._id"
      (resourceUrl)="setResourceUrl($event)">
    </planet-resources-viewer>
  </div>
  <ng-template #emptyRecord>
    <div class="view-container view-full-height" i18n>No description provided.</div>
  </ng-template>
</div>
