<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Courses</span>
  <span class="toolbar-fill"></span>
  <mat-form-field class="font-size-1 margin-lr-3">
    <mat-select placeholder="Grade Level" [value]="filter.gradeLevel || 'All'" (selectionChange)="onFilterChange($event.value, 'gradeLevel')">
      <mat-option i18n value="All">All</mat-option>
      <mat-option *ngFor="let option of gradeOptions" value={{option}}>{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="font-size-1 margin-lr-3">
    <mat-select placeholder="Subject Level" [value]="filter.subjectLevel || 'All'" (selectionChange)="onFilterChange($event.value, 'subjectLevel')">
      <mat-option i18n value="All">All</mat-option>
      <mat-option *ngFor="let option of subjectOptions" value={{option}}>{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="font-size-1 margin-lr-3">
    <input matInput i18n-placeholder placeholder="Title" [(ngModel)]="titleSearch">
  </mat-form-field>
  <button mat-button i18n (click)="resetSearch()"><span>Reset</span></button>
</mat-toolbar>
<div class="space-container primary-link-hover">
  <mat-toolbar class="primary-color font-size-1">
    <span class="toolbar-fill"></span>
    <ng-container *ngIf="parent">
      <button mat-button [disabled]="!selection.selected.length" (click)="shareCourse('pull', selection.selected)">
        <mat-icon aria-hidden="true" class="margin-lr-3">cloud_download</mat-icon><span i18n>Get course</span>
      </button>
    </ng-container>
    <ng-container *ngIf="!parent">
      <ng-container *ngIf="user.isUserAdmin">
        <button *ngIf="planetType !== 'center' && planetConfiguration.registrationRequest === 'accepted'" mat-button (click)="shareCourse('push', selection.selected)" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3" >cloud_upload</mat-icon>
          <span i18n>Send Courses</span>
          <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
        </button>
        <button mat-button [disabled]="!selection.selected.length || selectedNotEnrolled === 0" (click)="enrollInSelected(selection.selected, 'add')">
          <mat-icon aria-hidden="true" class="margin-lr-3">library_add</mat-icon><span i18n>Join Selected</span>
          <span *ngIf="selection?.selected?.length"> ({{selectedNotEnrolled}})</span>
        </button>
        <button *ngIf="planetType !== 'community'" mat-button (click)="openSendCourseDialog()" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3" >compare_arrows</mat-icon>
          <span i18n>Push To Child</span>
          <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
        </button>
        <button mat-button (click)="deleteSelected()" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon><span i18n>Delete</span>
          <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
        </button>
      </ng-container>
      <button mat-mini-fab routerLink="add" ><mat-icon>add</mat-icon></button>
    </ng-container>
  </mat-toolbar>

  <div class="view-container view-full-height view-table" *ngIf="!emptyData; else notFoundMessage">
    <mat-table #table [dataSource]="courses" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (change)="$event ? rowToggle(row) : null"
            [checked]="selection.isSelected(row._id)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="courseTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Title </mat-header-cell>
        <mat-cell  *matCellDef="let element" class="list-content-menu">
          <h3 class="header"><a [routerLink]="['view', element._id]">{{element.courseTitle}}</a>
          </h3>
          <td-markdown class="content">{{ element.description }}</td-markdown>
          <planet-local-status [status]="element.localStatus"></planet-local-status>
          <button *ngIf="!parent" class="menu" mat-icon-button [matMenuTriggerFor]="resourceMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <div class="course-progress" *ngIf="element.admission && element.steps.length && !parent">
            <span i18n>Your progress:</span>
            <planet-courses-progress-bar [course]="element" [courseProgress]="element.progress"></planet-courses-progress-bar>
          </div>
          <mat-menu #resourceMenu="matMenu">
            <a mat-menu-item *ngIf="!element.admission && element.steps.length" (click)="courseToggle(element._id, 'admission')">
              <mat-icon>school</mat-icon>
              <span i18n>Join</span>
            </a>
            <a mat-menu-item *ngIf="element.admission" (click)="courseToggle(element._id, 'resign')">
              <mat-icon>clear</mat-icon>
              <span i18n>Leave</span>
            </a>
            <a mat-menu-item planetFeedback [feedbackOf]="{'state': 'courses', 'item': element._id}" i18n-title title="Feedback">
              <mat-icon>feedback</mat-icon>
              <span i18n>Feedback</span>
            </a>
            <a mat-menu-item *ngIf="element.canManage" (click)="updateCourse(element)">
              <mat-icon>folder</mat-icon>
              <span i18n>Manage</span>
            </a>
            <a mat-menu-item [routerLink]="['/courses/view', element._id]">
              <mat-icon>visibility</mat-icon>
              <span i18n>View Course</span>
            </a>
            <a mat-menu-item [routerLink]="['/courses/progress', element._id]">
              <mat-icon>equalizer</mat-icon>
              <span i18n>Progress</span>
            </a>
            <button mat-menu-item *ngIf="element.canManage" (click)="deleteClick(element)">
              <mat-icon>delete_forever</mat-icon>
              <span i18n>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef i18n> Information </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div>
            <p>{{ "Grade Level: " + element.gradeLevel}}</p>
            <p>{{ "Subject Level: " + element.subjectLevel}}</p>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef i18n>Rating</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <planet-rating [rating]="element.rating" [item]="element" [parent]="parent" [ratingType]="'course'"></planet-rating>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:selection.isSelected(row._id)}"></mat-row>
    </mat-table>

    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>
  <ng-template #notFoundMessage>
    <div class="view-container">No Course Found</div>
  </ng-template>
</div>
