<mat-toolbar *ngIf="!isForm">
  <ng-container *ngIf="deviceType === deviceTypes.TABLET || deviceType === deviceTypes.DESKTOP; else mobileView">
    <mat-toolbar-row>
      <button mat-icon-button (click)="goBack()" *ngIf="!isDialog"><mat-icon>arrow_back</mat-icon></button>
      <span i18n>{myCoursesFilter.value, select, on {myCourses} off {Courses}}</span>
      <mat-form-field class="font-size-1 margin-lr-4 mat-form-field-type-no-underline mat-form-field-dynamic-width collections-search">
        <planet-tag-input [formControl]="tagFilter" [db]="dbName" [parent]="parent" [filteredData]="courses.filteredData" [helperText]="false" [largeFont]="true" [selectMany]="false" mode="filter" [updateRouteParam]="!isDialog"></planet-tag-input>
      </mat-form-field>
      <span class="toolbar-fill"></span>
      <ng-container *ngTemplateOutlet="filterOptions"></ng-container>
    </mat-toolbar-row>
  </ng-container>

  <ng-template #mobileView>
    <mat-toolbar-row>
      <button mat-icon-button (click)="goBack()" *ngIf="!isDialog"><mat-icon>arrow_back</mat-icon></button>
      <span i18n>{myCoursesFilter.value, select, on {myCourses} off {Courses}}</span>
      <mat-form-field class="font-size-1 margin-lr-4 mat-form-field-type-no-underline mat-form-field-dynamic-width collections-search">
        <planet-tag-input [formControl]="tagFilter" [db]="dbName" [parent]="parent" [filteredData]="courses.filteredData" [helperText]="false" [largeFont]="true" [selectMany]="false" mode="filter" [updateRouteParam]="!isDialog"></planet-tag-input>
      </mat-form-field>
      <span class="toolbar-fill"></span>
      <button mat-icon-button (click)="this.showFiltersRow = !this.showFiltersRow" ><mat-icon>filter_list</mat-icon></button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="showFiltersRow">
      <ng-container *ngTemplateOutlet="filterOptions"></ng-container>
    </mat-toolbar-row>
  </ng-template>

  <mat-toolbar-row class="search-bar" *ngIf="showFilters">
    <planet-courses-search [filteredData]="courses.filteredData" [startingSelection]="searchSelection" (searchChange)="onSearchChange($event)"></planet-courses-search>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #filterOptions>
  <span class="font-size-1 margin-lr-4" i18n>Search by:</span>
  <button mat-stroked-button i18n (click)="this.showFilters = !this.showFilters">Filter</button>
  <mat-form-field class="font-size-1 margin-lr-4">
    <input matInput i18n-placeholder placeholder="Title" [(ngModel)]="titleSearch">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="resetFilter()" [disabled]="courses.filter.trim() === '' && tagFilter.value.length === 0 && searchSelection._empty"><span i18n>Clear</span></button>
</ng-template>

<div [ngClass]="{ 'space-container': !isForm }" class="primary-link-hover">
  <mat-toolbar class="primary-color font-size-1" *ngIf="!isDialog && !isForm">
    <ng-container *ngIf="isAuthorized">
      <button *ngIf="!parent" mat-mini-fab routerLink="add" ><mat-icon>add</mat-icon></button>
      <div class="column margin-lr-5">
        <planet-filtered-amount [table]="courses" labelFor="courses"></planet-filtered-amount>
        <planet-tag-selected-input [selectedIds]="tagFilter.value" [allTags]="tagInputComponent?.tags"></planet-tag-selected-input>
      </div>
      <span class="toolbar-fill"></span>
      <ng-container *ngIf="parent">
        <button mat-button [disabled]="!selection.selected.length" (click)="shareCourse('pull', selection.selected)">
          <mat-icon aria-hidden="true" class="margin-lr-3">cloud_download</mat-icon><span i18n>Get Course</span>
        </button>
      </ng-container>
      <ng-container *ngIf="!parent && deviceType !== deviceTypes.DESKTOP">
        <button class="menu" mat-icon-button [matMenuTriggerFor]="actionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" class="ellipsis-menu">
          <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="!parent && deviceType === deviceTypes.DESKTOP">
        <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
      </ng-container>
    </ng-container>
  </mat-toolbar>

  <ng-template #actionButtons>
    <ng-container *ngIf="user.isUserAdmin">
      <mat-form-field class="font-size-1 margin-lr-3 mat-form-field-type-no-underline mat-form-field-dynamic-width collections-search">
        <planet-tag-input [db]="dbName" [disabled]="selection?.selected?.length === 0" mode="add" labelType="change" [helperText]="false" [filteredData]="courses.data" [selectedIds]="selection.selected" (finalTags)="addTagsToSelected($event)"></planet-tag-input>
      </mat-form-field>
    </ng-container>
    <button mat-button [ngClass]="{'mat-menu-item': deviceType !== deviceTypes.DESKTOP }" [disabled]="selectedNotEnrolled === 0" (click)="enrollLeaveToggle(selection.selected, 'add')">
      <mat-icon aria-hidden="true" class="margin-lr-3">library_add</mat-icon><span i18n>Join Selected</span>
      <span *ngIf="selectedNotEnrolled > 0"> ({{selectedNotEnrolled}})</span>
    </button>
    <button mat-button [ngClass]="{'mat-menu-item': deviceType !== deviceTypes.DESKTOP }" [disabled]="selectedEnrolled === 0" (click)="enrollLeaveToggle(selection.selected, 'remove')">
      <mat-icon aria-hidden="true" class="margin-lr-3">clear</mat-icon><span i18n>Leave Selected</span>
      <span *ngIf="selectedEnrolled > 0"> ({{selectedEnrolled}})</span>
    </button>
    <ng-container *ngIf="user.isUserAdmin">
      <button mat-button [ngClass]="{'mat-menu-item': deviceType !== deviceTypes.DESKTOP }" [matMenuTriggerFor]="managerMenu" *planetAuthorizedRoles="''" [disabled]="!selection.selected.length" i18n>Manager Actions</button>
      <mat-menu #managerMenu="matMenu">
        <!-- TODO: Need to figure out how to resolve conflicts when sending course back to parent -->
        <button *ngIf="planetType !== 'center' && planetConfiguration.registrationRequest === 'accepted'" mat-menu-item (click)="shareLocal(selection.selected)" [disabled]="selectedLocal === 0">
          <mat-icon aria-hidden="true" class="margin-lr-3" >cloud_upload</mat-icon>
          <span i18n>Send Courses</span>
          <span *ngIf="selectedLocal > 0"> ({{selectedLocal}})</span>
        </button>
        <button *ngIf="planetType !== 'community'" mat-menu-item (click)="openSendCourseDialog()" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3" >compare_arrows</mat-icon>
          <span i18n>Push To {planetType, select, center {Nation} other {Community}}</span>
          <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
        </button>
        <button mat-menu-item (click)="deleteSelected()" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon><span i18n>Delete</span>
          <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
        </button>
      </mat-menu>
    </ng-container>
  </ng-template>

  <div [ngClass]="{ 'view-container view-full-height view-table': !isForm }">
    <mat-table #table [dataSource]="courses" matSort [matSortDisableClear]="true" [trackBy]="trackById" multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="table-selection-top">
          <mat-checkbox (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row._id)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="courseTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header="courseTitle" i18n> Title </mat-header-cell>
        <mat-cell *matCellDef="let element" class="list-content-menu" [ngClass]="{'list-content-menu-auto': element.doc.courseTitle.length > 50 }">
          <h3 class="header">
              <mat-checkbox class="mobile-checkbox" (change)="$event ? selection.toggle(element._id) : null"
                [checked]="selection.isSelected(element._id)">
              </mat-checkbox>
              <span class="margin-lr-5"></span>
            <ng-container *ngTemplateOutlet="headerText"></ng-container>
            <ng-template #headerText>
              <a class="break-word" [ngClass]="{ 'cursor-pointer': !isDialog && !isForm }" [routerLink]="!isDialog && !isForm ? ['view', element._id] : ['/courses/view', element._id]" [target]="isDialog || isForm ? '_blank' : null">
                {{element.doc.courseTitle | truncateText:180}}
              </a>
              <span *ngIf="!parent && !isDialog" [ngClass]="{ 'cursor-pointer': !isForm }">
                <mat-icon class="margin-lr-3" i18n-matTooltip matTooltip="In myCourses" [inline]="true" *ngIf="element.admission" (click)="courseToggle(element._id, 'resign')">bookmark</mat-icon>
                <mat-icon class="margin-lr-3" i18n-matTooltip matTooltip="Not in myCourses" [inline]="true" *ngIf="!element.admission && element.doc.steps.length" (click)="courseToggle(element._id, 'admission')">bookmark_border</mat-icon>
              </span>
            </ng-template>
          </h3>
          <div class="course-progress" *ngIf="element.admission && element.doc.steps.length && !parent && !isDialog && !isForm">
            <span i18n>myProgress:</span>
            <planet-courses-progress-bar [course]="element.doc" [courseProgress]="element.progress"></planet-courses-progress-bar>
          </div>
          <mat-chip-list #tagsList class="tags-list">
            <ng-container *ngFor="let tag of element.tags">
              <mat-chip *ngIf="tag.isMainTag" (click)="addTag(tag._id)" color="primary" selected>
                {{tag.name}}
              </mat-chip>
              <mat-chip *ngFor="let subTag of tag.subTags" (click)="addTag(subTag._id)">
                {{subTag.name}}
              </mat-chip>
            </ng-container>
          </mat-chip-list>
          <div class="content">
            <planet-markdown *ngIf="!isExpanded(element)" [content]="element.doc.description" [imageSource]="parent ? 'parent' : 'local'" [previewMode]="!isExpanded(element)" [limit]="previewLimit"></planet-markdown>
            <div *ngIf="showPreviewExpand(element.doc)" style="text-align: center;" (click)="toggleRow(element); $event.stopPropagation()">
              <button mat-icon-button>
                <mat-icon>{{isExpanded(element) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
              </button>
            </div>
          </div>
          <planet-local-status [status]="element.localStatus"></planet-local-status>
          <button *ngIf="!parent && !isDialog && !isForm" class="menu" mat-icon-button [matMenuTriggerFor]="resourceMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #resourceMenu="matMenu">
            <a mat-menu-item *ngIf="!element.admission && element.doc.steps.length" (click)="courseToggle(element._id, 'admission')">
              <mat-icon>school</mat-icon>
              <span i18n>Join</span>
            </a>
            <a mat-menu-item *ngIf="element.admission" (click)="courseToggle(element._id, 'resign')">
              <mat-icon>clear</mat-icon>
              <span i18n>Leave</span>
            </a>
            <a mat-menu-item planetFeedback [feedbackOf]="{'state': 'courses', 'item': element._id, name: element.doc.courseTitle}" i18n-title title="Feedback">
              <mat-icon>feedback</mat-icon>
              <span i18n>Feedback</span>
            </a>
            <a mat-menu-item *ngIf="element.canManage" (click)="updateCourse(element.doc)">
              <mat-icon>edit</mat-icon>
              <span i18n>Edit Course</span>
            </a>
            <a mat-menu-item [routerLink]="['/courses/view', element._id]">
              <mat-icon>visibility</mat-icon>
              <span i18n>View Course</span>
            </a>
            <a *ngIf="user.isUserAdmin" mat-menu-item [routerLink]="['/courses/progress', element._id]">
              <mat-icon>equalizer</mat-icon>
              <span i18n>Progress</span>
            </a>
            <a mat-menu-item *ngIf="element.canManage" [routerLink]="['/courses/enrolled', element._id]">
              <mat-icon>person</mat-icon>
              <span i18n>Enroll List</span>
            </a>
            <button mat-menu-item *ngIf="element.canManage" (click)="deleteClick(element.doc)">
              <mat-icon>delete_forever</mat-icon>
              <span i18n>Delete</span>
            </button>
            <button mat-menu-item [planetDialogsRatings]="element" [disabled]="element.rating.totalRating === 0">
              <mat-icon>star</mat-icon>
              <span i18n>View Ratings</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef i18n> Information </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div>
            <p><ng-container i18n>Grade Level:</ng-container>{{ " " }}<planet-language-label [options]="gradeOptions" [label]="element.doc.gradeLevel"></planet-language-label></p>
            <p><ng-container i18n>Subject Level:</ng-container>{{ " " }}<planet-language-label [options]="subjectOptions" [label]="element.doc.subjectLevel"></planet-language-label></p>
            <p *ngIf="element.doc.languageOfInstruction">
              <ng-container i18n>Language:</ng-container>{{ " " }}
              {{element.doc.languageOfInstruction}}
            </p>
            <p *ngIf="element.doc.sourcePlanet !== planetConfiguration.code && element.doc.sourcePlanet">
              <ng-container i18n>Source: </ng-container>{{ element.doc.sourcePlanet }}
            </p>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="createdDate" start="desc" i18n>Created On</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="created-label" i18n>Created: </span>
          {{element.doc.createdDate | date}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef class="rating-header"  mat-sort-header="rating" start="desc" i18n>Rating</mat-header-cell>
        <mat-cell *matCellDef="let element" class="rating-cell">
          <planet-rating class="rating-item compress-rating" [rating]="element.rating" [item]="element.doc" [parent]="parent" [ratingType]="'course'" [disabled]="isDialog || isForm"></planet-rating>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div [@detailExpand]="isExpanded(element) ? 'expanded' : 'collapsed'" (@detailExpand.done)="onExpansionDone($event, element)">
            <ng-container *ngIf="element.renderContent && isExpanded(element)">
              <planet-markdown
                class="img-resize"
                [imageSource]="parent ? 'parent' : 'local'"
                [content]="element.doc.description">
              </planet-markdown>
            </ng-container>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded-row]="isExpanded(row)"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail'];" [@detailExpand]="isExpanded(row) ? 'expanded' : 'collapsed'"></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td><div class="view-container" *ngIf="!isLoading" i18n>No Course Found</div></td>
      </tr>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>
</div>
