@import '../variables';

$toolbar-height: 25vh;
$label-height: 1rem;
.mat-mdc-table {
  .mat-mdc-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }

  .mat-mdc-cell {
    border: none;
  }

  /* Column Widths */
  .mat-column-select {
    max-width: 44px;
    padding: 0 0 0 24px;
  }

  .mat-column-info {
    max-width: 200px;
    align-self: start;
    padding: 0;
  }

  .mat-column-createdDate {
    max-width: 100px;
    align-self: start;
    padding: 0;
  }

  .mat-column-rating {
    max-width: 145px;
    padding: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.column > * {
  line-height: normal;
}

.course-progress {
  margin-top: 0.5rem;
}

.ellipsis-menu {
  text-align: center;
}

.created-label {
  display: none;
}

.rating-header {
  justify-content: center;
}

.margin-tp {
  margin-top: 0.75rem;
}

.search-bar {
  height: $toolbar-height;
}

.break-word {
  word-break: break-word;
}

planet-courses {
  @media(max-width: $screen-md) {
    .mat-column-info {
      max-width: 120px;
    }

    .mat-column-createdDate {
      max-width: 70px;
    }
  }

  @media(max-width: $screen-sm) {
    .created-label {
      display: inline-block;
    }

    .mat-column-info {
      max-width: fit-content;
    }

    .mat-column-createdDate {
      max-width: fit-content;
    }

    .mat-mdc-header-row {
      display: none;
    }

    .mat-mdc-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }

    .table-selection-top {
      display: none;
    }

    .rating-cell {
      align-self: flex-end;
    }
  }
}
