<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Courses</span>
  <span class="toolbar-fill"></span>
  <mat-icon>search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="searchFilter($event.target.value)" i18n-placeholder placeholder="Search">
  </mat-form-field>
</mat-toolbar>

<div class="space-container primary-link-hover">
  <mat-toolbar class="primary-color font-size-1">
    <span class="toolbar-fill"></span>
    <button mat-button routerLink="request" routerLinkActive="active" [disabled]="!selection.selected.length">
      <mat-icon aria-hidden="true" class="margin-lr-3" >compare_arrows</mat-icon>
      <span i18n>Request Courses</span>
    </button>
    <button mat-button (click)="deleteSelected()" [disabled]="!selection.selected.length">
      <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon><span i18n>Delete</span>
    </button>
    <button mat-mini-fab routerLink="add" ><mat-icon>add</mat-icon></button>
  </mat-toolbar>
  <mat-table #table [dataSource]="courses" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n> Title </mat-header-cell>
      <mat-cell  *matCellDef="let element" class="list-content-menu">
        <h3 class="header"><a [routerLink]="['/courses/view', element._id]">{{element.courseTitle}}</a>
        </h3>
        <div class="content"><p>{{ element.description }}</p></div>
        <button class="menu" mat-icon-button [matMenuTriggerFor]="resourceMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-cell>
          <mat-menu #resourceMenu="matMenu">
            <a *ngIf="element.resign" mat-menu-item routerLink="add">
              <mat-icon>lock_open</mat-icon>
              <span i18n>Open</span>
            </a>
            <a mat-menu-item (click)="toggleResign(element,element._id)">
              <mat-icon>{{element.resign?"school":"clear"}}</mat-icon>
              <span i18n>{{element.resign?"Admission":"Resign"}}</span>
            </a>
            <a mat-menu-item (click)="updateCourse(element)">
              <mat-icon>folder</mat-icon>
              <span i18n>Manage</span>
            </a>
            <a mat-menu-item [routerLink]="['/courses/view', element._id]">
              <mat-icon>visibility</mat-icon>
              <span i18n>View Course</span>
            </a>
            <a mat-menu-item routerLink="add">
              <mat-icon>credit_card</mat-icon>
              <span i18n>Credits</span>
            </a>
            <a mat-menu-item routerLink="add">
              <mat-icon>equalizer</mat-icon>
              <span i18n>Progress</span>
            </a>
            <button mat-menu-item (click)="deleteClick(element)">
              <mat-icon>delete_forever</mat-icon>
              <span i18n>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef i18n> Information </mat-header-cell>
      <mat-cell *matCellDef="let element" class="list-content-menu">
        <div>
          <p>{{ "Grade Level: " + element.gradeLevel}}</p>
          <p>{{ "Subject Level: " + element.subjectLevel}}</p>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:selection.isSelected(row)}"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" i18n></mat-paginator>
</div>
