@use '../variables' as v;
@use './courses-shared' as c;
<<<<<<< HEAD

.mat-mdc-table {
  .mat-mdc-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
=======
>>>>>>> master

planet-courses {
  .mat-column-select {
    max-width: 44px;
    padding: 0 0 0 24px;
  }

  .mat-column-createdDate {
    max-width: 100px;
  }

  .column {
    display: flex;
    flex-direction: column;

<<<<<<< HEAD
.column {
  display: flex;
  flex-direction: column;
}

.column > * {
  line-height: normal;
}

.course-progress {
  margin-top: 0.5rem;
}

.ellipsis-menu {
  text-align: center;
}

.created-label {
  display: none;
}

.rating-header {
  justify-content: center;
}

.break-word {
  word-break: break-word;
}

planet-courses {
  .preview-content {
    height: 9rem;
    overflow: hidden;
=======
    > * {
      line-height: normal;
    }
>>>>>>> master
  }

  .course-progress {
    margin-top: 0.5rem;
  }

  .ellipsis-menu {
    text-align: center;
  }

  .margin-tp {
    margin-top: 0.75rem;
  }

  .search-bar {
    height: c.$toolbar-height;
  }

  .break-word {
    word-break: break-word;
  }

  .search-bar {
    height: c.$toolbar-height;
  }

  @media(max-width: v.$screen-md) {
    .mat-column-createdDate {
      max-width: 70px;
    }
  }
}
