@import '../variables';

$toolbar-height: 25vh;
$label-height: 1rem;

/* Column Widths */
.mat-column-info {
  max-width: 200px;
  align-self: start;
}

.mat-column-createdDate {
  max-width: 100px;
  align-self: start;
}

.mat-column-rating {
  max-width: 115px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > * {
  line-height: normal;
}

.course-progress {
  margin-top: 0.5rem;
}

.ellipsis-menu {
  text-align: center;
}

.created-label {
  display: none;
}

.rating-header {
  justify-content: center;
}

.margin-tp {
  margin-top: 0.75rem;
}

.search-bar {
  height: $toolbar-height;
}

.break-word {
  word-break: break-word;
}

planet-courses {
  @media(max-width: $screen-md) {
    .mat-column-info {
      max-width: 120px;
    }

    .mat-column-createdDate {
      max-width: 70px;
    }
  }

  @media(max-width: $screen-sm) {
    .created-label {
      display: inline-block;
    }

    .mat-column-info {
      max-width: fit-content;
    }

    .mat-column-createdDate {
      max-width: fit-content;
    }

    .mat-mdc-header-row {
      display: none;
    }

    .mat-mdc-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }

    .table-selection-top {
      display: none;
    }

    .rating-cell {
      align-self: flex-end;
    }
  }
}
