<mat-toolbar>
  <a mat-icon-button [routerLink]="parent ? ['/manager/resources'] : ['/resources']"><mat-icon>arrow_back</mat-icon></a>
  <span i18n>Library</span>
</mat-toolbar>

<div class="space-container">
<mat-toolbar class="primary-color font-size-1">
    <span class="margin-lr-3">{{resource?.title}}</span>
    <button mat-button (click)="toggleFullView()" i18n>
      {fullView, select, on {Show} off {Hide}} details
    </button>
    <span class="toolbar-fill"></span>
    <ng-container *ngIf="!parent">
      <button mat-raised-button color="accent" (click)="libraryToggle(resource._id, 'add')" i18n class="margin-lr-3" *ngIf="!isUserEnrolled">
        Add to myLibrary
      </button>
      <button mat-raised-button color="accent" (click)="libraryToggle(resource._id, 'remove')" i18n class="margin-lr-3" *ngIf="isUserEnrolled">
        Remove from myLibrary
      </button>
    </ng-container>
    <a href={{resourceSrc}} mat-icon-button download [disabled]="!resource?.isDownloadable">
      <mat-icon>file_download</mat-icon>
    </a>
  </mat-toolbar>
  <div class="view-container" [ngClass]="{'full-view-container':fullView==='on'}">
    <div class="resource-detail bg-light-grey" [ngClass]="{'invisible':fullView==='on'}">
      <planet-rating [rating]="resource?.rating" [item]="resource" [parent]="parent" [ratingType]="'resource'"></planet-rating>
      <p><b>Author:</b> <i>{{resource?.author}}</i></p>
      <p><b>Published by:</b> {{resource?.Publisher}} on {{resource?.year}}</p>
      <p><b>Media:</b> {{ resource?.medium }}</p>
      <p><b>Language:</b> {{ resource?.language }}</p>
      <p><b>Subject/s:</b> {{resource?.subject}}</p>
      <p><b>to License:</b> <a href={{resource?.linkToLicense}} target="_blank">{{resource?.linkToLicense}}</a></p>
      <p><b>Resource:</b> {{ resource?.resourceFor }}</p>
      <p><b>Type:</b> {{ resource?.resourceType }}</p>
      <a mat-raised-button [href]="resourceSrc" target="_blank" color="primary" *ngIf="mediaType === 'HTML'">Open in new tab</a>
    </div>
    <planet-resources-viewer
      *ngIf="resource?._attachments"
      [resource]="resource"
      [resourceId]="resourceId"
      (resourceUrl)="setResourceUrl($event)">
    </planet-resources-viewer>
  </div>
</div>
