@import '../../variables';

:host {
  * {
    max-width: 100%;
  }

  iframe {
    display: block;
    border: none;
    align-self: center;
    height: calc(#{$dashboard-height});
    width: calc(#{$dashboard-height} + 20rem);
  }

  div > video {
    max-height: calc(#{$view-container-height} - 4px);
  }

  img {
    height: calc(#{$dashboard-height});
    width: calc(#{$dashboard-height} + 20rem);
    align-self: center;
  }
}
