
/* Consider using space-container app wide for route views */
.space-container {
  margin: 64px 30px;
  background: none;
}

:host {

  iframe {
    border: none;
    width: 100%;
    height: 60vh;
  }

  .view-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "detail view";
  }

  .full-view-container.view-container {
    grid-template-columns: 0 1fr;
  }

  .resource-detail {
    grid-area: detail;
    padding: 1rem;
  }

  .resource-view {
    grid-area: view;

    * {
      max-width: 100%;
      max-height: 60vh;
    }
  }

  button{
    padding: 2px;
    width: 20%;
  }

}
