@import '../../variables';
$full-height: calc(#{$view-container-height} - 2rem);

:host {
  * {
    max-width: 100%;
  }

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: $full-height;
  }

  div > video {
    max-height: $full-height;
  }

  .dialog-view {

    iframe {
      height: calc(#{$dashboard-height});
      width: calc(#{$dashboard-height} + 20rem);
    }

    img {
      max-height: calc(#{$dashboard-height});
      max-width: calc(#{$dashboard-height} + 20rem);
    }

  }

  .pdf-toolbar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }

}

.image-fit {
  object-fit: contain;
}
