@import '../../variables';
$full-height: calc(#{$view-container-height} - 2rem);

:host {
  * {
    max-width: 100%;
  }

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: $full-height;
  }

  div > video {
    max-height: $full-height;
  }

  .dialog-view {

    iframe {
      height: calc(#{$dashboard-height});
      width: calc(#{$dashboard-height} + 20rem);
    }

    img {
      height: calc(#{$dashboard-height});
      width: calc(#{$dashboard-height} + 20rem);
      align-self: center;
    }

  }

  .close-dialog {
    margin-top: -1rem;
    float: right;
  }

}
