<div [ngClass]="{'dialog-view':isDialog}" [ngSwitch]="mediaType">
  <img [src]="resourceSrc" class="image-fit" *ngSwitchCase="'image'">
  <video controls *ngSwitchCase="'video'" [src]="resourceSrc" i18n>
    Browser not supported
  </video>
  <audio controls [src]="resourceSrc" *ngSwitchCase="'audio'" i18n>
    Browser not supported
  </audio>
  <div *ngSwitchCase="'pdf'" style="position: relative;">
    <div class="pdf-toolbar">
      <button mat-icon-button style="color: white" (click)="openFullscreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
    <iframe #pdfViewer [src]="pdfSrc" width="100%" height="100%" allowfullscreen mozallowfullscreen webkitallowfullscreen
      oallowfullscreen msallowfullscreen></iframe>
  </div>
  <iframe *ngSwitchCase="'h5p'" [src]="pdfSrc" width="100%" height="600" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
  <div *ngSwitchCase="'other'"><a mat-raised-button color="primary" i18n href={{resourceSrc}}>Download/Open</a></div>
  <iframe *ngSwitchCase="'HTML'" [src]="pdfSrc"></iframe>
</div>
