<div [ngSwitch]="mediaType">
  <img [src]="resourceSrc" *ngSwitchCase="'image'">
  <video controls *ngSwitchCase="'video'" [src]="resourceSrc">
  </video>
  <audio controls *ngSwitchCase="'audio'">
    <source [src]="resourceSrc" [type]="contentType" />
    Browser not supported
  </audio>
  <iframe [src]="pdfSrc" *ngSwitchCase="'pdf'" width="100%" height="100%" allowfullscreen mozallowfullscreen webkitallowfullscreen
    oallowfullscreen msallowfullscreen ></iframe>
  <div *ngSwitchCase="'other'"><a mat-raised-button color="primary" i18n href={{resourceSrc}}>Download/Open</a></div>
  <iframe *ngSwitchCase="'HTML'" [src]="pdfSrc"></iframe>
</div>
