@use "../mixins" as m;

:host {
  display: block;
}

:host(.embedded),
:host(.embedded) > .primary-link-hover {
  height: 100%;
}

.mat-column-name {
  @include m.table-column-grow;
}

.mat-column-name span,
.mat-column-courseTitle .course-title {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-taken,
.mat-column-createdDate {
  @include m.table-column-fixed(16rem);
}

.mat-column-taken {
  justify-content: center;
  text-align: center;
}

.mat-column-courseTitle {
  @include m.table-column-fixed(15rem);
}

.mat-column-createdDate {
  text-align: start;
}

.mat-column-action {
  @include m.table-column-fixed(18rem);
}
