@if (!teamId) {
  <mat-toolbar>
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span i18n>Surveys</span>
    <span class="toolbar-fill"></span>
    <mat-icon class="input-icon">search</mat-icon>
    <mat-form-field class="font-size-1">
      <mat-label i18n>Type title to search...</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </mat-toolbar>
}

<div class="space-container primary-link-hover">
  @if (!teamId) {
    <mat-toolbar class="primary-color font-size-1">
      @if (isAuthorized) {
        <button mat-mini-fab (click)="routeToEditSurvey('add')" >
          <mat-icon>add</mat-icon>
        </button>
      }
      <span class="toolbar-fill"></span>
      @if (routeTeamId) {
        <mat-button-toggle-group [(ngModel)]="currentFilter.viewMode" (change)="toggleSurveysView()">
          <mat-button-toggle value="team" i18n>Team Surveys</mat-button-toggle>
          <mat-button-toggle value="adopt" i18n>Adopt a survey</mat-button-toggle>
        </mat-button-toggle-group>
      }
      <ng-container *planetAuthorizedRoles="'manager'">
        <button mat-button (click)="deleteSelected()" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon><span i18n>Delete</span>
          @if (selection?.selected?.length) {
            <span> ({{selection?.selected?.length}})</span>
          }
        </button>
      </ng-container>
    </mat-toolbar>
  }
  <div class="view-container view-full-height view-table">
    @if (isLoading && !useDialogLoading) {
      <planet-loading-spinner text="Loading surveys..." i18n-text></planet-loading-spinner>
    }
    <mat-table #table class="responsive-table min-width-table" [dataSource]="surveys" matSort matSortActive="createdDate" matSortDirection="desc" [matSortDisableClear]="true" [class.hidden]="isLoading && !useDialogLoading">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row._id)"
            [disabled]="!isRowSelectable(row)"
            [matTooltip]="getActionTooltip(row, 'select')">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="name" i18n>Survey</mat-header-cell>
        <mat-cell *matCellDef="let element"><span>{{element.name}}</span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="taken">
        <mat-header-cell *matHeaderCellDef mat-sort-header="taken" i18n>Number of Times Taken</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.taken}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="courseTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header="courseTitle" i18n>Course Linked</mat-header-cell>
        <mat-cell *matCellDef="let element">@if (element.course) {
          <span class="cursor-pointer course-title" [routerLink]="['/courses/view', element.course._id]">{{element.courseTitle}}</span>
        }</mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="createdDate" i18n>Created/Updated on</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.createdDate | date: 'mediumDate'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef i18n>Action</mat-header-cell>
        <mat-cell *matCellDef="let element" class="survey-action-cell">
          <div class="table-action-buttons">
          @if (element.parent !== true && currentFilter.viewMode !== 'adopt') {
            @if (!teamId) {
              <div [matTooltip]="getActionTooltip(element, 'edit')">
                <button mat-raised-button color="primary" (click)="routeToEditSurvey('update', element._id)" [disabled]="element.isArchived">
                  <mat-icon>edit</mat-icon>
                  @if (!isMobile) {
                    <label i18n> Edit</label>
                  }
                </button>
              </div>
            }
            @if (!teamId && !routeTeamId) {
              <div [matTooltip]="getActionTooltip(element, 'send')">
                <button mat-raised-button color="primary" [matMenuTriggerFor]="sendMenu" [disabled]="!element.questions?.length || element.isArchived || (element.teamId && isManagerRoute)">
                  <mat-icon>send</mat-icon>
                  @if (!isMobile) {
                    <label i18n> Send</label>
                  }
                </button>
              </div>
              <mat-menu #sendMenu="matMenu">
                <button mat-menu-item class="full-width" (click)="openSendSurveyToUsersDialog(element)" i18n>User</button>
                <button mat-menu-item class="full-width" (click)="openSendSurveyToTeamsDialog(element)" [disabled]="!element.teamShareAllowed" i18n>Team</button>
              </mat-menu>
            }
            <div [matTooltip]="getActionTooltip(element, 'record')">
              <button mat-raised-button color="primary" (click)="recordSurvey(element)" [disabled]="!element.questions?.length || element.isArchived || (element.teamId && isManagerRoute)">
                <mat-icon>fiber_manual_record</mat-icon>
                @if (!isMobile) {
                  <label i18n> Record</label>
                }
              </button>
            </div>
            @if (element.teamId && (teamId || routeTeamId)) {
              <div [matTooltip]="getActionTooltip(element, 'public')">
                <button mat-raised-button color="accent" (click)="element.publicAccess === true ? copyPublicSurveyLink(element) : toggleSurveyPublicAccess(element)" [disabled]="!element.questions?.length || element.isArchived">
                  <mat-icon>{{ element.publicAccess === true ? 'link' : 'public' }}</mat-icon>
                  @if (!isMobile) {
                    @if (element.publicAccess === true) {
                      <label i18n>Copy Public Link</label>
                    } @else {
                      <label i18n>Generate Public Link</label>
                    }
                  }
                </button>
              </div>
            }
            @if (element.publicAccess === true && element.teamId && (teamId || routeTeamId)) {
              <div [matTooltip]="getActionTooltip(element, 'revoke')">
                <button mat-raised-button color="accent" type="button" (click)="revokeSurveyPublicAccess(element)" [disabled]="element.isArchived">
                  <mat-icon>close</mat-icon>
                  @if (!isMobile) {
                    <label i18n>Revoke Public Link</label>
                  }
                  @if (isMobile) {
                    <label i18n>Revoke</label>
                  }
                </button>
              </div>
            }
            @if (!element.course) {
              <div [matTooltip]="getActionTooltip(element, 'archive')">
                <button mat-raised-button color="primary" (click)="archiveSurvey(element)" [disabled]="element.isArchived">
                  <mat-icon>archive</mat-icon>
                  @if (!isMobile) {
                    <label i18n> Archive</label>
                  }
                </button>
              </div>
            }
            @if (!teamId && !routeTeamId) {
              <div [matTooltip]="getActionTooltip(element, 'submissions')">
                <button mat-raised-button color="primary" (click)="viewSurveySubmissions(element)" [disabled]="!element.questions?.length || !element.taken">
                  <mat-icon>insert_drive_file</mat-icon>
                  @if (!isMobile) {
                    <label i18n> Submissions</label>
                  }
                </button>
              </div>
            }
          }
          @if (routeTeamId && currentFilter.viewMode === 'adopt') {
            <button mat-raised-button color="primary" (click)="adoptSurvey(element)">
              <mat-icon>get_app</mat-icon>
              @if (!isMobile) {
                <label i18n> Adopt</label>
              }
            </button>
          }
          @if (currentFilter.viewMode !== 'adopt') {
            <div [matTooltip]="getActionTooltip(element, 'export')">
              <button mat-raised-button color="primary" [disabled]="!element.taken" [matMenuTriggerFor]="exportMenu">
                <mat-icon>move_to_inbox</mat-icon>
                @if (!isMobile) {
                  <label i18n> Export</label>
                }
              </button>
              <mat-menu #exportMenu="matMenu">
                <button mat-menu-item (click)="exportCSV(element)" i18n>Excel (CSV)</button>
                <button mat-menu-item (click)="exportPdf(element)" i18n>Print (PDF)</button>
              </mat-menu>
            </div>
          }
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" [class.hidden]="!surveys.data || surveys.data.length === 0"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td>@if (!isLoading) {
          <div class="view-container" i18n>No Survey Found</div>
        }</td>
      </tr>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>
</div>
