<mat-toolbar>
  <a mat-icon-button routerLink="/meetups">
    <mat-icon>arrow_back</mat-icon>
  </a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1" i18n>New Meetup</mat-toolbar>
  <div class="view-container">
    <form class="view-container" [formGroup]="meetupForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <mat-form-field>
          <input matInput i18n-placeholder placeholder="Title" formControlName="title" required>
          <mat-error>
            <planet-form-error-messages [control]="meetupForm.controls.title"></planet-form-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <textarea matInput i18n-placeholder placeholder="Description" formControlName="description" required></textarea>
          <mat-error>
            <planet-form-error-messages [control]="meetupForm.controls.description"></planet-form-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" color="primary" i18n>Save</button>
      <button mat-raised-button type="button" color="warn" (click)="cancel()" i18n>Cancel</button>
    </form>
  </div>
</div>
