
<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Meetups</span>
  <span class="toolbar-fill"></span>
  <mat-icon class="input-icon">search</mat-icon>
  <mat-form-field class="font-size-1">
    <mat-label i18n>Type title to search...</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
</mat-toolbar>

<div class="space-container primary-link-hover">
  <mat-toolbar class="primary-color font-size-1">
    @if (!parent && isAuthorized) {
      <button mat-mini-fab routerLink="add">
        <mat-icon>add</mat-icon>
      </button>
      <span class="toolbar-fill"></span>
      <button mat-button [disabled]="selectedNotJoined === 0" (click)="meetupsToggle(selection.selected, 'add')">
        <mat-icon aria-hidden="true" class="margin-lr-3">library_add</mat-icon><span i18n>Join Selected</span>
        @if (selectedNotJoined > 0) {
          <span> ({{selectedNotJoined}})</span>
        }
      </button>
      <button mat-button [disabled]="selectedJoined === 0" (click)="meetupsToggle(selection.selected, 'remove')">
        <mat-icon aria-hidden="true" class="margin-lr-3">clear</mat-icon><span i18n>Leave Selected</span>
        @if (selectedJoined > 0) {
          <span> ({{selectedJoined}})</span>
        }
      </button>
      @if (currentUser.isUserAdmin) {
        <button mat-button (click)="deleteSelected()" [disabled]="!selection.selected.length">
          <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon>
          <span i18n>Delete</span>
          @if (selection?.selected?.length) {
            <span> ({{selection?.selected?.length}})</span>
          }
        </button>
      }
    }
  </mat-toolbar>

  <div class="view-container view-full-height view-table">
    <mat-table #table [dataSource]="meetups" matSort [matSortDisableClear]="true">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="table-selection-top">
          <mat-checkbox (change)="$event ? selection.toggle(row._id) : null" [checked]="selection.isSelected(row._id)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header="title" i18n> Title </mat-header-cell>
        <mat-cell *matCellDef="let element" class="list-content-menu">
          <h3 class="header">
            <a [routerLink]="['view', element._id]">{{element.title}}</a>
            @if (element.participate) {
              <mat-icon class="margin-lr-3" i18n-title title="Joined Meetup" [inline]="true">check</mat-icon>
            }
          </h3>
          <div class="content">
            <planet-markdown [content]="element.description" [imageSource]="parent ? 'parent' : 'local'"></planet-markdown>
          </div>
          @if (!parent) {
            <button class="menu" mat-icon-button [matMenuTriggerFor]="meetupMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          }
          <mat-cell>
            <mat-menu #meetupMenu="matMenu">
              @if (element.participate || ((element.endDate || element.startDate) > dateNow && !element.participate)) {
                <a mat-menu-item (click)="attendMeetup(element)">
                  @if (element.participate) {
                    <span><mat-icon>clear</mat-icon><span i18n>Leave</span></span>
                  } @else {
                    <mat-icon>done</mat-icon><span i18n>Join</span>
                  }
                </a>
              }
              <a mat-menu-item planetFeedback [feedbackOf]="{'state': 'meetups', 'item': element._id, name: element.title}" i18n-title title="Feedback">
                <mat-icon>feedback</mat-icon>
                <span i18n>Feedback</span>
              </a>
              @if (currentUser.name === element.createdBy) {
                <a mat-menu-item [routerLink]="['/meetups/update', element._id]">
                  <mat-icon>folder</mat-icon>
                  <span i18n>Manage</span>
                </a>
              }
              @if (currentUser.name === element.createdBy || currentUser.isUserAdmin) {
                <button mat-menu-item (click)="deleteClick(element)">
                  <mat-icon>delete_forever</mat-icon>
                  <span i18n>Delete</span>
                </button>
              }
            </mat-menu>
          </mat-cell>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef i18n>Information</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div>
            <p>
              <span i18n>Date:</span>
              <span>{{ ' ' + (element.startDate | date: 'fullDate') + ' ' }}</span>
              @if (element.endDate && element.endDate !== element.startDate) {
                <span>{{ '- ' + (element.endDate | date: 'fullDate') + ' ' }}</span>
              }
              @if (element.startTime || element.endTime) {
                <span i18n>at</span>
              }
              <span>{{ ' ' + element.startTime }}</span>
              @if (element.endTime) {
                <span>{{ ' - ' + element.endTime }}</span>
              }
            </p>
            @if (element.recurring) {
              <p><span i18n>Recurring:</span>{{ ' ' + element.recurring | titlecase }}</p>
            }
            @if (element.recurring === 'weekly') {
              <p><span i18n>Recurring Days: </span>@for (day of element.day; track day; let isLast = $last) {
              <span>{{day}}{{isLast ? '' : ', '}}</span>
            }</p>
          }
          @if (element.meetupLocation) {
            <p><span i18n>Location:</span>{{ ' ' + element.meetupLocation }}</p>
          }
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" class="hide"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:selection.isSelected(row._id)}"></mat-row>
    <tr class="mat-row" *matNoDataRow>
      <td><div class="view-container" i18n>No Meetups Found</div></td>
    </tr>
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="50"
    [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
    (page)="onPaginateChange($event)">
  </mat-paginator>
</div>
</div>
