.noticias-destacadas-jojo {
  width: 100%;
  display: flex;
}

.containerL {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 60vh; 
  overflow-y: auto;
}

.containerR {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 60vh; 
  overflow-y: auto;
}

.title {
  background: #F4F4F4;
  color: #951FCC;
  min-height: 50px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}

.tab {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-weight: 600;
}

.image {
  color: #951FCC;
  max-height: 24px;
  padding-right: 5%;
}

// const tooLarge = useMediaQuery('(min-height:1040px)'); 

.news {
  // maxHeight: !tooLarge ? '50.644vh' : '70vh',

  overflow-y: auto,
};


.calendar-container {
  min-height: 300px;
  margin-top: 24px; 
  max-height: 100%;
}

.calendar-box {
  font-size: 0.7rem;
  & .fc-button {
    background-color: #951FCC !important;
    border-color: #951FCC !important;
  }
  & .fc-button-active:focus {
    box-shadow: inset 0px 0px 12px 20rem rgb(74 15 102 / 50%) !important;
  }
  & .fc-view-harness {
    background-color: rgb(244, 244, 244, 0.5);
    min-height: 330px;
  }
  & .fc .fc-toolbar-title {
    @media (max-width: 400px) {
      font-size: 0.7rem;
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}

.calendar-spinner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-content: center;
  min-height: 460px;
}

// Mobile View styles
.tabs-container {
  border-bottom: 8px;
  border-color: rgba(0, 0, 0, 0.12);
}

.tabs-group {
  background: #F4F4F4;
}

.mat-tab-label {
  width: 50%;
  font-weight: 700;
  color: #951FCC
}