<div class="noticias-destacadas-jojo">
  <div class="containerL">
    <div class="title">
      <div class="tab">
        <img class="image" src="assets/landing-page/icon/noticias.svg" alt="noticias" />
        Noticias destacadas
      </div>
    </div>
    <div class="news">
      <div>
        <!-- Handle ref: ref="myRef" -->
        <!-- <News scroll="executeScroll" /> -->
        <planet-landing-news></planet-landing-news>
      </div>
    </div>
  </div>
  <div class="containerR">
    <div class="title">
      <div class="tab">
        <img class="image" src="assets/landing-page/icon/calendario.svg" alt="noticias" />
        Calendario y eventos
      </div>
    </div>
    <div class="news" style="padding: 30px;">
      <div class="calendar-container">
        <div class="calendar-box">
          <planet-calendar [header]="header" [buttonText]="buttonText"></planet-calendar>
        </div>
      </div>
      <!-- handle Spinner for loading -->
      <!-- <div class="calendar-spinner-container" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div> -->
    </div>
  </div>
</div>