@import "../variables";

.mat-column-name,
.mat-column-courseTitle {
  max-width: 25vw;
  overflow: hidden;
}


.cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.mat-column-stepNum {
  max-width: 90px;
}

@media (max-width: $screen-sm) {
  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  mat-header-cell,
  mat-cell {
    min-width: 130px;
  }

  .status-dropdown {
    max-width: 100px;
  }
}
