<mat-toolbar *ngIf="!isDialog">
  <mat-toolbar-row>
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span i18n>{mode, select, survey {mySurveys} grade {Submissions}}</span>
    <span class="toolbar-fill"></span>
    <ng-container *ngIf="!isMobile && !surveyId">
      <ng-container *ngTemplateOutlet="filterDropdown"></ng-container>
      <ng-container *ngTemplateOutlet="filterToggleGroup"></ng-container>
      <ng-container *ngTemplateOutlet="filterSearch"></ng-container>
    </ng-container>
    <button mat-icon-button *ngIf="isMobile" (click)="showFiltersRow = !showFiltersRow">
      <mat-icon>filter_list</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="showFiltersRow && isMobile && !surveyId">
    <ng-container *ngTemplateOutlet="filterDropdown"></ng-container>
    <ng-container *ngTemplateOutlet="filterToggleGroup"></ng-container>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="showFiltersRow && isMobile && !surveyId">
    <ng-container *ngTemplateOutlet="filterSearch"></ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #filterDropdown>
  <mat-form-field class="font-size-1 margin-lr-3 status-dropdown">
    <mat-select i18n-placeholder placeholder="Status" [value]="filter.status || 'All'" (selectionChange)="onFilterChange($event.value, 'status')">
      <mat-option i18n value="All">All</mat-option>
      <ng-container *ngFor="let option of statusOptions">
        <mat-option *ngIf="this.filter.type !== 'survey' || option.text !== 'Not Graded'" [value]="option.value">{{option.text}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</ng-template>
<ng-template #filterToggleGroup>
  <mat-button-toggle-group
    class="margin-lr-5 font-size-1"
    (change)="onFilterChange($event.value, 'type')"
    #filterGroup="matButtonToggleGroup">
    <mat-button-toggle value="exam" [checked]="this.filter.type === 'exam'" i18n>
      Tests
    </mat-button-toggle>
    <mat-button-toggle value="survey" [checked]="this.filter.type === 'survey'" i18n>
      Surveys
    </mat-button-toggle>
  </mat-button-toggle-group>
</ng-template>
<ng-template #filterSearch>
  <mat-icon>search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder placeholder="Type name to search...">
  </mat-form-field>
</ng-template>

<div class="primary-link-hover" [ngClass]="{ 'space-container': !isDialog }">
  <div class="view-container view-table responsive-table" [ngClass]="{ 'view-full-height no-toolbar': !isDialog }">
    <mat-table #table [dataSource]="submissions" matSort [matSortDisableClear]="true">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="name" i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-cell-name"><div class="cell-content" style="cursor: pointer">{{element.parent.name}}</div></mat-cell>
      </ng-container>
      <ng-container matColumnDef="courseTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header="courseTitle" i18n>Course Name</mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-cell-courseTitle"><div class="cell-content" style="cursor: pointer">{{element.courseTitle || element.parent.courseTitle}}</div></mat-cell>
      </ng-container>
      <ng-container matColumnDef="stepNum">
        <mat-header-cell *matHeaderCellDef mat-sort-header="stepNum" i18n>Course Step</mat-header-cell>
        <mat-cell *matCellDef="let element" style="cursor: pointer">{{element.stepNum || ''}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="docSource">
        <mat-header-cell *matHeaderCellDef mat-sort-header="docSource" i18n>Source</mat-header-cell>
        <mat-cell *matCellDef="let element" style="cursor: pointer">{{element.docSource || ''}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header="status" i18n>Status</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngSwitch]="element.status" style="cursor: pointer">
          <mat-chip-list *ngSwitchCase="'pending'"><mat-chip  class="chip-no-style" i18n>pending</mat-chip></mat-chip-list>
          <mat-chip-list *ngSwitchCase="'requires grading'"><mat-chip class="chip-no-style" selected color="accent" i18n>requires grading</mat-chip></mat-chip-list>
          <mat-chip-list *ngSwitchCase="'complete'"><mat-chip class="chip-no-style" selected color="primary" i18n>complete</mat-chip></mat-chip-list>
          <mat-chip-list *ngSwitchDefault><mat-chip class="chip-no-style" selected color="warn" i18n>incomplete</mat-chip></mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef i18n>Grade</mat-header-cell>
        <mat-cell *matCellDef="let element" style="cursor: pointer">
          <ng-container *ngIf="element.status === 'complete'">{{element?.grade}}/{{element.answers.length}}</ng-container>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header="user" i18n>Submitted by</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="cursor-pointer" *ngIf="element?.user?.name; else noLink" [routerLink]="['/users/profile/', element.user.name]" (click)="nameClick($event, element.user)">{{element.submittedBy}}</span>
          <ng-template #noLink><span i18n>{{element?.submittedBy || 'Unknown'}}</span></ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastUpdateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header="lastUpdateTime" i18n>Updated On</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span style="cursor: pointer">{{((isNumber(element.lastUpdateTime) ? element.lastUpdateTime : null) | date: 'medium') || '--'}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gradeTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header="gradeTime" i18n>Graded On</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span style="cursor: pointer">{{((isNumber(element.gradeTime) ? element.gradeTime : null) | date: 'medium') || '--'}}</span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="hide"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="submissionAction(row)" [ngClass]="{'cursor-pointer': row.status==='complete' || mode === 'survey'}"></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td><div class="view-container" i18n>No Record Found</div></td>
      </tr>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]">
    </mat-paginator>
  </div>
</div>
