@import "../variables";

.mat-column-name,
.mat-column-courseTitle {
  max-width: 25vw;
}

.mat-cell-name,
.mat-cell-courseTitle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-stepNum {
  max-width: 90px;
}

@media (max-width: $screen-sm) {
  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  mat-header-cell,
  mat-cell {
    min-width: 130px;
  }

  .status-dropdown {
    max-width: 100px;
  }
}
