
<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Submissions</span>
  <span class="toolbar-fill"></span>
  <mat-icon>search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder placeholder="Search">
  </mat-form-field>
</mat-toolbar>

<div class="space-container primary-link-hover">
  <ng-container *ngIf="!emptyData; else notFoundMessage">
    <mat-table #table [dataSource]="submissions" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.parent.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef i18n>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="hide"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="submissionAction(row)"></mat-row>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </ng-container>
  <ng-template #notFoundMessage>
    <div class="view-container">No Record Found</div>
  </ng-template>
</div>
