<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Library</span>
  <span class="toolbar-fill margin-lr-10"></span>
  <mat-form-field class="font-size-1 margin-lr-3 full-width">
    <planet-tag-input [formControl]="tagFilter" i18n-placeholder placeholder="Filter labels"></planet-tag-input>
  </mat-form-field>
  <mat-form-field class="font-size-1 margin-lr-3">
    <input matInput i18n-placeholder placeholder="Title" [(ngModel)]="titleSearch">
  </mat-form-field>
  <button mat-button i18n (click)="resetFilter()"><span>Reset</span></button>
</mat-toolbar>

<div class="space-container primary-link-hover">
  <mat-toolbar class="primary-color font-size-1">
    <span class="toolbar-fill"></span>
    <span *ngIf="parent">
      <button mat-button [disabled]="!selection.selected.length" (click)="shareResource('pull', selection.selected)">
        <mat-icon aria-hidden="true" class="margin-lr-3">cloud_download</mat-icon><span i18n>Get resource</span>
      </button>
    </span>
    <span *ngIf="!parent">
      <button *ngIf="this.userService.get().isUserAdmin && this.userService.getConfig().registrationRequest === 'accepted'" mat-button [disabled]="!selection.selected.length" (click)="shareResource('push', selection.selected)">
        <mat-icon aria-hidden="true" class="margin-lr-3">cloud_upload</mat-icon><span i18n>Send resource</span>
      </button>
      <button mat-button [disabled]="!selection.selected.length" (click)="addToLibrary(selection.selected)">
        <mat-icon aria-hidden="true" class="margin-lr-3">library_add</mat-icon><span i18n>Add to myLibrary</span>
        <span *ngIf="selection?.selected?.length">({{selection?.selected?.length}})</span>
      </button>
      <button *ngIf="currentUser.isUserAdmin" mat-button (click)="deleteSelected()" [disabled]="!selection.selected.length">
        <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon><span i18n>Delete</span>
        <span *ngIf="selection?.selected?.length">({{selection?.selected?.length}})</span>
      </button>
      <button mat-mini-fab routerLink="add"><mat-icon>add</mat-icon></button>
    </span>
  </mat-toolbar>
  
  <ng-container *ngIf="!emptyData; else notFoundMessage">
    <mat-table #table [dataSource]="resources" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Title</mat-header-cell>
        <mat-cell *matCellDef="let element" class="list-content-menu">
          <h3 class="header">
            <a [routerLink]="['view', element._id]">{{element.title}}</a>
          </h3>
          <div class="content"><p>{{ element.description }}</p></div>
          <mat-chip-list #tagsList class="tags-list">
            <mat-chip *ngFor="let tag of element.tags" (click)="addTag(tag)">
              {{tag}}
            </mat-chip>
          </mat-chip-list>
          <planet-local-status [status]="element.localStatus"></planet-local-status>
          <button *ngIf="!parent" class="menu" mat-icon-button [matMenuTriggerFor]="resourceMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #resourceMenu="matMenu">
            <a *ngIf="!element.libraryInfo" mat-menu-item (click)="libraryToggle(element._id, 'add')">
              <mat-icon>library_add</mat-icon><span i18n>Add to myLibrary</span>
            </a>
            <a mat-menu-item *ngIf="element.libraryInfo" (click)="libraryToggle(element._id, 'remove')">
              <mat-icon>clear</mat-icon><span i18n>Remove from myLibrary</span>
            </a>
            <a mat-menu-item planetFeedback [feedbackOf]="{'state': 'resources', 'item': element._id}" i18n-title title="Feedback">
              <mat-icon>feedback</mat-icon>
              <span i18n>Feedback</span>
            </a>
            <a mat-menu-item (click)="updateResource(element)">
              <mat-icon>folder</mat-icon>
              <span i18n>Manage</span>
            </a>
            <button mat-menu-item (click)="deleteClick(element)">
              <mat-icon>delete_forever</mat-icon>
              <span i18n>Delete</span>
            </button>
            <a href="{{urlPrefix + element._id + '/' + element.filename}}" mat-menu-item download [disabled]="!element.isDownloadable">
              <mat-icon>file_download</mat-icon>
              <span i18n>Download file</span>
            </a>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Rating</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <planet-rating [rating]="element.rating" [itemId]="element._id" [parent]="parent" [ratingType]="'resource'"></planet-rating>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="hide"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:selection.isSelected(row)}"></mat-row>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </ng-container>
  <ng-template #notFoundMessage>
    <div class="view-container">No Resource Found</div>
  </ng-template>
</div>
