@import '../variables';

$toolbar-height: 25vh;
$label-height: 1rem;

.resources-list {
  /* Column Widths */
  .mat-column-select {
    max-width: 44px;
  }
  .mat-column-tags {
    max-width: 125px;
  }
  .mat-column-rating {
    max-width: 225px;
  }
  .mat-column-createdDate {
    max-width: 125px;
    align-self: start;
  }
  .mat-progress-bar {
    height: 10px;
    width: 120px;
  }

  .search-bar {
    height: $toolbar-height;
  }

  .view-full-height.view-with-search {
    height: calc(#{$view-container-height} - #{$toolbar-height});
  }

  .mat-button, .mat-stroked-button {
    min-width: auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    > * {
      line-height: normal;
    }
  }

}

.ellipsis-menu {
  text-align: center;
}


@media(max-width: $screen-md) {
  .resources-list {
    .mat-column-createdDate {
      max-width: 100px;
    }

    .mat-column-rating {
      max-width: 115px;
    }
  }

  .rating-header {
    justify-content: center;
  }
}
