@import '../variables';

$toolbar-height: 25vh;
$label-height: 1rem;
.resources-list {
  /* Column Widths */
  .mat-column-select {
    max-width: 44px;
  }
  .mat-column-tags {
    max-width: 125px;
  }
  .mat-column-rating {
    max-width: 225px;
  }
  .mat-progress-bar {
    height: 10px;
    width: 120px;
  }

  .search-bar {
    height: $toolbar-height;
  }

  .view-full-height.view-with-search {
    height: calc(#{$view-container-height} - #{$toolbar-height});
  }

  .mat-button, .mat-stroked-button {
    min-width: auto;
  }

  .collections-search {
    .mat-form-field-wrapper {
      padding: 0;
    }
    .mat-form-field-infix {
      border: 0;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    > * {
      line-height: normal;
    }
  }
  
}
