@import '../variables';

$toolbar-height: 25vh;
$label-height: 1rem;

.resources-list {
  /* Column Widths */
  .mat-column-select {
    max-width: 44px;
  }
  .mat-column-tags {
    max-width: 125px;
  }
  .mat-column-rating {
    max-width: 115px;
  }
  .mat-column-info {
    max-width: 200px;
    align-self: start;
  }
  .mat-column-createdDate {
    max-width: 125px;
    align-self: start;
  }
  .mat-mdc-progress-bar {
    height: 10px;
    width: 120px;
  }

  .search-bar {
    height: $toolbar-height;
  }

  .view-full-height.view-with-search {
    height: calc(#{$view-container-height} - #{$toolbar-height});
  }

  .mat-mdc-button, .mat-mdc-outlined-button {
    min-width: auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    > * {
      line-height: normal;
    }
  }
}

.list-content-menu {
  &.list-content-menu-auto {
    .header {
      word-break: break-word;
      max-width: 100%;
      a {
        display: inline-block;
      }
    }
  }
}

.ellipsis-menu {
  text-align: center;
}

.created-label {
  display: none;
}

.rating-header {
  justify-content: center;
}

.tags-list mat-chip {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

@media(max-width: $screen-sm) {
  .mat-column-select {
    display: none;
  }

  .mat-column-createdDate {
    max-width: fit-content;
  }

  .mat-column-info {
    max-width: fit-content;
  }

  .created-label {
    display: inline-block;
  }

  .table-selection-top {
    display: none;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .rating-cell {
    align-self: flex-end;
  }
}
