@import '../variables';

:host {
  .view-container {
    display: grid;
    grid-template-rows: auto 42px;
    > * {
      overflow-y: auto;
    }
  }

  .actions-container {
    align-self: flex-start;
  }

  .form-spacing {
    width: auto;
    justify-content: flex-start;
  }

  .header-label {
    display: block;
    margin-top: 10px;
  }

  .existing-file-container {
    display: flex;
    align-items: center;
  }

  .filename {
    flex: 1;
  }

  @media (max-width: $screen-md) {
    .form-container {
      width: auto;
    }

    .filename {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}
