<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="goBack()" *ngIf="!isDialog"><mat-icon>arrow_back</mat-icon></button>
    <span i18n>{myLibraryFilter.value, select, on {myLibrary} off {Library}}</span>
    <mat-form-field class="font-size-1 mat-form-field-type-no-underline mat-form-field-dynamic-width collections-search margin-lr">
      <planet-tag-input #tagInput [formControl]="tagFilter" [db]="dbName" [parent]="parent" [filteredData]="resources.filteredData" [helperText]="false" [largeFont]="true"></planet-tag-input>
    </mat-form-field>
    <span class="toolbar-fill margin-lr-10"></span>
    <span class="font-size-1 margin-lr-4" i18n>Search by:</span>
    <button mat-stroked-button i18n (click)="toggleFilters()">Profile</button>
    <mat-form-field class="font-size-1 margin-lr-4">
      <input matInput i18n-placeholder placeholder="Title" [(ngModel)]="titleSearch">
    </mat-form-field>
    <button mat-raised-button color="primary" i18n (click)="resetFilter()" [disabled]="resources.filter.trim() === '' && tagFilter.value.length === 0 && searchSelection._empty"><span>Clear</span></button>
  </mat-toolbar-row>
  <mat-toolbar-row class="search-bar" *ngIf="showFilters==='on'">
    <planet-resources-search [filteredData]="resources.filteredData" [startingSelection]="searchSelection" (searchChange)="onSearchChange($event)"></planet-resources-search>
  </mat-toolbar-row>
</mat-toolbar>

<div class="space-container primary-link-hover">
  <mat-toolbar class="primary-color font-size-1" *ngIf="!isDialog">
    <ng-container *ngIf="isAuthorized">
      <button *ngIf="!parent" mat-mini-fab routerLink="add"><mat-icon>add</mat-icon></button>
      <div class="column margin-lr-5">
        <planet-filtered-amount [table]="resources"></planet-filtered-amount>
        <planet-tag-selected-input [selectedIds]="tagFilter.value" [allTags]="tagInput.tags"></planet-tag-selected-input>
      </div>
      <span class="toolbar-fill"></span>
      <span *ngIf="parent">
        <button mat-button [disabled]="!selection.selected.length" (click)="shareResource('pull', selection.selected)">
          <mat-icon aria-hidden="true" class="margin-lr-3">cloud_download</mat-icon><span i18n>Get resource</span>
        </button>
      </span>
      <span *ngIf="!parent">
        <ng-container *planetAuthorizedRoles="'manager'">
          <mat-form-field class="font-size-1 margin-lr-3 mat-form-field-type-no-underline mat-form-field-dynamic-width">
            <planet-tag-input [db]="dbName" [disabled]="selection?.selected?.length === 0" mode="add" labelType="change" [helperText]="false" [filteredData]="resources.data" [selectedIds]="selection.selected" (finalTags)="addTagsToSelected($event)"></planet-tag-input>
          </mat-form-field>
        </ng-container>
        <button mat-button [disabled]="selectedNotAdded === 0" (click)="libraryToggle(selection.selected, 'add')">
          <mat-icon aria-hidden="true" class="margin-lr-3">library_add</mat-icon><span i18n>Add to myLibrary</span>
          <span *ngIf="selectedNotAdded > 0"> ({{selectedNotAdded}})</span>
        </button>
        <button mat-button [disabled]="selectedAdded === 0" (click)="libraryToggle(selection.selected, 'remove')">
          <mat-icon aria-hidden="true" class="margin-lr-3">clear</mat-icon><span i18n>Leave Selected</span>
          <span *ngIf="selectedAdded > 0"> ({{selectedAdded}})</span>
        </button>
        <button mat-button [matMenuTriggerFor]="managerMenu" *planetAuthorizedRoles [disabled]="!selection.selected.length">Manager Actions</button>
        <mat-menu #managerMenu="matMenu">
          <button *ngIf="planetConfiguration.registrationRequest === 'accepted'" mat-menu-item [disabled]="!selectedSync?.length" (click)="shareResource('push', selectedSync)">
            <mat-icon aria-hidden="true" class="margin-lr-3">cloud_upload</mat-icon>
            <span i18n>Send Resources</span>
            <span *ngIf="selectedSync?.length"> ({{selectedSync.length}})</span>
          </button>
          <button *ngIf="planetType !== 'community'" mat-menu-item (click)="openSendResourceDialog()" [disabled]="!selection.selected.length">
            <mat-icon aria-hidden="true" class="margin-lr-3" >compare_arrows</mat-icon>
            <span i18n>Push To {planetType, select, center {Nation} other {Community}}</span>
            <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
          </button>
          <button mat-menu-item (click)="deleteSelected()" [disabled]="!selection.selected.length">
            <mat-icon aria-hidden="true" class="margin-lr-3">delete_forever</mat-icon><span i18n>Delete</span>
            <span *ngIf="selection?.selected?.length"> ({{selection?.selected?.length}})</span>
          </button>
        </mat-menu>
      </span>
    </ng-container>
  </mat-toolbar>

  <div class="view-container view-full-height view-table" [ngClass]="{'view-with-search':showFilters==='on'}" *ngIf="!emptyData; else notFoundMessage">
    <mat-table #table [dataSource]="resources" matSort matSortStart="desc" [matSortDisableClear]="true">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="table-selection-top">
          <mat-checkbox (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row._id)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Title</mat-header-cell>
        <mat-cell *matCellDef="let element" class="list-content-menu">
          <h3 class="header">
            <a *ngIf="!isDialog; else dialog" [routerLink]="['view', element._id]">{{element.doc.title}}</a>
            <ng-template #dialog><a [routerLink]="['resources/view', element._id]" target="_blank">{{element.doc.title}}</a></ng-template>
            <ng-container *ngIf="!parent && !isDialog">
              <mat-icon class="margin-lr-3 cursor-pointer" i18n-matTooltip matTooltip="In myLibrary" [inline]="true" *ngIf="element.libraryInfo" (click)="libraryToggle([ element._id ], 'remove')">bookmark</mat-icon>
              <mat-icon class="margin-lr-3 cursor-pointer" i18n-matTooltip matTooltip="Not in myLibrary" [inline]="true" *ngIf="!element.libraryInfo" (click)="libraryToggle([ element._id ], 'add')">bookmark_border</mat-icon>
            </ng-container>
          </h3>
          <td-markdown class="content"
            [content]="element.doc.sourcePlanet !== stateService.configuration.code && element.doc.sourcePlanet ?
              '(source: ' + element.doc.sourcePlanet + ') ' + element.doc.description :
              element.doc.description">
          </td-markdown>
          <mat-chip-list #tagsList class="tags-list">
            <ng-container *ngFor="let tag of element.tags">
              <mat-chip *ngIf="tag.isMainTag" (click)="addTag(tag._id)" color="primary" selected>
                {{tag.name}}
              </mat-chip>
              <mat-chip *ngFor="let subTag of tag.subTags" (click)="addTag(subTag._id)">
                {{subTag.name}}
              </mat-chip>
            </ng-container>
          </mat-chip-list>
          <planet-local-status [status]="element.localStatus"></planet-local-status>
          <button *ngIf="!parent && !isDialog" class="menu" mat-icon-button [matMenuTriggerFor]="resourceMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #resourceMenu="matMenu">
            <a *ngIf="!element.libraryInfo" mat-menu-item (click)="libraryToggle([ element._id ], 'add')">
              <mat-icon>library_add</mat-icon><span i18n>Add to myLibrary</span>
            </a>
            <a mat-menu-item *ngIf="element.libraryInfo" (click)="libraryToggle([ element._id ], 'remove')">
              <mat-icon>clear</mat-icon><span i18n>Remove from myLibrary</span>
            </a>
            <a mat-menu-item planetFeedback [feedbackOf]="{'state': 'resources', 'item': element._id}" i18n-title title="Feedback">
              <mat-icon>feedback</mat-icon>
              <span i18n>Feedback</span>
            </a>
            <ng-container *ngIf="element.canManage">
              <a mat-menu-item (click)="updateResource(element)">
                <mat-icon>folder</mat-icon>
                <span i18n>Manage</span>
              </a>
              <button mat-menu-item (click)="deleteClick(element)">
                <mat-icon>delete_forever</mat-icon>
                <span i18n>Delete</span>
              </button>
            </ng-container>
            <a href="{{urlPrefix + element._id + '/' + element.doc.filename}}" mat-menu-item download [disabled]="!element.doc.isDownloadable">
              <mat-icon>file_download</mat-icon>
              <span i18n>Download file</span>
            </a>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Rating</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <planet-rating [rating]="element.rating" [item]="element.doc" [parent]="parent" [ratingType]="'resource'" [disabled]="isDialog"></planet-rating>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" class="hide"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlight:selection.isSelected(row._id)}"></mat-row>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>
  <ng-template #notFoundMessage>
    <div class="view-container">No Resource Found</div>
  </ng-template>
</div>
