@import '../variables';

.space-container {
  height: calc(#{$view-container-height-no-toolbar} + 1.5rem);
  margin: 0;
}

.select-container {
  display: flex;
}

.select-item {
  min-width: 100px;
}

@media only screen and (max-width: $screen-md) {
  .titlebar {
    display: none;
  }
}
