<mat-toolbar>
  <button class="titlebar" mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="titlebar" i18n>AI Chat</span>
  <span class="toolbar-fill"></span>
  <div *ngIf="displayToggle" class="select-container">
    <mat-select [(ngModel)]="activeService" (selectionChange)="toggleAIService()" class="select-item">
      <mat-option *ngFor="let service of aiServices" [value]="service.model">
        {{service.name}}
      </mat-option>
    </mat-select>
  </div>
  <ng-template #textDisplay>
    <span i18n>{{activeService}}</span>
  </ng-template>
</mat-toolbar>

<div class="space-container">
  <planet-chat-sidebar></planet-chat-sidebar>
</div>
