@import '../variables.scss';

.space-container {
  height: #{$view-container-height-no-toolbar};
  margin: 0;
}

@media only screen and (max-width: $screen-md) {
  .titlebar {
    display: none;
  }
}
