<mat-toolbar class="titlebar">
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>AI Chat</span>
  <span class="toolbar-fill"></span>
  <mat-button-toggle-group *ngIf="displayToggle; else textDisplay" [(ngModel)]="aiService" (change)="toggleAIService()">
    <mat-button-toggle value="openai" i18n>Open AI</mat-button-toggle>
    <mat-button-toggle value="perplexity" i18n>Perplexity AI</mat-button-toggle>
  </mat-button-toggle-group>
  <ng-template #textDisplay>
    <span *ngIf="aiService === 'openai'" i18n>Open AI</span>
    <span *ngIf="aiService === 'perplexity'" i18n>Perplexity AI</span>
  </ng-template>

</mat-toolbar>

<div class="space-container">
  <planet-chat-sidebar></planet-chat-sidebar>
</div>
