@import '../variables.scss';

.ole-login {

  height:100vh;
  width:600px;
  margin: 0 auto;
  background: linear-gradient($ole-blue-light,$ole-blue-dark);
  text-align:center;
  color: white;
  overflow:hidden;

  form, .login-actions {
    display: flex;
    flex-direction: column;
  }

  form {
    max-width: 250px;
    margin: 0 auto;
  }

  .login-actions * {
    margin-bottom: 3px;
  }

  label {
    color: white;
  }

  .ole-logo {
    margin-top:-200px;
    height:500px;
    width:100%;
    background:radial-gradient(rgba(255,255,255,0.8) 5%,rgba(255,255,255,0) 55%);
    * {
      position:relative;
      top:50%;
      transform:translate(0,-50%);
      text-shadow:1px 1px black;
    }
    img {
      height:100px;
      width:100px;
      display:block;
      margin:0 auto;
    }

  }
  .login-actions {
    margin-top: 6%;
    margin-right: 5%;
  }
}
.redirect{
  margin-top:50px;
 margin-left: 120
}
.ole-register {

  height:100vh;
  width:700px;
  margin-left:5%;
}
