@import '../variables.scss';
@import '../../planet-mat-theme.scss';
@import '../mixins.scss';

:host {

  @include left-right-grid-areas;

  text-align: center;

  .login-container {
    padding: 10vh;
    overflow: hidden;
  }

  .login-left-tile::before {
    content: "";
    height: 80vh;
    background: linear-gradient(to right, $grey, #FFFFFF);
    width: 30px;
    position: absolute;
    left: 100%;
    top: 0;
  }

  .login-tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-card {
    padding: 0;
    height:80vh;
    display: grid;
    grid-template-areas: "lt rt";
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
  }

  .login-form, .login-left-tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }

  .login-form {
    a, button[mat-raised-button] {
      margin-bottom: 1rem;
    }

    a:hover {
      color: $primary;
    }
  }

  .ole-logo {
    width: 7rem;
    display: block;
  }

}
