<form (ngSubmit)="onSubmit()" class="login-form" [formGroup]="userForm">
  <mat-form-field class="example-full-width">
    <input matInput i18n-placeholder placeholder="Username" name="name" formControlName = "name" planetLowercase/>
    <mat-error>
      <planet-form-error-messages [control]="userForm.controls.name"></planet-form-error-messages>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput i18n-placeholder placeholder="Password" name="password" type="password" formControlName = "password"/>
    <mat-error>
      <planet-form-error-messages [control]="userForm.controls.password"></planet-form-error-messages>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" *ngIf="createMode">
    <input matInput i18n-placeholder placeholder="Repeat Password" name="repeatPassword" type="password" formControlName = "repeatPassword" />
    <mat-error>
      <planet-form-error-messages [control]="userForm.controls.repeatPassword"></planet-form-error-messages>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="primary-btn-hover" [planetSubmit]="userForm.valid">{{ createMode ? 'Become a member' : 'SIGN-IN' }}</button>
  <a class = "addUser" [routerLink]="createMode ? ['/login'] : ['newmember']">
    {{ createMode ? 'Already have an account?' : 'Become a member' }}
  </a>
</form>
