<div class="login-container gradient-background">
  <mat-card class="login-card">
    <div class="login-tile left-tile primary-color">
      <div class="login-left-tile-container">
        <img class="ole-logo" src="assets/OLE_Logo1.png">
        <div>
          <h1 i18n>Planet Learning</h1>
          <div class="myplanet-link">
            <span i18n class="margin-lr-3">On Android?</span>
            <a mat-button target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=org.ole.planet.myplanet">
              <ng-container i18n>Try myPlanet</ng-container>
              <mat-icon aria-hidden="true" class="margin-lr-3">open_in_new</mat-icon>
            </a>
          </div>
          <h3 i18n>Version {{ planetVersion }}</h3>
          <span i18n>{online, select, on {Connected} off {Offline}}</span>
          <planet-language></planet-language><br>
          <ng-container *ngFor="let social of socials | keyvalue">
            <a *ngIf="social.value" [href]="social.value" target="_blank" rel="noopener noreferrer">
              <mat-icon [svgIcon]="social.key"></mat-icon>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="login-tile right-tile">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
