planet-markdown.img-wrap td-markdown.td-markdown {
  & > div {
    overflow: auto;
  }

  img {
    max-width: 50%;
    float: left;
    margin-right: 0.5rem;
    padding: 0.25rem;
  }
}

planet-markdown.img-resize td-markdown.td-markdown {
  & > div {
    overflow: auto;
  }

  img {
    max-width: 50%;
  }
}

.medium-zoom-image {
  z-index: 1000;
  background: #000;
}

.medium-zoom-overlay {
  z-index: 999 !important; /* Ensure the overlay is above all other elements */
  background-color: rgba(0, 0, 0, 0.8); /* Customize the overlay color */
}
