<ng-container [ngSwitch]="display">
  <ng-container *ngSwitchCase="'text'">
    <ng-container i18n *ngFor="let role of roleList; let last = last">{{role}}<ng-container *ngIf="!last">, </ng-container></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'chip'">
    <mat-chip-list>
      <ng-container *ngFor="let role of roleList; index as i">
        <ng-container [ngSwitch]="role">
          <mat-chip *ngSwitchCase="'learner'">{{role}}</mat-chip>
          <mat-chip *ngSwitchCase="'_admin'">{{role}}</mat-chip>
          <mat-chip *ngSwitchCase="'Inactive'">{{role}}</mat-chip>
          <mat-chip *ngSwitchDefault [removable]="!item.isUserAdmin" (removed)="removeRole(item,i)" i18n>
            {{role}}
            <mat-icon matChipRemove *ngIf="canManage && !item.isUserAdmin">cancel</mat-icon>
          </mat-chip>
        </ng-container>
      </ng-container>
    </mat-chip-list>
  </ng-container>
  <ng-container *ngSwitchCase="'option'">
      <mat-option *ngFor="let role of roleList" [value]="role" i18n>{{role}}</mat-option>
  </ng-container>
</ng-container>
