<mat-toolbar>
  <button mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>AI API Configurations</span>
</mat-toolbar>

<form class="container" [formGroup]="configForm">
  <mat-card class="card">
    <mat-card-title i18n>API Keys</mat-card-title>
    <mat-card-content *ngIf="configuration.keys">
      <mat-list>
        <mat-list-item *ngFor="let key of objectKeys(configuration.keys)">
          <div class="list-item-content">
            <span>{{ key | titlecase }}</span>
            <mat-form-field>
              <input
                matInput
                [type]="hideKey[key] ? 'password' : 'text'"
                [formControlName]="'keys_' + key"
                placeholder="Enter API key"
                i18n-placeholder
              />
              <button mat-icon-button matSuffix (click)="toggleHideKey(key)">
                <mat-icon>{{ hideKey[key] ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <button mat-icon-button matSuffix (click)="copyKey(key)">
                <mat-icon>content_copy</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="card">
    <mat-card-title i18n>Models</mat-card-title>
    <mat-card-content *ngIf="configuration.models">
      <mat-list>
        <mat-list-item *ngFor="let model of objectKeys(configuration.models)">
          <div class="list-item-content">
            <span>{{ model | titlecase }}</span>
            <mat-form-field>
              <input matInput [formControlName]="'models_' + model" placeholder="Enter model" i18n-placeholder />
            </mat-form-field>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title i18n>Assistant Configuration</mat-card-title>
    <mat-card-content *ngIf="configuration.assistant">
      <mat-list>
        <mat-list-item>
          <div class="list-item-content">
            <span i18n>Name:</span>
            <mat-form-field>
              <input matInput formControlName="assistantName" placeholder="Assistant name" i18n-placeholder/>
            </mat-form-field>
          </div>
        </mat-list-item>
      </mat-list>

      <div class="list-item-content instructions">
        <span i18n>Instructions:</span>
        <mat-form-field>
          <textarea matInput formControlName="assistantInstructions" placeholder="Assistant instructions" i18n-placeholder></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title i18n>Chat Configurations</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div class="list-item-content">
            <span i18n>Chat streaming:</span>
            <mat-slide-toggle
              formControlName="streaming"
              matTooltip="Quicker line by line chat responses, could be costlier"
              i18n-matTooltip i18n>
            </mat-slide-toggle>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</form>
<div class="update-button-container">
  <button [planetSubmit]="spinnerOn" mat-raised-button color="primary" (click)="saveConfig()" i18n>Update Configuration</button>
</div>
