<mat-toolbar>
  <button mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Social Media Configurations</span>
</mat-toolbar>

<div class="container" [formGroup]="configForm">



  <mat-card class="card">
    <mat-card-title>Social Media Links</mat-card-title>
    <mat-card-content *ngIf="configuration.social">
      <mat-list>
        <mat-list-item *ngFor="let social of objectKeys(configuration.social)">
          <div class="list-item-content">
            <span>{{ social | titlecase }}</span>
            <mat-form-field>
              <input matInput [formControlName]="'social_' + social" placeholder="Enter Social URL" />
            </mat-form-field>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>



  <button [planetSubmit]="spinnerOn" mat-raised-button color="primary" (click)="saveConfig()">Update Configuration</button>
</div>
