<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Manager Settings</span>
</mat-toolbar>
<div class="space-container">
  <div *ngIf="displayDashboard">
    <span *ngIf="planetType !== 'community'">
      <a routerLink="/requests" i18n mat-raised-button>Requests</a>
    </span>
    <button *ngIf="planetType !== center && showResendConfiguration"
      (click)="resendConfig()" i18n mat-raised-button>Resend Registration Request</button>
    <button *ngIf="devMode"
      (click)="openDeleteCommunityDialog()" i18n mat-raised-button>Delete Community</button>
    <a routerLink="/feedback" i18n mat-raised-button>Feedback</a>
    <a routerLink="/surveys" i18n mat-raised-button>Surveys</a>
    <a routerLink="configuration" i18n mat-raised-button>Configuration</a>
    <button i18n mat-raised-button *ngIf="pushedItems?.courses?.length" (click)="getPushedItem('courses')">
      Get Courses ({{pushedItems?.courses?.length}})
    </button>
    <button i18n mat-raised-button *ngIf="pushedItems?.resources?.length" (click)="getPushedItem('resources')">
      Get Resources ({{pushedItems?.resources?.length}})
    </button>
    <ng-container *ngIf="requestStatus === 'accepted'">
      <a routerLink="sync" i18n mat-raised-button>Manage Sync</a>
      <a routerLink="/upgrade" *ngIf="versionLocal !== versionParent" i18n mat-raised-button>Upgrade</a>
    </ng-container>
    <a routerLink="/manager/users" i18n mat-raised-button>Users</a>
  </div>
  <div class="view-container" *ngIf="planetType !== 'community'">
    <h3 i18n>Send On Accept</h3><br />
    <button i18n mat-raised-button (click)="sendOnAccept('resources')">Resources</button>
    <button i18n mat-raised-button (click)="sendOnAccept('courses')">Courses</button>
  </div>
  <div class="view-container" *ngIf="displayDashboard && planetType !== 'center'">
    <h3 i18n *ngIf="showParentList">{{ planetType === 'community' ? 'Nation' : 'Center' }} List</h3><br />
    <p><b i18n>{planetType, select, community {Nation} nation {Center}} Version:</b> {{versionParent || 'N/A'}}</p>
    <p><b i18n>Local Version:</b> {{versionLocal}}</p>
    <ng-container [ngSwitch]="requestStatus">
      <ng-container *ngSwitchCase="'accepted'">
        <a routerLink="resources" i18n mat-raised-button>List Resources</a>
        <a routerLink="courses" i18n mat-raised-button>List Courses</a>
        <a routerLink="meetups" i18n mat-raised-button>List Meetups</a>
      </ng-container>
      <p *ngSwitchCase="'loading'" i18n>Checking request status...</p>
      <p *ngSwitchCase="'deleted'" i18n>Your request has been rejected by parent. You can retry or contact parent planet.</p>
      <p *ngSwitchDefault i18n>Your request has not been accepted by parent</p>
    </ng-container>
  </div>
  <div *ngIf="pin" i18n>Your tablet pin number is: {{pin}}
    <button mat-raised-button i18n (click)="resetPin()">Reset Pin</button>
  </div>
  <div>{{message}}</div>
</div>
