<mat-toolbar>
  <button mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n="@@currency.configuration.title">Currency Configuration</span>
</mat-toolbar>

<form class="container" [formGroup]="form">
  <mat-card class="card">
    <mat-card-title i18n="@@currency.card.title">Currency</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div matListItemTitle class="list-item-content">
            <span i18n="@@currency.code.label">Code</span>
            <mat-form-field floatLabel="never">
              <input matInput formControlName="code" (input)="form.get('code').setValue(form.get('code').value.toUpperCase())" placeholder="e.g. USD" i18n-placeholder>
              <mat-error><planet-form-error-messages [control]="form.controls.code"></planet-form-error-messages></mat-error>
            </mat-form-field>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle class="list-item-content">
            <span i18n="@@currency.symbol.label">Symbol</span>
            <mat-form-field floatLabel="never">
              <input matInput formControlName="symbol" placeholder="e.g. $" i18n-placeholder>
              <mat-error><planet-form-error-messages [control]="form.controls.symbol"></planet-form-error-messages></mat-error>
            </mat-form-field>
          </div>
        </mat-list-item>
      </mat-list>
      <div class="hint" i18n="@@currency.hint">Enter the ISO code (e.g., USD, EUR) and symbol used in financial reports.</div>
    </mat-card-content>
  </mat-card>
  <div class="update-button-container">
    <button [planetSubmit]="spinnerOn" mat-raised-button color="primary" (click)="save()" i18n="@@currency.save">Save Currency</button>
  </div>
</form>
