<mat-toolbar>
<button mat-icon-button routerLink="/manager"><mat-icon>arrow_back</mat-icon></button>
<span i18n>Synchronization Task</span>
<span class="toolbar-fill"></span>
</mat-toolbar>
<div class="space-container primary-link-hover">
  <mat-list>
    <mat-list-item *ngFor="let rep of replicators">
      <h3 matLine>
        <mat-icon *ngIf="rep?.id?.includes('continuous'); else singleRep">repeat</mat-icon>
        <ng-template #singleRep><mat-icon>repeat_one</mat-icon></ng-template>
        {{rep.doc_id}}
        <button mat-icon-button *ngIf="!rep?.id?.includes('continuous')" (click)="deleteReplicator(rep.doc_id)"><mat-icon>delete</mat-icon></button>
      </h3>
      <p matLine>
        <span> {{rep.source}} </span><mat-icon>arrow_forward</mat-icon><span> {{rep.target}} </span>
        <ng-container [ngSwitch]="rep.state">
        <!-- States: initializing, failed, error, running, pending, crashing, completed -->
        <mat-icon *ngSwitchCase="'crashing' || 'error' || 'failed'" title="{{rep.state}}">error</mat-icon>
        <mat-icon *ngSwitchCase="'running'" title="{{rep.state}}">sync</mat-icon>
        <mat-icon *ngSwitchCase="'pending'" title="{{rep.state}}">pause</mat-icon>
        <mat-icon *ngSwitchCase="'completed'" title="{{rep.state}}">cloud_done</mat-icon>
        </ng-container>
      </p>
    </mat-list-item>
  </mat-list>
</div>
