@import '../../../variables';

$screen-md: 1300px;

:host {
  @include screen-sizes($screen-md, $screen-sm);
}

button {
  flex-shrink: 0;
  margin: 4px;
}

@media(max-width: #{$screen-md}) {
  .mat-form-field {
    width: 100%;
  }

  mat-toolbar-row {
    form {
      width: 100%;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
