@import '../../variables';

:host {
  .view-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10px;
    min-height: 70vh;
    
    > * {
      overflow-y: visible;
    }
    
    &.edit-mode {
      display: flex;
      flex-direction: column;
    }
  }

  .course-details-panel {
    margin-bottom: 1rem;
    flex: 0 0 auto;
    
    &:not(.mat-expanded) {
      overflow: hidden;
      
      ::ng-deep .mat-expansion-panel-content {
        display: none;
      }
    }
    
    ::ng-deep .mat-expansion-panel-body {
      padding: 0 24px 16px;
    }
    
    ::ng-deep .mat-expansion-panel-header {
      height: 64px;
      padding: 0 24px;
      overflow: hidden;
    }
  }

  .course-title-summary {
    margin: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }

  .course-title-header {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .steps-container {
    flex: 0 1 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: visible;
    min-height: auto;
    max-height: none;
  }

  .actions-container {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 10px 0;
  }

  .form-container {
    width: auto;
    overflow: visible;
  }

  .form-spacing {
    width: auto;
    height: auto;
    overflow: visible;
  }

  @media (max-width: $screen-md) {
    .form-spacing {
      justify-content: center;
    }

    .view-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      grid-template-rows: auto;
      grid-template-areas:
      'form-area'
      'steps-area'
      'actions-area';
      
      &.edit-mode {
        display: flex;
        flex-direction: column;
      }
      
      > * {
        overflow-y: visible;
      }
    }

    .steps-container {
      grid-area: steps-area;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      padding: 2rem;
    }

    .form-container {
      grid-area: form-area;
    }

    .actions-container {
      grid-area: actions-area;
      align-self: flex-start;
    }
  }
}
