@import '../../variables';

:host {
  .view-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10px;
    min-height: 70vh;
    
    > * {
      overflow-y: visible;
    }
  }

  .course-details-panel {
    margin-bottom: 1rem;
    flex: 0 0 auto;
    
    &:not(.mat-expanded) {
      overflow: hidden;
      
      ::ng-deep .mat-expansion-panel-content {
        display: none;
      }
    }
    
    ::ng-deep .mat-expansion-panel-body {
      padding: 0 24px 16px;
    }
    
    ::ng-deep .mat-expansion-panel-header {
      height: 64px;
      padding: 0 24px;
      overflow: hidden;
    }
  }

  .steps-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: visible;
  }

  .actions-container {
    align-self: flex-start;
    margin-top: auto;
  }

  .form-container {
    width: auto;
  }

  .form-spacing {
    width: auto;
  }

  @media (max-width: $screen-md) {
    .form-spacing {
      justify-content: center;
    }

    .view-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      grid-template-rows: auto;
      grid-template-areas:
      'form-area form-area'
      'steps-area steps-area'
      'actions-area actions-area';
      > * {
        overflow-y: visible;
      }
    }

    .steps-container {
      grid-area: steps-area;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      padding: 2rem;
    }

    .form-container {
      grid-area: form-area;
    }

    .actions-container{
      grid-area: actions-area;
    }
  }
}
