<mat-toolbar>
  <a mat-icon-button (click)="navigateBack()"><mat-icon>arrow_back</mat-icon></a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>{{this.pageType}} Course</span>
    <span class="toolbar-fill"></span>
    <button mat-raised-button color="accent" (click)="addStep()" i18n>Add Step</button>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div class="form-container">
      <form [formGroup]="courseForm" class="form-spacing" novalidate>
        <mat-form-field class="full-width">
          <input matInput i18n-placeholder placeholder="Course Title" formControlName="courseTitle" required>
          <mat-error><planet-form-error-messages class="km-coursetitle-errormessage" [control]="courseForm.controls.courseTitle"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <div class="full-width">
         <td-text-editor formControlName="description"></td-text-editor>
         <mat-error><planet-form-error-messages [control]="courseForm.controls.description"></planet-form-error-messages></mat-error>
        </div>
        <mat-form-field>
          <input matInput i18n-placeholder placeholder="Member Limit" type="number" formControlName="memberLimit">
          <mat-error><planet-form-error-messages [control]="courseForm.controls.memberLimit"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput i18n-placeholder placeholder="Language of Instruction" formControlName="languageOfInstruction">
        </mat-form-field>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Grade Level" formControlName="gradeLevel">
            <mat-option *ngFor="let grade of gradeLevels" [value]="grade">{{grade}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select i18n-placeholder placeholder="Subject Level" formControlName="subjectLevel">
            <mat-option *ngFor="let sub of subjectLevels" [value]="sub">{{sub}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput i18n-placeholder placeholder="Method" formControlName="method">
        </mat-form-field>
      </form>
    </div>
    <div>
      <planet-courses-step [(steps)]="steps"></planet-courses-step>
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" [planetSubmit]="courseForm.valid" mat-raised-button color="primary" i18n>Submit</button>
      <button type="button" mat-raised-button color="warn" (click)="navigateBack()" i18n>Cancel</button>
      <button mat-raised-button color="accent" (click)="addStep()" i18n>Add Step</button>
    </div>
  </div>
</div>
