:host {
  .view-container {
    display: grid;
    grid-template-columns: 550px auto;
    grid-column-gap: 1rem;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
