.step-form-container {
  display: grid;
  grid-template-rows: minmax(auto, min-content) auto;
  height: calc(100% - 36px - 1rem);

  .vertical-form {
    overflow-y: auto;
  }
}

.step-icons {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
