<planet-step-list [steps]="steps" (stepsChange)="stepsMoved($event)" [nameProp]="'stepTitle'" (stepClicked)="stepClick($event)">
  @for (step of steps; track step; let i = $index) {
    <planet-step-list-item>
      <span matListItemTitle i18n>{{(step.stepTitle || 'Step ' + (i+1)) | truncateText:50}}</span>
      <ng-container matListItemMeta>
        @if (step?.exam?.questions.length) {
          <planet-course-icon [icon]="'assignment'"></planet-course-icon>
        }
        @if (step?.resources?.length) {
          <planet-course-icon [icon]="'attach_file'"></planet-course-icon>
        }
        @if (step?.survey?.questions.length) {
          <planet-course-icon [icon]="'description'"></planet-course-icon>
        }
        <span class="toolbar-fill"></span>
      </ng-container>
    </planet-step-list-item>
  }
  <span class="mat-caption margin-lr-5" planetStepListNumber>
    <span i18n>Editing Step</span>{{ ' ' + (this.activeStepIndex + 1) + ' ' }}
    <span i18n>of</span>{{ ' ' + steps.length }}
  </span>
  <div planetStepListForm>
    <form [formGroup]="stepForm">
      <mat-form-field class="full-width">
        <mat-label i18n>Step title</mat-label>
        <input matInput maxlength="200" formControlName="stepTitle">
      </mat-form-field>
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <mat-label i18n>Description</mat-label>
        <planet-markdown-textbox class="full-width" [formControl]="stepForm.controls.description" imageGroup="community"></planet-markdown-textbox>
        <mat-error><planet-form-error-messages [control]="stepForm.controls.description"></planet-form-error-messages></mat-error>
      </mat-form-field>
    </form>
    @if (activeStep?.resources?.length) {
      <span i18n class="margin-lr-4">Attached Resources: </span>
      <mat-chip-set class="tags-list" aria-label="Attached resources" i18n-aria-label>
        @for (resource of activeStep.resources; track resource; let i = $index) {
          <mat-chip>
            <a matChipAction type="button" target="_blank" [routerLink]="['/resources/view', resource._id]">{{resource.title}}</a>
            <button matChipRemove type="button" aria-label="Remove resource" i18n-aria-label (click)="removeResource(i)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-chip>
        }
      </mat-chip-set>
    }
  </div>
  <div planetStepListActions class="course-attach">
    <div class="attach-grid">
      <button type="button" class="attach-card" (click)="addExam()">
        <mat-icon>assignment</mat-icon>
        <span class="ac-title">{{ examButtonLabel }}</span>
        <span class="ac-sub" i18n>Quiz learners</span>
        @if (activeStep?.exam?.questions?.length) {
          <span class="ac-count">{{ activeStep.exam.questions.length }}&nbsp;<span i18n>questions</span></span>
        }
      </button>
      <button type="button" class="attach-card" (click)="addResources()">
        <mat-icon>attach_file</mat-icon>
        <span class="ac-title" i18n>Add Resource</span>
        <span class="ac-sub" i18n>Attach from library</span>
        @if (activeStep?.resources?.length) {
          <span class="ac-count">{{ activeStep.resources.length }}&nbsp;<span i18n>attached</span></span>
        }
      </button>
      <button type="button" class="attach-card" (click)="addExam('survey')">
        <mat-icon>description</mat-icon>
        <span class="ac-title">{{ surveyButtonLabel }}</span>
        <span class="ac-sub" i18n>Collect feedback</span>
        @if (activeStep?.survey?.questions?.length) {
          <span class="ac-count">{{ activeStep.survey.questions.length }}&nbsp;<span i18n>questions</span></span>
        }
      </button>
    </div>
  </div>
</planet-step-list>
