<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{stepInfo.stepTitle || 'Step ' + (stepNum)}}
    </mat-panel-title>
    <mat-panel-description>
      Fill step type here
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="vertical-form" [formGroup]="stepForm" (change)="stepChange()">
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Step title" formControlName="stepTitle">
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        i18n-placeholder
        placeholder="Description"
        formControlName="description"
        matTextareaAutosize
        matAutosizeMaxRows="5"
        matAutosizeMinRows="4">
      </textarea>
    </mat-form-field>
  </form>
  <div *ngIf="resources"><span i18n>Attached resources: </span><span *ngFor="let resource of resources; let isLast= last">{{resource.title}}{{isLast ? '' : ', '}}</span></div>
  <mat-action-row>
    <a mat-raised-button color="primary" (click)="addExam(stepNum)">{{stepInfo.exam ? 'Update' : 'Add' }} Exam</a>
    <button mat-raised-button color="primary" (click)="attachItem('resources')">Add Resource</button>
    <button mat-icon-button *ngIf="stepNum !== 1" (click)="moveUp()"><mat-icon>arrow_upward</mat-icon></button>
    <button mat-icon-button *ngIf="stepCount !== stepNum" (click)="moveDown()"><mat-icon>arrow_downward</mat-icon></button>
    <button mat-icon-button (click)="deleteStep()"><mat-icon>delete</mat-icon></button>
  </mat-action-row>
</mat-expansion-panel>
