@import '../../variables';

:host {
  .view-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 42px;
    grid-column-gap: 0.25rem;
    > * {
      overflow-y: auto;
    }
  }

  .steps-container {
    grid-row: span 2;
  }

  .actions-container {
    align-self: center;
  }

  .form-container {
    width: auto;
  }

  .form-spacing {
    width: auto;
  }

  .draft-btn {
    background: $grey;
  }

  .cover-preview {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 67px 0 1rem;
    clear: both;

    img {
      max-width: 200px;
      width: 100%;
      height: auto;
      border: 1px solid $grey;
    }
  }

  .cover-field {
    display: block;
    width: 545px;
  }

  @media (max-width: $screen-md) {
    .form-spacing {
      justify-content: center;
    }

    .view-container {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      grid-template-rows: 1fr;
      grid-template-areas:
      'form-area form-area'
      'steps-area steps-area'
      'actions-area actions-area';
      > * {
        overflow-y: visible;
      }
    }

    .steps-container {
      grid-area: steps-area;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      padding: 2rem;
    }

    .form-container {
      grid-area: form-area;
    }

    .actions-container{
      grid-area: actions-area;
    }
  }
}
