<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{stepInfo.stepTitle || 'Step ' + stepNum}}
    </mat-panel-title>
    <mat-panel-description>
      Fill step type here
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="vertical-form" [formGroup]="stepForm" (change)="stepChange()">
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Step title" formControlName="stepTitle">
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        i18n-placeholder
        placeholder="Description"
        formControlName="description"
        required
        matTextareaAutosize
        matAutosizeMaxRows="5"
        matAutosizeMinRows="4">
      </textarea>
    </mat-form-field>
  </form>
  <a mat-raised-button color="primary" routerLink="/courses/exam">Add exam</a>
</mat-expansion-panel>
