<h1 i18n>Add Courses</h1>
<!-- nvalidate - disable browser's default validators to use our validators -->
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Course Title" formControlName="courseTitle" required>
      </mat-form-field>
      <planet-form-error-messages [control]="courseForm.controls.courseTitle"></planet-form-error-messages>
    </div>
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Language of Instruction" formControlName="languageOfInstruction" required>
      </mat-form-field>
    </div>
    <!-- Firefox seems to accept non-numeric characters but it does not actually change the value of the DOM -->
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Member Limit" type="number" class="example-right-align" formControlName="memberLimit">
      </mat-form-field>
      <planet-form-error-messages [control]="courseForm.controls.memberLimit"></planet-form-error-messages>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <mat-form-field>
        <mat-select i18n-placeholder placeholder="Course Leader" formControlName="courseLeader">
          <mat-option *ngFor="let memb of members" value={{memb?.id}}> {{memb?.doc.firstName}} {{memb?.doc.middleName}} {{memb?.doc.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- need to create a select with options from number of members available -->
      <!-- for this to work we need all the memberes' id from the members database which is not created yet -->
        <!-- i created this according to the entry in the old bell apps couch db members database -->
    </div>
  </div>
  <div class="form-group">
    <mat-form-field>
      <textarea matInput i18n-placeholder placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>
    <planet-form-error-messages [control]="courseForm.controls.description"></planet-form-error-messages>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Method" formControlName="method">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <mat-form-field>
        <mat-select i18n-placeholder placeholder="Grade Level" formControlName="gradeLevel">
          <mat-option *ngFor="let grade of gradeLevels" [value]="grade"> {{grade}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-4">
      <mat-form-field>
        <mat-select i18n-placeholder placeholder="Subject Level" formControlName="subjectLevel">
          <mat-option *ngFor="let sub of subjectLevels" [value]="sub"> {{sub}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Start Date" type="date" formControlName="startDate">
      </mat-form-field>
      <planet-form-error-messages [control]="courseForm.controls.startDate"></planet-form-error-messages>
    </div>
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput type="date" i18n-placeholder placeholder="End Date" formControlName="endDate">
      </mat-form-field>
      <planet-form-error-messages [control]="courseForm.controls.endDate"></planet-form-error-messages>
    </div>
    <div class="form-group radio col-4">
      <div i18n>Frequency</div>
      <!-- radio buttons need same name to allow only one value to be selected! -->
      <mat-radio-group>
          <mat-radio-button value="true" name="daysToggler" (change)="toogleWeekly(true)" i18n> Daily </mat-radio-button>
          <mat-radio-button value="false" name="daysToggler" (change)="toogleWeekly(false)" i18n> Weekly </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="form-check form-check-inline" *ngIf="!showDaysCheckBox">
    <div i18n>Day</div>
      <label class="form-check-label" *ngFor="let day of days">
        <mat-checkbox class="example-margin" (change)="onDayChange(day, $event.checked)"> {{day}} </mat-checkbox>
      </label>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput type="time" i18n-placeholder placeholder="Start Date" formControlName="startTime">
      </mat-form-field>
      <planet-form-error-messages [control]="courseForm.controls.startTime"></planet-form-error-messages>
    </div>
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput type="time" i18n-placeholder placeholder="End Date" formControlName="endTime">
      </mat-form-field>
      <planet-form-error-messages [control]="courseForm.controls.endTime"></planet-form-error-messages>
    </div>
    <div class="form-group col-4">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Location" formControlName="location">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-2">
      <label i18n>Background Color</label>
      <input type="color" i18n-placeholder placeholder="Background Color" formControlName="backgroundColor" mat-icon>
      <planet-form-error-messages [control]="courseForm.controls.backgroundColor"></planet-form-error-messages>
    </div>
    <div class="form-group col-2">
      <label i18n>Foreground Color</label>
      <input type="color" i18n-placeholder placeholder="Foreground Color" formControlName="foregroundColor" mat-icon >
      <planet-form-error-messages [control]="courseForm.controls.foregroundColor"></planet-form-error-messages>
    </div>
  </div>
  <div class="button-row">
    <button type="submit" mat-raised-button color="primary" i18n>Submit</button>
    <button type="button" mat-raised-button color="warn" (click)="cancel()" i18n>Cancel</button>
  </div>
</form>
<div class="message">
  <p>Form value: {{ courseForm.value | json }}</p>
  <p>{{ courseForm.valid }}</p>
</div>
