@import '../../variables';

:host {
  .view-container {
    display: grid;
    grid-template-columns: 550px auto;
    grid-column-gap: 1rem;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  @media only screen and (max-width: $screen-md) {
    .view-container {
      grid-template-columns: 365px auto;
    }
  }

  @media only screen and (max-width: $screen-sm) {
    .view-container {
      grid-template-columns: 181px auto;
    }
  }
}
