planet-courses-step .mat-mdc-chip-set {
  margin: 0;
}

.step-form-container {
  display: grid;
  grid-template-rows: minmax(auto, min-content) auto;
  height: calc(100% - 36px - 1rem);

  .vertical-form {
    overflow-y: auto;
  }
}
