<mat-toolbar>
    <button class="btnBack" mat-icon-button routerLink="">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span i18n>Logs</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1">
      <span i18n>myPlanet</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div *ngFor="let apklog of apklogs">
      <planet-myplanet-table [dataType]="logs" [data]="apklog"></planet-myplanet-table>
    </div>
  </div>
</div>
