<nav *ngIf="isLoggedIn.name" class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <ul class="nav navbar-nav mr-auto">
    <li>
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
    </li>
    <li  role="presentation" >
      <a class="nav-link" routerLink="/#" routerLinkActive="active">My Library <span class="badge badge-success">4</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/#" routerLinkActive="active">My Course <span class="badge badge-success">40</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/members" routerLinkActive="active">Members <span class="badge badge-success">54</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/meetups" routerLinkActive="active">My Meetups <span class="badge badge-success">2</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout </a>
    </li>
  </ul>
</nav>