@mixin fontdef-woff($FontPath, $FontName, $FontVersion:"1.0.0", $FontType:"Regular") {
	src: url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2') format('woff2'),
    url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff') format('woff');
}
