@use '../app/variables' as v;

full-calendar {
  .fc-h-event .fc-event-title {
    text-overflow: ellipsis;
  }
  .fc-toolbar-title {
    font-size: 1.25em !important;
    margin: 1rem !important;
  }
  .fc-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: #{v.$screen-sm}) {
      .fc-toolbar-chunk {
        display: flex;
      }
    }
  }
  .fc-button-primary {
    position: relative;

    &:not(:disabled):hover {
      background-color: v.$primary;
    }
  }

  @media only screen and (min-width: #{v.$screen-md}) {
    .fc-more-popover .fc-popover-body {
      min-width: unset !important;

      .fc-event-title-container {
        max-width: 100px;
      }
    }
  }
}
