<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Activity Logs</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1">
      <span i18n>Activity Reports: {{planetCode}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-container view-full-height view-table">
    <table>
      <tr><th></th><th>Male</th><th>Female</th><th>Undeclared</th></tr>
      <tr><td>Registered Members</td><td>{{reports?.usersByGender?.male || 0}}</td><td>{{reports?.usersByGender?.female || 0}}</td><td>{{reports?.usersByGender?.undeclared || 0}}</td></tr>
      <tr><th>Total Users</th><th>Total Resources</th><th>Total Courses</th></tr>
      <tr><td>{{reports?.totalUsers}}</td><td>{{reports?.totalResources}}</td><td>{{reports?.totalCourses}}</td></tr>
      <tr><th>Most Logged Members</th><th>Total Login</th></tr>
      <tr *ngFor="let visit of reports?.visits"><td><a [routerLink]="['/users/profile', visit.key]">{{visit.key}}</a></td><td>{{visit.count}}</td></tr>
      <tr><th>Most Visited Resource</th><th>Total Visits</th></tr>
      <ng-container *ngFor="let resource of reports?.resources">
        <tr><td><a [routerLink]="['/resources/view', resource.key]">{{resource?.key}}</a></td><td>{{resource.count}}</td></tr>
      </ng-container>
      <tr><th>Most Rated Resource</th><th>Average Rating</th></tr>
      <ng-container *ngFor="let rate of reports?.resourceRatings">
        <tr><td><a [routerLink]="['/resources/view', rate.key]">{{rate?.key}}</a></td><td>{{rate?.value}}</td></tr>
      </ng-container>
      <tr><th>Most Rated Course</th><th>Average Rating</th></tr>
      <ng-container *ngFor="let rate of reports?.courseRatings">
        <tr><td><a [routerLink]="['/course/view', rate.key]">{{rate?.key}}</a></td><td>{{rate?.value}}</td></tr>
      </ng-container>
    </table>
  </div>
</div>
