<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Activity Logs</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1">
      <span i18n>Activity Reports: {{planetCode}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-container view-full-height view-table">
    <table>
      <tr><th></th><th>Male</th><th>Female</th><th>Other</th></tr>
      <tr><td>Registered Members</td><td>{{reports?.users?.male || 0}}</td><td>{{reports?.users?.female || 0}}</td><td>{{reports?.users?.other || 0}}</td></tr>
      <tr><th>Total Users</th><th>Total Resources</th><th>Total Courses</th><th>Total Surveys</th></tr>
      <tr><td>{{reports?.total_users}}</td><td></td><td></td><td></td></tr>
      <tr><th>Most Logged Members</th><th>Total Login</th></tr>
      <tr *ngFor="let visit of reports.visits"><td><a [routerLink]="['/users/profile', visit.key[3]]">{{visit.key[3]}}</a></td><td>{{visit.value}}</td></tr>
      <tr><th>Most Visited Resource</th><th>Total Visits</th></tr>
      <tr *ngFor="let resource of reports.resources"><td><a [routerLink]="['/resources/view', resource.key[3]]">{{resource.key[3]}}</a></td><td>{{resource.value}}</td></tr>
      <tr><th>Most Rated Resource</th><th>Average Rating</th></tr>
      <tr *ngFor="let rate of reports.ratings"><td><a [routerLink]="['/resources/view', rate.key[3]]">{{rate.key[3]}}</a></td><td>{{rate.value}}</td></tr>
    </table>
  </div>
</div>
