<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/manager">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Activity Logs</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1">
    <span i18n>Activity Logs of Requests</span>
    </mat-toolbar-row>
  </mat-toolbar>
  {{logs.data | json}}
  <div class="view-container view-full-height view-table">
    <mat-table #table [dataSource]="logs" matSort>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ratings">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Ratings</mat-header-cell>
        <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="activity">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Activities</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.activity_logs.value}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50, 100, 200]">
    </mat-paginator>
  </div>
</div>
