# run `git clone https://github.com/open-learning-exchange/planet.git src`
# and then uncomment below landing video file mounts

services:
  couchdb:
    volumes:
      - "/srv/planet/conf:/opt/couchdb/etc/local.d"
      - "/srv/planet/data:/opt/couchdb/data"
      - "/srv/planet/log:/opt/couchdb/var/log"
  planet:
    volumes:
      - "/srv/planet/pwd:/usr/share/nginx/html/credentials"
      - "/srv/planet/fs:/usr/share/nginx/html/fs"
      # - "/srv/planet/src/src/assets/landing-page/video/landing.mp4:/usr/share/nginx/html/nep/assets/landing-page/video/landing.mp4"
      # - "/srv/planet/src/src/assets/landing-page/video/landing.mp4:/usr/share/nginx/html/som/assets/landing-page/video/landing.mp4"
      # - "/srv/planet/src/src/assets/landing-page/video/landing.mp4:/usr/share/nginx/html/ara/assets/landing-page/video/landing.mp4"
      # - "/srv/planet/src/src/assets/landing-page/video/landing.mp4:/usr/share/nginx/html/spa/assets/landing-page/video/landing.mp4"
      # - "/srv/planet/src/src/assets/landing-page/video/landing.mp4:/usr/share/nginx/html/fra/assets/landing-page/video/landing.mp4"
      # - "/srv/planet/src/src/assets/landing-page/video/landing.mp4:/usr/share/nginx/html/eng/assets/landing-page/video/landing.mp4"
