services:
  couchdb:
    volumes:
      - "/srv/planet/conf:/opt/couchdb/etc/local.d"
      - "/srv/planet/data:/opt/couchdb/data"
      - "/srv/planet/log:/opt/couchdb/var/log"
  planet:
    volumes:
      - "/srv/planet/pwd:/usr/share/nginx/html/credentials"
      - "/srv/planet/fs:/usr/share/nginx/html/fs"
version: "2"
