<div *ngIf="errorMessage && !survey" class="state-view warn-text-color">
  <mat-icon>error</mat-icon>
  <div class="state-message">{{ errorMessage }}</div>
</div>

<planet-exams-take-frame
  *ngIf="survey && !isSubmitted"
  [title]="survey.name"
  [questionNum]="questionNum"
  [maxQuestions]="maxQuestions"
  [isLoading]="isLoading"
  [disablePrevious]="isLoading || questionNum === 1"
  [disableNext]="isLoading || questionNum === maxQuestions"
  (previous)="moveQuestion(-1)"
  (next)="moveQuestion(1)"
>
  <td-markdown [content]="question?.body"></td-markdown>
  <planet-exams-take-widget [question]="question" [answer]="answer" [storedAnswerValue]="currentAnswer"></planet-exams-take-widget>
  <div class="v-align-center action-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="moveQuestion(1)"
      [disabled]="!answer.valid || questionNum === maxQuestions">
      <ng-container i18n>Submit Answer</ng-container>
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="submitSurvey()"
      [disabled]="!isComplete || isSubmitting"
      i18n>
      Finish Survey
    </button>
    <span *ngIf="errorMessage" class="v-align-center small warn-text-color">
      <mat-icon>error</mat-icon>
      <span>{{ errorMessage }}</span>
    </span>
  </div>
</planet-exams-take-frame>

<div *ngIf="survey && isSubmitted" class="state-view primary-text-color">
  <mat-icon>check_circle</mat-icon>
  <div class="state-message" i18n>Survey is complete. Your response has been submitted.</div>
  <button mat-raised-button color="primary" (click)="openSignupDialog()" i18n>Become a member</button>
</div>
