:host {
  .course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "detail view";
    height: calc(100vh - 382px);
  }

  .course-detail {
    grid-area: detail;
    padding: 1rem;
  }

  .course-view {
    grid-area: view;
  }

  .course-detail, .course-view {
    overflow: auto;
  }

  .full-view-container.course-container {
    grid-template-columns: 0 1fr;
    grid-column-gap: 0;
  }

}
