<planet-rating [rating]="courseDetail?.rating" [item]="courseDetail" [parent]="false" [ratingType]="'course'"></planet-rating>
<p i18n><b>Subject Level:</b> {{courseDetail?.subjectLevel}}</p>
<p i18n><b>Grade Level:</b> {{courseDetail?.gradeLevel}}</p>
<p i18n><b>Language of Instruction:</b> {{courseDetail?.languageOfInstruction || 'N/A'}}</p>
<p *ngIf="courseDetail?.sourcePlanet !== planetConfiguration.code && courseDetail?.sourcePlanet" i18n><b>Source:</b> {{courseDetail?.sourcePlanet}}</p>
<p><b i18n>Description:</b></p>
<planet-markdown [content]="courseDetail?.description" class="img-wrap"></planet-markdown>
