<mat-toolbar>
  <a mat-icon-button [routerLink]="parent ? ['/manager/courses'] : ['/courses']"><mat-icon>arrow_back</mat-icon></a>
  <span i18n>Course</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <h3 class="margin-lr-3 ellipsis-title">{{courseDetail.courseTitle}}</h3>
    <button mat-stroked-button class="margin-lr-3" (click)="toggleFullView()" i18n>
      {fullView, select, on {Show} off {Hide}} details
    </button>
    <button mat-stroked-button *ngIf="canManage" (click)="updateCourse()">
      <mat-icon>edit</mat-icon>
    </button>
    <span class="toolbar-fill"></span>
    <div>
      <ng-container *ngIf="!parent">
        <button mat-raised-button color="accent" (click)="courseToggle(courseDetail._id, 'admission')" i18n class="margin-lr-3" *ngIf="!isUserEnrolled && courseDetail.steps.length">
          Join
        </button>
        <button mat-raised-button color="accent" (click)="courseToggle(courseDetail._id, 'resign')" i18n class="margin-lr-3" *ngIf="isUserEnrolled && courseDetail.steps.length">
          Leave
        </button>
      </ng-container>
      <button mat-raised-button color="accent" (click)="viewStep()" i18n [disabled]="!courseDetail?.steps?.length">View Step</button>
    </div>
   </mat-toolbar>
  <div class="view-container view-full-height">
    <div class="course-progress" *ngIf="isUserEnrolled && courseDetail.steps.length">
      <span i18n>Your progress:</span>
      <planet-courses-progress-bar [course]="courseDetail" [courseProgress]="progress"></planet-courses-progress-bar>
    </div>
    <div [ngClass]="{'full-view-container':fullView==='on'}" class="course-container" >
      <div class="course-detail bg-light-grey" [ngClass]="{'invisible':fullView==='on'}">
        <planet-rating [rating]="courseDetail?.rating" [item]="courseDetail" [parent]="parent" [ratingType]="'course'"></planet-rating>
        <p i18n><b>Subject Level:</b> {{courseDetail.subjectLevel}}</p>
        <p i18n><b>Grade Level:</b> {{courseDetail.gradeLevel}}</p>
        <p i18n><b>Language of Instruction:</b> {{courseDetail.languageOfInstruction}}</p>
        <p i18n><b>Method:</b> {{courseDetail.method}}</p>
        <p><b i18n>Description:</b></p>
        <td-markdown [content]="courseDetail.description"></td-markdown>
      </div>
      <div class="course-view">
        <ng-container *ngFor="let step of courseDetail.steps; let stepNum = index;">
          <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{step.stepTitle || 'Step ' + (stepNum + 1)}}
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="step?.resources?.length">attach_file</mat-icon>
                <mat-icon *ngIf="step?.exam?.questions.length">assignment</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <td-markdown [content]="step.description"></td-markdown>
            <div *ngIf="step.description.length === 0 && (step.exam === undefined || step?.exam?.questions.length === 0) && step?.resources?.length === 0; else contentMessage" i18n>
              There is no content for this step.
            </div>
            <ng-template #contentMessage>
              <span *ngIf="step.description.length === 0" i18n>There is no description for this step.</span>
              {{' '}}
              <span *ngIf= "step?.resources?.length > 0">
                <span i18n>{step.resources.length, plural, =1 {There is} other {There are}}</span>
                {{ ' ' + step?.resources?.length + ' '}}
                <span i18n>{step.resources.length, plural, =1 {resource} other {resources}}.</span>
                {{' '}}
              </span>
              <span *ngIf= "step?.exam?.questions.length > 0">
                <span i18n>The exam has</span>
                {{ ' ' + step?.exam.questions?.length + ' '}}
                <span i18n>{step.exam.questions.length, plural, =1 {question} other {questions}}.</span>
              </span>
            </ng-template>
            <mat-action-row *ngIf="!parent && (step?.resources?.length > 0 || ((step?.exam?.questions.length || step?.survey?.questions.length) && isUserEnrolled))">
              <planet-resources-menu *ngIf="step?.resources?.length > 0" [resources]="step?.resources" i18n>View Resource</planet-resources-menu>
              <a mat-raised-button color="accent" class="margin-lr-10" *ngIf="step?.exam?.questions.length && isUserEnrolled" (click)="goToExam(step, stepNum)" i18n>Take exam</a>
              <a mat-raised-button color="accent" class="margin-lr-10" *ngIf="step?.survey?.questions.length && isUserEnrolled" (click)="goToSurvey(stepNum)" i18n>Take survey</a>
            </mat-action-row>
          </mat-expansion-panel>
        </ng-container>
        <span *ngIf="courseDetail.steps.length===0" i18n>There is no content for this course</span>
      </div>
    </div>
  </div>
</div>