@import '../../variables';

:host {
  .course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "detail view";
    height: calc(100vh - 282px);
  }

  .course-detail {
    grid-area: detail;
    padding: 1rem;
    margin-right: 40px;
  }

  .course-view {
    grid-area: view;
  }

  .course-detail, .course-view {
    overflow: auto;
  }

  .full-view-container.course-container {
    grid-template-columns: 0 1fr;
    grid-column-gap: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }

  .mat-expansion-panel-header-description planet-course-icon {
    margin-left: 8px;
  }

  .view-step-button{
    flex-shrink: 0;
  }

  @media (max-width: $screen-sm) {
    .course-container {
      grid-template-columns: 1fr;
      grid-template-areas: 
      'detail'
      'view';
      grid-row-gap: 1rem;
    }

    .full-view-container.course-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0 1fr;
    } 
    
  }
}

mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
}

mat-panel-title {
  display: block;
}

.step-title {
  max-width: 150ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (max-width: $screen-md) {
    max-width: 90ch;
  }

  @media (max-width: $screen-sm) {
    max-width: 45ch;
  }
}
