<mat-drawer-container class="sidebar-drawer" autosize>
  <mat-drawer #drawer mode="side">
    <div class="header" i18n>
      <button type="button" mat-stroked-button color="primary" class="start-button" mat-button (click)="newChat()">
        <mat-icon>add</mat-icon>
        Start New Chat
      </button>
      <button class="icon-button" mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">chevron_left</i>
      </button>
    </div>
    <mat-form-field class="font-size-1 margin-lr-3">
      <input matInput i18n-placeholder placeholder="Search" [(ngModel)]="titleSearch" (input)="onSearchChange()">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="resetFilter()"><mat-icon>delete</mat-icon></button><br>
    <span style="font-size: small; font-style: italic;" i18n>Full Text Search </span>
    <mat-checkbox [checked]="fullTextSearch" (change)="toggleSearchType()"></mat-checkbox>
    <ng-container *ngIf="filteredConversations?.length; else noChats">
      <ul>
        <li *ngFor="let conversation of filteredConversations; let i = index" (click)="selectConversation(conversation)" class="conversation-item">
          <ng-container *ngIf="isEditing; else notEditing">
            <ng-container *ngIf="selectedConversation?._id === conversation?._id; else conversationTitle">
              <form [formGroup]="titleForm[conversation?._id]" (ngSubmit)="submitTitle(conversation)">
                <mat-form-field class="mat-form-field-type-no-underline">
                  <input matInput [formControl]="titleForm[conversation?._id].controls.title" required>
                  <mat-error>
                    <planet-form-error-messages [formControl]="titleForm[conversation?._id].controls.title"></planet-form-error-messages>
                  </mat-error>
                </mat-form-field>
                <button mat-icon-button class="sidebar-icon"><mat-icon>check</mat-icon></button>
                <button mat-icon-button class="sidebar-icon" (click)="toggleEditTitle()"><mat-icon>close</mat-icon></button>
              </form>
            </ng-container>
          </ng-container>
          <ng-template #notEditing>
            <ng-container *ngTemplateOutlet="conversationTitle"></ng-container>
            <mat-icon *ngIf="selectedConversation?._id === conversation?._id" class="sidebar-icon" (click)="toggleEditTitle()">
              edit
            </mat-icon>
          </ng-template>
          <ng-template #conversationTitle>
            {{ conversation?.title?.slice(0, 25) || conversation.conversations[0].query.slice(0, 25) }}
          </ng-template>
        </li>
      </ul>
    </ng-container>
    <ng-template #noChats>
      <div i18n>No previous conversations.</div>
    </ng-template>
  </mat-drawer>

  <div class="window-box">
    <div class="expand-button">
      <button mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
    <planet-chat-window class="window-container"></planet-chat-window>
  </div>
</mat-drawer-container>
