<mat-drawer-container class="sidebar-drawer" autosize>
  <mat-drawer #drawer mode="side">
    <div class="header">
      <button type="button" mat-stroked-button color="primary" class="start-button" mat-button (click)="newChat()">
        <mat-icon>add</mat-icon>
        Start New Chat
      </button>
      <button class="icon-button" mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">chevron_left</i>
      </button>
    </div>
    <h2>Conversations</h2>
    <ul>
      <li *ngFor="let conversation of conversations.reverse(); let i = index" (click)="selectConversation(conversation)">
        {{ conversation.conversations[0].query.slice(0, 25) }}
      </li>
    </ul>
  </mat-drawer>

  <div class="window-box">
    <div class="expand-button">
      <button mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
    <planet-chat-window class="window-container"></planet-chat-window>
  </div>
</mat-drawer-container>
