<mat-drawer-container class="sidebar-drawer" autosize>
  <mat-drawer #drawer mode="side" [opened]="deviceType === deviceTypes.DESKTOP || deviceType === deviceTypes.TABLET">

    <div class="header-container">
      <div class="header flex-vertical-center">
        <button type="button" mat-raised-button color="primary" mat-button (click)="newChat()">
          <mat-icon>add</mat-icon>
          <span i18n>Start New Chat</span>
        </button>
        <button class="icon-button" *ngIf="deviceType === deviceTypes.DESKTOP" mat-mini-fab (click)="drawer.toggle()">
          <mat-icon class="material-icons">chevron_left</mat-icon>
        </button>
      </div>
      <mat-form-field class="font-size-1 margin-lr-3">
        <mat-label i18n>Search</mat-label>
        <input matInput [(ngModel)]="titleSearch" (input)="onSearchChange($event.target.value)">
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="resetFilter()" [disabled]="!titleSearch && !searchType" matTooltip="Clear search" i18n-matTooltip [matTooltipDisabled]="!titleSearch && !searchType">
        <mat-icon>delete</mat-icon>
      </button><br>
      <div class="full-conversation-row">
        <div class="full-conversation-label-row">
          <mat-checkbox [checked]="fullTextSearch" (change)="toggleSearchType()"></mat-checkbox>
          <span class="full-conversation-label" i18n>Full Conversation Search </span>
        </div>
        <button mat-icon-button (mouseenter)="toggleOverlay()" (mouseleave)="toggleOverlay()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
          <mat-icon>help_outline</mat-icon>
        </button>
      </div>
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="overlayOpen">
        <span class="overlay-text" i18n>Search through the entire conversation, not just the title</span>
      </ng-template>
      <div>
        <mat-button-toggle-group *ngIf="fullTextSearch" [(ngModel)]="searchType" (change)="filterConversations()">
          <mat-button-toggle value="questions" i18n>Questions</mat-button-toggle>
          <mat-button-toggle value="responses" i18n>Responses</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <hr>
    </div>
    <ng-container *ngIf="!isLoading && filteredConversations?.length; else noChats">
      <ul>
        <li *ngFor="let conversation of filteredConversations; let i = index; trackBy: trackByFn" class="conversation-list" (click)="selectConversation(conversation, i)">
          <ng-container *ngIf="isEditing; else notEditing">
            <ng-container *ngIf="selectedConversation?._id === conversation?._id; else conversationTitle">
              <form [formGroup]="titleForm[conversation._id]" (ngSubmit)="submitTitle(conversation)">
                <mat-form-field class="mat-form-field" style="width: 50%;">
                  <input matInput [formControl]="titleForm[conversation._id]?.controls.title" required>
                  <mat-error>
                    <planet-form-error-messages [formControl]="titleForm[conversation._id]?.controls.title"></planet-form-error-messages>
                  </mat-error>
                </mat-form-field>
                <button mat-icon-button class="sidebar-icon" matTooltip="Submit" i18n-matTooltip>
                  <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button class="sidebar-icon" (click)="toggleEditTitle()" matTooltip="Close" i18n-matTooltip>
                  <mat-icon>close</mat-icon>
                </button>
              </form>
            </ng-container>
          </ng-container>
          <ng-template #notEditing>
            <ng-container *ngTemplateOutlet="conversationTitle"></ng-container>
            <button *ngIf="conversation.shared" mat-icon-button class="sidebar-icon" matTooltip="Conversation shared" i18n-matTooltip>
              <mat-icon>done_all</mat-icon>
            </button>
            <button mat-icon-button class="sidebar-icon" *ngIf="selectedConversation?._id === conversation?._id" (click)="toggleEditTitle()" i18n-matTooltip matTooltip="Edit title">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="sidebar-icon" *ngIf="selectedConversation?._id === conversation?._id" (click)="openShareDialog(conversation)" i18n-matTooltip matTooltip="Share conversation">
              <mat-icon>share</mat-icon>
            </button>
          </ng-template>
          <ng-template #conversationTitle>{{ conversation?.title | truncateText:19 }}</ng-template>
        </li>
      </ul>
    </ng-container>
    <ng-template #noChats>
      <planet-loading-spinner *ngIf="isLoading" text="Loading conversations..." i18n-text></planet-loading-spinner>
      <div class="no-chats-message" *ngIf="!isLoading" i18n>No previous conversations.</div>
    </ng-template>
  </mat-drawer>

  <div class="window-box">
    <div class="expand-button">
      <button mat-mini-fab (click)="drawer.toggle()">
        <mat-icon class="material-icons">{{ drawer.opened && deviceType !== deviceTypes.DESKTOP  ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </div>
    <planet-chat-window [isEditing]="isEditing"></planet-chat-window>
  </div>
</mat-drawer-container>
