@import '../../variables';



.header {
  padding: 10px;

  .icon-button {
    margin-left: 10px;
    background-color: $accent;
  }
}

.header-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 0.25rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #ddd;
}

.expand-button {
  position: fixed;
  top: 80px;
  left: 20px;
  border-radius: 50%;
  background-color: $accent;
  transition: width 0.3s ease;
}

.expand-button button {
  padding: 0;
}

.sidebar-drawer {
  background: #eee;
  height: 100%;
}

.window-box {
  height: 100%;
}

.sidebar-icon mat-icon {
  align-self: flex-end;
  font-size: 20px;
  line-height: 1;
}

.conversation-list {
  width: 200px;
  min-height: 40px;
}

.overlay-text {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.no-chats-message {
  margin-left: 4px;
}

.mat-checkbox {
  margin-right: 4px;
}

.full-conversation-label {
  font-size: small;
  font-style: italic;
  word-break: break-word;
  width: 180px;
  white-space: normal;
}

.full-conversation-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.full-conversation-label-row {
  display: flex;
  align-items: center;
  min-width: 0;
}
@media only screen and (max-width: $screen-md) {
  .expand-button {
    top: 10px;
  }
}
