@import '../../variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .start-button {
    border: solid;
    margin-right: 0.5rem;
  }

  .icon-button {
    background-color: $accent;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #ddd;
}

h2 {
  margin: 10px;
}

.expand-button {
  position: fixed;
  top: 80px;
  left: 20px;
  border-radius: 50%;
  background-color: $accent;
  transition: width 0.3s ease;
}

.expand-button button {
  padding: 0;
}

.sidebar-drawer {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background: #eee;
}

.window-box {
  // display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}

// .sidebar {
//   padding: 20px;
// }
