{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // "arrow-return-shorthand": "error",
    "curly": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": ["error", { "code": 140 }],
    "no-console": ["error", { "allow": ["debug", "info", "time", "timeEnd", "trace"] }],
    "no-debugger": "error",
    "no-empty": "off",
    // "no-inferrable-types": ["error", { "ignoreParameters": true }],
    "no-unused-expressions": "error",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "eqeqeq": ["error", "allow-null"],
    "camelcase": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE", "PascalCase"],
        "leadingUnderscore": "allow"
      }
    ],
    "no-multi-spaces": "error",
    "array-bracket-spacing": "error",
    "member-access": "off",
    "no-bitwise": "error",
    "no-eval": "error",
    "no-string-literal": "off",
    "object-curly-spacing": "error",
    "object-literal-sort-keys": "off",
    "radix": "error"
  }
}
