<div class="search-bar">
  <button mat-raised-button (click)="masterToggle()" i18n color="primary" class="margin-lr-3" *ngIf="data.allowMulti && isAllSelected()!=='hidden'">
    {isAllSelected(), select, yes {Deselect} no {Select}} all
  </button>
  <mat-form-field *ngIf="dropdownField" class="font-size-1 margin-lr-3">
    <mat-select [placeholder]="dropdownField" [value]="data.dropdownSettings.startingValue.value" (selectionChange)="onFilterChange($event.value, dropdownField)">
      <mat-option *ngFor="let option of dropdownOptions" value={{option.value}}>{{option.text}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon>search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder placeholder="Search">
  </mat-form-field>
</div>
<mat-table #table [dataSource]="tableData">
  <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element[column]}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: tableColumns"
    (click)="!disableRowClick ? selection.toggle(selectIdentifier(row)) : ''"
    [ngClass]="{highlight:selection.isSelected(selectIdentifier(row))}"
    class="cursor-pointer">
  </mat-row>
</mat-table>
<mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
<mat-dialog-actions>
  <button mat-button (click)="ok()" [disabled]="!allowSubmit()" i18n>OK</button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
