<h3 mat-dialog-title><ng-container i18n>Ratings for</ng-container><i> {{title}}</i></h3>
<mat-dialog-content>
  <mat-card *ngFor="let rating of data.ratings" class="margin-tb">
    <mat-card-title>
      <planet-rating-stars [value]="rating.rate" [disabled]="true"></planet-rating-stars>
      <div class="mat-caption" *ngIf="rating.time">{{rating.time | date:'longDate'}}</div>
    </mat-card-title>
    <mat-card-content *ngIf="rating.comment">{{rating.comment}}</mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close i18n>OK</button>
</mat-dialog-actions>
