<button  class="close" mat-dialog-close aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<h3>{{data.title}}</h3>
<form class="field-form">
  <mat-form-field class="field-details">
    <label i18n>Nation Name</label>
    <input matInput disabled value={{data.allData.name}}>
  </mat-form-field>
  <mat-form-field class="field-details">
    <label i18n>Code</label>
    <input matInput disabled value={{data.allData.code}}>
  </mat-form-field>
  <mat-form-field class="field-details">
    <label i18n>Current Language</label>
    <input matInput disabled value={{data.allData.currentLanguage}}>
  </mat-form-field>
  <mat-form-field class="field-details">
    <label i18n>Center Name</label>
    <input matInput disabled value={{data.allData.nationName}}>
  </mat-form-field>
  <mat-form-field class="field-details">
    <label i18n>Center Url</label>
    <input matInput disabled value={{data.allData.register}}>
  </mat-form-field>
  <mat-form-field class="field-details">
    <label i18n>Version</label>
    <input matInput disabled value={{data.allData.version}}>
  </mat-form-field>
</form>
