<mat-dialog-content>
  <p i18n>{data.amount, select,
      single {Are you sure you want to delete the following {data.type, select,
        community {community}
        nation {nation}
        course {course}
        resource {resource}
        meetup {meetup}}?
      }
      many {Are you sure you want to delete the selected {data.type, select,
        community {communities}
        nation {nations}
        course {courses}
        resource {resources}
        meetup {meetups}}?
      }
    }
  </p>
  <p>{{data.displayName}}</p>
  <div class="alert alert-danger" *ngIf="message">
    {{message}}
    <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="ok()" i18n>OK</button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
