<div class="announcement-container">
  <img
    src="https://res.cloudinary.com/mutugiii/image/upload/v1730395098/challenge_horizontal_new_tnco4v.jpg"
    alt="Issues Challenge"
    class="announcement-banner"
  />

  <div class="steps-container">
    <div class="step">
      <mat-icon color="primary">
        {{ getStatus('joinedCourse') ? 'check_circle' : 'radio_button_unchecked' }}
      </mat-icon>
      <span>Únete al curso Reto noviembre.</span>
      <a *ngIf="!userStatus.joinedCourse" mat-button mat-raised-button color="primary" type="button" (click)="joinCourse()">
        Unirse
      </a>
    </div>

    <div class="step">
      <mat-icon color="primary">
        {{ getStatus('surveyComplete') ? 'check_circle' : 'radio_button_unchecked' }}
      </mat-icon>
      <span>¡Encuesta finalizada!</span>
    </div>

    <div class="step">
      <mat-icon color="primary">
        {{ getStatus('hasPost') ? 'check_circle' : 'radio_button_unchecked' }}
      </mat-icon>
      <span>Comparte tu opinión en Nuestras Voces.</span>
    </div>
  </div>

  <div class="thermometer-container">
  <div class="thermometer">
    <div class="thermometer-bar" [style.width.%]="getGoalPercentage()">
      <div class="thermometer-label">
        {{ getGoalPercentage() | number:'1.0-2' }}% ({{ groupSummary?.length }})
      </div>
    </div>
  </div>
  <div class="thermometer-goal">
    <span>$0</span>
    <span>$500</span>
  </div>
</div>
