<mat-dialog-content>
  <b *ngIf="data.type === 'changes'" i18n>You have unsaved changes.</b>
  <p *ngIf="showMainParagraph" i18n>
    Are you sure you want to {data.changeType, select, accept {accept} archive {archive} reject {reject} delete {delete} leave {leave} remove {remove} leader {give leadership to} exit {leave} reset {reset}}
      the {data.amount, select, single
      {following {data.type, select,
        community {community}
        nation {nation}
        course {course}
        resource {resource}
        document {document}
        meetup {meetup}
        user {member}
        change {change}
        team {team}
        examination {examination}
        enterprise {enterprise}
        task {task}
        certification {certification}
        event {event}
        transaction {transaction}
        link {link}
        news {message}
        report {report}
        changes {form}
        pin {pin}
        survey {survey}}?
      }
      many
      {selected {{data.count}} {data.type, select,
        community {communities}
        nation {nations}
        course {courses}
        resource {resources}
        meetup {meetups}
        event {events}
        survey {surveys}}?
      }
    }
  </p>
  <p [innerHTML]=data.extraMessage></p>
  <b class = break-word>{{data.displayName | truncateText:140}}</b>
  <b *ngIf="data.displayDates">{{data.displayDates.startDate | date : 'mediumDate' : isDateUtc ? '+0000' : undefined }} - {{data.displayDates.endDate | date: 'mediumDate' : isDateUtc ? '+0000' : undefined }}</b>
  <ng-container *ngFor="let label of labels; last as last">
    <p><b><planet-label [label]="label.field"></planet-label>: {{label.value}}</b></p>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close *ngIf="cancelable" i18n>Cancel</button>
  <button color="primary" mat-raised-button (click)="ok()" [planetSubmit]="spinnerOn" i18n>OK</button>
</mat-dialog-actions>
