<mat-toolbar>
  <span class="toolbar-fill"></span>
  <mat-icon>search</mat-icon>
  <mat-form-field class="font-size-1">
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder placeholder="Search">
  </mat-form-field>
</mat-toolbar>
<mat-table #table [dataSource]="tableData">
  <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element[column]}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: tableColumns"
    (click)="selection.toggle(row)"
    [ngClass]="{highlight:selection.isSelected(row)}"
    class="cursor-pointer">
  </mat-row>
</mat-table>
<mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
<mat-dialog-actions>
  <button mat-button (click)="ok()" [disabled]="!selection.hasValue()" i18n>OK</button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
