.announcement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.announcement-banner {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.steps-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.step mat-icon {
  margin-right: 10px;
}

.step span {
  flex-grow: 1;
}
