<mat-dialog-content>
  <mat-accordion [multi]="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Share with Community </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <i i18n style="margin-right: 1rem;">add note</i>
        <mat-checkbox [checked]="showForm" (change)="showForm = !showForm"></mat-checkbox><br>
        <form [formGroup]="communityForm" (ngSubmit)="shareWithCommunity()">
          <mat-form-field *ngIf="showForm" class="full-width">
            <textarea
              matInput
              placeholder="Optional message"
              formControlName="message"
              i18n-placeholder
            ></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" mat-dialog-close i18n>
            Share
          </button>
        </form>
      </ng-template>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Share with Team/Enterprise</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="team-selection">
          <button mat-raised-button color="primary" type="button" (click)="openTeamSelectionDialog('team')" i18n>
            Select Team or Enterprise
          </button>
          <div *ngIf="selectedTeam?.name" class="selected-team">
            <span><b>Selected:</b> {{ selectedTeam.name }}</span>
          </div>
        </div>

        <form [formGroup]="teamForm" (ngSubmit)="shareWithTeam()">
          <mat-form-field class="full-width" style="margin-top: 1rem;">
            <textarea matInput i18n-placeholder placeholder="Message" formControlName="message"></textarea>
          </mat-form-field>
          
          <button mat-raised-button color="primary" type="submit" mat-dialog-close [disabled]="!selectedTeam?.teamId" i18n>
            Share
          </button>
        </form>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close i18n>Close</button>
</mat-dialog-actions>
