.checkbox-wrapper:last-child {
    margin: 0 0 20px 0;
}

.mat-radio-group.ng-touched.ng-invalid label {
    border: 1px solid red;
    background-color: #ffdddd; /* Optional: Light red background */
}

.mat-form-field.ng-touched.ng-invalid {
    border: 1px solid red;
    background-color: #ffdddd;
}

.ng-touched.ng-valid {
    border: none
}