<mat-dialog-content>
  <p *ngIf="showMainParagraph" i18n>
    Are you sure you want to {data.changeType, select, accept {accept} reject {reject} unlink {unlink} delete {delete}}
      the {data.amount, select, single
      {following {data.type, select,
        community {community}
        nation {nation}
        course {course}
        resource {resource}
        meetup {meetup}
        user {user}}?
      }
      many
      {selected {data.type, select,
        community {communities}
        nation {nations}
        course {courses}
        resource {resources}
        meetup {meetups}}?
      }
    }
  </p>
  <p>{{data.extraMessage}}</p>
  <b>{{data.displayName}}</b>
  <div class="alert alert-danger" *ngIf="message">
    {{message}}
    <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-raised-button (click)="ok()" i18n>OK</button>
  <button color="warn" mat-raised-button mat-dialog-close *ngIf="cancelable" i18n>Cancel</button>
</mat-dialog-actions>
