<div class="container">
  <h1 i18n>Nation List</h1>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="nationForm" (ngSubmit)="onSubmit(nationForm.value)" novalidate>
            <div class="form-row">
                <div class="col">
                    <label i18n>Admin Name</label>
                    <input type="text" class="form-control" formControlName="adminName" required>
                    <planet-form-error-messages [control]="nationForm.controls.adminName"></planet-form-error-messages>
                  <!-- Firefox seems to accept non-numeric characters but it does not actually change the value of the DOM -->
                </div>
                <div class="col">
                    <label i18n>Nation Name</label>
                    <input type="text" class="form-control" formControlName="name" required>
                    <planet-form-error-messages [control]="nationForm.controls.name"></planet-form-error-messages>
                  </div>
              </div>
              <div class="form-row">
                <div class="col">
                    <label i18n>Nationurl</label>
                    <input type="text" class="form-control" formControlName="nationUrl">
                    <planet-form-error-messages [control]="nationForm.controls.nationUrl"></planet-form-error-messages>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary" #closeBtn i18n>Submit</button>
                <button type="button" class="btn btn-danger" (click)="cancel()" i18n>Cancel</button>
              </div>
          </form>
          <p>Form value: {{ nationForm.value | json }}</p>
          <p>{{ nationForm.valid }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <p>{{message}}</p>
    <table class="table">
      <thead>
        <tr>
          <th i18n>Nation Name</th>
          <th i18n>Admin Name</th>
          <th i18n>Nation Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nations of nation">
          <td>{{nations.doc.nation_name}}</td>
          <td>{{nations.doc.admin_name}}</td>
          <td>{{nations.doc.nationurl}}</td>
        </tr>
        </tbody>
    </table>
</div>
