<mat-toolbar>
  <mat-toolbar-row>
    <button class="btnBack" mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <span i18n>{{ parentType === 'nation' ? 'Nation' : 'Community' }} List</span>
    <span class="toolbar-fill"></span>
    <mat-icon>search</mat-icon>
    <mat-form-field class="font-size-1">
      <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder placeholder="Type text to search...">
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row class="primary-color font-size-1">
    <span i18n>Your Current Lists of {{ parentType === 'nation' ? 'Nation' : 'Community' }}</span>
    <span class="toolbar-fill"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="filter">
  <mat-form-field>
    <mat-select [(value)]="selectedNation" (change)="onChange($event.value)">
      <mat-option i18n value="">All</mat-option>
      <mat-option *ngFor="let nationName of nationsList;" value={{nationName.local_domain}}> {{nationName.name}} </mat-option>
    </mat-select>
  </mat-form-field> &nbsp;
  <mat-form-field>
    <mat-select [(value)]="selectedValue" (change)="onSelect($event.value)">
      <mat-option i18n value="">All</mat-option>
      <mat-option i18n value="pending">pending</mat-option>
      <mat-option i18n value="accepted">accepted</mat-option>
      <mat-option i18n value="rejected">rejected</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-table #table [dataSource]="nations" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Code</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
  </ng-container>
  <!-- Admin Name Column -->
  <ng-container matColumnDef="admin_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Admin Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n>URL</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.local_domain}}</mat-cell>
  </ng-container>
    <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef i18n> Action </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="viewResources(element.name)" i18n>List Resources</button>
      <button mat-raised-button color="primary" (click)="view(element.nationurl)" i18n>View</button>
      <button *ngIf="parentType === 'nation'" mat-raised-button color="primary" (click)="communityList(element.name)" i18n> Communities </button>
      <button mat-raised-button color="warn" (click)="deleteClick(element)" i18n> Delete </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" i18n></mat-paginator>
