.search-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.header {
  padding: 8px 0 0;
  width :50%
}

mat-header-cell {
  text-align: center;
  font-weight: bold;
  color: #212121;
}

.mat-paginator {
  float : left;
}

mat-form-field {
  float: right;
  margin-top:-59px;
}

.mat-paginator-container {
  margin-top: -11px;
  padding-right: 708px;
  margin-bottom: 18px;
}

mat-table-layout {
  margin: auto;
}
.add-nation {
  min-height: 60px;
  background-color: #2196f3;
}

.labelNation {
  color: #FFFFFF;
  position: fixed;
  margin: 10px;
}

.addNation{
  color: #FFFFFF;
  float: right;
  margin: 10px;
}
.matSearch {
  position: fixed;
  margin-left: -35px;
  float:left;
}
.matAdd {
 width: 30px;
 height: 30px;
 background: #ffc107;
 border-radius: 50px;
}