.search-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.header {
  padding: 8px 0 0;
  width :50%
}
mat-header-cell {
  text-align: center;
  font-weight: bold;
  color: #212121;
}
mat-form-field {
  float: right;
  margin-top:-68px;
}
.matPaginator {
  padding-right: 653px;
}
mat-table-layout {
  margin: auto;
}
.add-nation {
  min-height: 73px;
  background-color: #2196f3;
}
.labelNation {
  color: #FFFFFF;
  position: absolute;
  margin: 23px;
}
.addNation{
  color: #FFFFFF;
  float: right;
  margin: 9px;
}
.matSearch {
  margin-left: -35px;
}
.matAdd {
  color: white;
}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #ffc107;
}
.mat-delete {
  background-color: #f44336;
  color: white;
}