@if (!isDialog) {
  <mat-toolbar>
    <a mat-icon-button [routerLink]="parent ? ['/manager/meetups'] : ['/meetups']"><mat-icon>arrow_back</mat-icon></a>
    <span i18n>Meetup</span>
  </mat-toolbar>
}
<ng-template #meetupDetailContent>
  <div class="space-container">
    <mat-toolbar class="primary-color font-size-1 action-buttons">
      <h3 class="margin-lr-3 ellipsis-title">{{meetupDetail?.title}}</h3>
      <span class="toolbar-fill"></span>
      <div class="button-group-right">
        @if (editable === true) {
          @if ((canManage && !meetupDetail.isTask) || meetupDetail.isTask) {
            <button mat-stroked-button
              (click)="meetupDetail.isTask ? editTask() : routeToEdit()" class="planet-icon-button">
              <mat-icon>edit</mat-icon>
            </button>
          }
          @if ((canManage && !meetupDetail.isTask) || meetupDetail.isTask) {
            <button mat-stroked-button
              (click)="meetupDetail.isTask ? deleteTask() : deleteMeetup()" class="planet-icon-button">
              <mat-icon>delete</mat-icon>
            </button>
          }
        }
      </div>
      @if (!parent && !isDialog) {
        <div>
          <button mat-stroked-button class="margin-lr-3" [disabled]="this.dateNow > (meetupDetail?.endDate || meetupDetail?.startDate)" (click)="openInviteMemberDialog()">
            <span i18n>Invite Member</span>
          </button>
          <button mat-raised-button color="accent" class="margin-lr-3" [matTooltip]="joinMeetupTooltip()" [disabled]="isMeetupDisabled()" (click)="joinMeetup()">
            @if (meetupDetail?.participate) {
              <span i18n>Leave</span>
            } @else {
              <span i18n>Join</span>
            }
          </button>
        </div>
      }
    </mat-toolbar>
    <div class="view-container">
      <div class="meetup-detail" [ngClass]="{'left-tile':!isDialog}">
        @if (meetupDetail?.createdBy) {
          <p>
            <b i18n>Created By:</b><a class="cursor-pointer" (click)="openProfile(meetupDetail?.createdBy, meetupDetail?.sourcePlanet || meetupDetail.sync.planetCode)">{{' ' + meetupDetail?.createdBy}}</a>
          </p>
        }
        @if (meetupDetail?.category) {
          <p><b i18n>Category:</b> {{meetupDetail?.category}}</p>
        }
        @if (meetupDetail?.startDate || meetupDetail?.endDate) {
          <p><b i18n>Date:</b> {{meetupDetail?.startDate | date: 'fullDate'}} {{ meetupDetail?.endDate && meetupDetail?.endDate !== meetupDetail?.startDate ? '- ' + (meetupDetail?.endDate | date: 'fullDate') : '' }}</p>
        }
        @if (meetupDetail?.deadline) {
          <p><b i18n>Deadline:</b> {{meetupDetail?.deadline | date: 'fullDate'}} {{meetupDetail?.deadline | date: 'shortTime'}}</p>
        }
        @if (meetupDetail?.completedTime) {
          <p><b i18n>Completed On:</b> {{meetupDetail?.completedTime | date: 'fullDate'}} {{meetupDetail?.completedTime | date: 'shortTime'}}</p>
        }
        @if (meetupDetail?.startTime || meetupDetail?.endTime) {
          <p i18n><b>Time:</b> {{meetupDetail?.startTime}} {{ meetupDetail?.endTime ? '-' : '' }} {{meetupDetail?.endTime}}</p>
        }
        @if (meetupDetail?.recurring && meetupDetail?.recurring !== 'none') {
          <p><b i18n>Recurring:</b> {{meetupDetail?.recurring | titlecase}} for {{ meetupDetail?.recurringNumber }} {{ meetupDetail?.recurring === 'daily' ? 'days' : 'weeks' }}</p>
        }
        @if (meetupDetail?.recurring === 'weekly') {
          <p><b i18n>Recurring Days: </b>@for (day of meetupDetail?.day; track day; let isLast = $last) {
          <span>{{day}}{{isLast ? '' : ', '}}</span>
        }</p>
      }
      @if (meetupDetail?.meetupLocation) {
        <p><b i18n>Location:</b> {{meetupDetail?.meetupLocation}}</p>
      }
      @if (meetupDetail?.meetupLink) {
        <p><b i18n>Link: </b> <a [href]="meetupDetail?.meetupLink" target="_blank" rel="noopener noreferrer">{{meetupDetail?.meetupLink}}</a></p>
      }
      @if (meetupDetail?.assignee) {
        <p><b i18n>Assigned to:</b><a class="cursor-pointer" (click)="openProfile(meetupDetail?.assignee?.name, meetupDetail?.assignee?.userPlanetCode)">{{' ' + meetupDetail?.assignee?.name}}</a></p>
      }
      @if (meetupDetail?.description) {
        <b i18n>Description:</b>
        }<td-markdown [content]="meetupDetail?.description"></td-markdown>
      </div>
      @if (!isDialog) {
        <div class="right-tile">
          <span><b i18n>Joined Members: ({{members.length}})</b></span>
          @if (members.length === 0) {
            <p i18n>No members have joined this meetup</p>
          } @else {
            <ul>
              @for (mem of members; track mem) {
                <li>
                  <a [routerLink]="['/users/profile', mem]">
                    @if (mem === currentUserName) {
                      <span i18n>{{mem}} (You)</span>
                    } @else {
                      <span>{{mem}}</span>
                    }
                  </a>
                </li>
              }
            </ul>
          }
        </div>
      }
    </div>
  </div>
</ng-template>
@if (isDialog) {
  <mat-dialog-content>
    <ng-container *ngTemplateOutlet="meetupDetailContent"></ng-container>
  </mat-dialog-content>
} @else {
  <ng-container *ngTemplateOutlet="meetupDetailContent"></ng-container>
}
@if (isDialog) {
  <mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close i18n>Close</button>
  </mat-dialog-actions>
}
