@import '../../mixins';
@import '../../variables';

:host {
  .view-container {
    display: block;
    max-height: 60vh;
    overflow: auto;
  }
  .left-tile {
    a {
      color: $primary;
    }
  }

  .button-group-right {
    display: flex;
    
    button {
      margin-right: 4px;
    }
  }
}
