@import '../../mixins';

:host {
  .view-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lt rt";
  }

  .title {
    white-space: nowrap;
    height: 22px;
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 20px/22px Arial;
  }

}
