<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step *ngIf="configurationType === 'new'" [stepControl]="loginForm" [optional]="configurationType === 'update'">
    <ng-template matStepLabel i18n>Create Admin</ng-template>
    <form class="form-spacing" [formGroup]="loginForm">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Username" formControlName="name" required planetLowercase>
        <mat-error><planet-form-error-messages [control]="loginForm.controls.name"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Password" formControlName="password" type="password" required>
        <mat-error><planet-form-error-messages [control]="loginForm.controls.password"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>
        <mat-error><planet-form-error-messages [control]="loginForm.controls.confirmPassword"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <div class="full-width">
        <button mat-raised-button color="primary" matStepperNext i18n>Next</button>
      </div>
    </form>
    <div id="login-status">{{message}}</div>
  </mat-step>

  <mat-step [stepControl]="configurationFormGroup">
    <ng-template matStepLabel i18n>{ configurationType, select, new {Set Up Configuration} update {Update Configuration}}</ng-template>
    <form class="form-spacing configuration-form" [formGroup]="configurationFormGroup">
      <mat-form-field>
        <mat-select i18n-placeholder placeholder="Select Nation/Community" (selectionChange)="onChange($event.value)" formControlName="planetType" required>
          <mat-option value="nation" i18n>Nation</mat-option>
          <mat-option value="community" i18n>Community</mat-option>
        </mat-select>
        <mat-error><planet-form-error-messages [control]="configurationFormGroup.controls.planetType"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="nationOrCommunity === 'community'">
        <mat-select i18n-placeholder placeholder="Nation(s)" formControlName="parentDomain" (selectionChange)="onChangeNation()" required>
          <mat-option *ngFor="let nation of nations" [value]="nation.localDomain">{{nation.name}}</mat-option>
        </mat-select>
        <mat-error><planet-form-error-messages [control]="configurationFormGroup.controls.parentDomain"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="nationOrCommunity === 'nation'">
        <input matInput i18n-placeholder placeholder="Center" formControlName="parentDomain" required readonly>
      </mat-form-field>
      <mat-form-field class="new-line">
        <input matInput i18n-placeholder placeholder="Name" formControlName="name" required (keyup)="planetNameChange($event)">
        <mat-error><planet-form-error-messages [control]="configurationFormGroup.controls.name"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Code" formControlName="code" required readonly>
        <mat-error><planet-form-error-messages [control]="configurationFormGroup.controls.code"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Language" formControlName="preferredLang" required>
        <mat-error><planet-form-error-messages [control]="configurationFormGroup.controls.preferredLang"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <div class="full-width" *ngIf="showAdvancedOptions">
        <span>Advanced Options:</span>
        <ng-container *ngIf="showAdvancedOptions">
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="Local URL" formControlName="localDomain" (keyup)="localDomainChange($event)">
          </mat-form-field>
          <mat-slide-toggle formControlName="autoAccept" i18n>Auto accept Members</mat-slide-toggle>
          <mat-form-field>
            <mat-select
              formControlName="betaEnabled"
              i18n-placeholder
              placeholder="Beta features"
              matTooltip="Beta features may not work as intended. It's recommended to leave this off">
              <mat-option value="off" i18n>Always off</mat-option>
              <mat-option value="on" i18n>Always on</mat-option>
              <mat-option value="user" i18n>User preferences</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </form>
    <div>
      <mat-slide-toggle [(ngModel)]="showAdvancedOptions" i18n>Show Advanced Options</mat-slide-toggle>
    </div>
    <div *ngIf="isAdvancedOptionsChanged">
      <mat-icon>warning</mat-icon><span i18n>You have changed the advanced option. Please confirm that you wanted to change it.</span><br/>
      <mat-checkbox [(ngModel)]="isAdvancedOptionConfirmed" i18n>I confirm the changes.</mat-checkbox><br/>
      <span>I accidently changed it, Please reset to default</span>
      <button mat-mini-fab (click)="resetDefault()">
          <mat-icon>replay</mat-icon>
        </button>
    </div>
    <div>
      <button mat-raised-button type="button" color="primary" *ngIf="configurationType === 'new'" matStepperPrevious i18n>Back</button>
      <button mat-raised-button color="primary" (click)="confirmConfigurationFormGroup()" i18n>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="contactFormGroup">
    <form class="form-spacing" [formGroup]="contactFormGroup" (ngSubmit)="onSubmitConfiguration()">
      <ng-template matStepLabel i18n>{ configurationType, select, new {Contact Details} update {Update Contact Details}}</ng-template>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="First Name" formControlName="firstName" required>
        <mat-error><planet-form-error-messages [control]="contactFormGroup.controls.firstName"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Middle Name" formControlName="middleName">
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Last Name" formControlName="lastName" required>
        <mat-error><planet-form-error-messages [control]="contactFormGroup.controls.lastName"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Email" formControlName="email" required>
        <mat-error><planet-form-error-messages [control]="contactFormGroup.controls.email"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Phone Number" formControlName="phoneNumber" required>
        <mat-error><planet-form-error-messages [control]="contactFormGroup.controls.phoneNumber"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <div class="full-width">
        <button mat-raised-button type="button" color="primary" matStepperPrevious i18n>Back</button>
        <button [planetSubmit]="spinnerOn" mat-raised-button type="submit" color="primary" i18n>{ configurationType, select, new {Submit} update {Update}}</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
