@import '~@angular/material/theming';

$primary-hue: 500;
$accent-hue: 500;
$warn-hue: 500;

$planet-primary: $mat-blue;
$planet-accent: $mat-amber;
$planet-warn: $mat-red;

$planet-app-primary: mat-palette($planet-primary, $primary-hue);
$planet-app-accent: mat-palette($planet-accent, $accent-hue);
$planet-app-warn: mat-palette($planet-warn, $warn-hue);

$planet-app-theme: mat-light-theme($planet-app-primary, $planet-app-accent, $planet-app-warn);

$primary: mat-color($planet-app-primary, $primary-hue);
$accent: mat-color($planet-app-accent, $accent-hue);
$primary-text: mat-contrast($planet-primary, $primary-hue);
$accent-text: mat-contrast($planet-accent, $accent-hue);
$light-grey: mat-color($mat-grey, 100);
$grey: mat-color($mat-grey, 400);
$primary-light: mat-color($planet-app-primary, 100);

$shadow: rgba(0, 0, 0, 0.2);

$font-family: Roboto, sans-serif;

/*
 * Old Planet Material Colors
 * Saved in case we want to revert
 * We can delete once UX finalizes colors

$ole-blue-light: rgb(76, 165, 211);
$ole-blue: rgb(42, 121, 200);
$ole-blue-dark: rgb(0, 62, 99);
$ole-green: rgb(99, 173, 61);
$ole-green-dark: rgb(89, 156, 55);

$ole-grey-light: rgb(200, 200, 200);
$ole-grey: rgb(150, 150, 150);

$pending: #ed9121; // Dogi's WIP label color
$error-red: #a94442;
// $body-margin: 8px; we won't need to use this if we use bootstrap's container class

$planet-primary: (
  50 : #e5eff8,
  100 : #bfd7ef,
  200 : #95bce4,
  300 : #6aa1d9,
  400 : #4a8dd0,
  500 : #2a79c8,
  600 : #2571c2,
  700 : #1f66bb,
  800 : #195cb4,
  900 : #0f49a7,
  A100 : #d6e4ff,
  A200 : #a3c2ff,
  A400 : #70a1ff,
  A700 : #5790ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$planet-accent: (
  50 : #ecf5e8,
  100 : #d0e6c5,
  200 : #b1d69e,
  300 : #92c677,
  400 : #7ab95a,
  500 : #63ad3d,
  600 : #5ba637,
  700 : #519c2f,
  800 : #479327,
  900 : #35831a,
  A100 : #cbffbc,
  A200 : #a4ff89,
  A400 : #7dff56,
  A700 : #6aff3c,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$planet-warn: (
  50 : #fdf2e4,
  100 : #fadebc,
  200 : #f6c890,
  300 : #f2b264,
  400 : #f0a242,
  500 : #ed9121,
  600 : #eb891d,
  700 : #e87e18,
  800 : #e57414,
  900 : #e0620b,
  A100 : #ffffff,
  A200 : #ffe6d8,
  A400 : #ffc5a5,
  A700 : #ffb58b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

*/
