@import 'variables';

body {
    font-family:$font-family;
    margin:$body-margin;
}

.ole-btn {
    border-radius:5px;
    background-color:$ole-green;
    color:white;
    border:none;
    padding:8px;
}

.ole-btn:hover {
    background-color:$ole-green-dark;
}

.cursor-pointer {
    cursor:pointer;
}

input, select {
    font-size:1em;
    padding:3px;
    border:1px solid $ole-blue;
    border-radius:5px;
}

input:focus, select:focus {
    box-shadow: 0 0 5px $ole-green;
    outline:none;
}

.ole-table {
    max-width:1000px;
    width:100%;
    border-spacing:0;
    border-collapse:collapse;
    
    td {
        padding:5px;
    }
    
    thead {
        font-weight:bold;
        td {
            border-bottom: 2px solid black;
        }
    }
    
    tbody > tr > td {
        border-bottom: 1px solid black;
    }
    
    tr.hoverable:hover, tr.selected {
        background-color:$ole-light-grey;
    }
    
    tr.hoverable.selected:hover {
        background-color:$ole-grey;
    }
    
}

.ole-pill {
    border-radius:5px;
    background-color:$ole-green;
    color:white;
    border:none;
    padding:2px;
    margin:0 3px;
    z-index:10;
}