
$font-family: Roboto, sans-serif;

$ole-blue-light: rgb(76,165,211);
$ole-blue: rgb(42, 121, 200);
$ole-blue-dark: rgb(0,62,99);
$ole-green: rgb(99, 173, 61);
$ole-green-dark: rgb(89, 156, 55);

$ole-light-grey: rgb(200,200,200);
$ole-grey:rgb(150,150,150);

$body-margin:8px;