.planet-users-achievements-update {
  .view-container {
    display: block;
  }

  .view-container form {
    margin: 10px 10px 10px 0;
    width: 100%;
  }

  planet-step-list .mat-list-base .mat-list-item {
    height: inherit;
    padding: 0.25rem 0;
    white-space: pre-wrap;
  }

  .achievement-button{
    position: fixed;
    z-index: 10;
    bottom: 2px;
  }
}
