.achievements-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.achievements-container mat-list {
  text-align: left;
}

.mat-list-base .mat-list-item {

  &.mat-list-item-word-wrap {
    height: initial;
  }

  .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
    display: grid;
    grid-template-areas: "txt btn";
    grid-template-columns: auto min-content;
    align-items: center;

    .achievement-text {
      grid-area: txt;
    }

    .achievement-button {
      grid-area: btn;
    }

    &.no-attachment {
      grid-template-columns: auto 0;
    }
  }

}
