<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Edit Achievements</span>
</mat-toolbar>

<div class="planet-users-achievements-update space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span>{{user.name}}</span>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <form [formGroup]="editForm">
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <planet-markdown-textbox class="full-width" placeholder="My Purpose" [formControl]="editForm.controls.purpose"></planet-markdown-textbox>
      </mat-form-field>
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <planet-markdown-textbox class="full-width" placeholder="My Goals" [formControl]="editForm.controls.goals"></planet-markdown-textbox>
      </mat-form-field>
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <planet-markdown-textbox class="full-width" placeholder="Summary of Achievements" [formControl]="editForm.controls.achievementsHeader"></planet-markdown-textbox>
      </mat-form-field>
      <div>
        <button type="button" (click)="addAchievement()" mat-stroked-button color="primary">Add Achievement</button>
        <planet-step-list [steps]="achievements" [ignoreClick]="true">
          <planet-step-list-item *ngFor="let achievement of achievements.controls; index as i">
            <span>
              {{achievement.value.description || achievement.value}}
              <div *ngIf="achievement.value.resources?.length > 0" class="mat-caption">
                Attached resources:
              </div>
              <mat-chip-list mat-line>
                <mat-chip *ngFor="let resource of (achievement.value.resources || [])">
                  {{resource.title}}
                  <mat-icon matChipRemove (click)="removeResource(achievement, resource)">clear</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </span>
            <button mat-stroked-button type="button" class="margin-lr-4" (click)="addAchievement(i, achievement.value)" i18n>Edit</button>
          </planet-step-list-item>
        </planet-step-list>
      </div>
      <div>
        <button type="button" (click)="addOtherInfo()" mat-stroked-button color="primary">Add Other Information</button>
        <planet-step-list [steps]="otherInfo" [ignoreClick]="true">
          <planet-step-list-item *ngFor="let info of otherInfo.controls; index as i">
            <span mat-line>{{info.value.type}}: {{info.value.description}}</span>
            <button mat-stroked-button type="button" class="margin-lr-4" (click)="addOtherInfo(i, info.value)" i18n>Edit</button>
          </planet-step-list-item>
        </planet-step-list>
      </div>
      <mat-checkbox formControlName="sendToNation" class="full-width" i18n>
        Allow your achievements to be shared with the nation
      </mat-checkbox>
    </form>
    <div class="achievement-button">
      <button type="button" (click)="onSubmit()" mat-raised-button [planetSubmit]="editForm.valid" color="primary" i18n>Update</button>
      <button type="button" mat-raised-button color="warn" (click)="goBack()" i18n>Cancel</button>
    </div>
  </div>
</div>
