@if (!publicView) {
  <mat-toolbar>
    <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <span i18n>Achievements</span>
    <span class="toolbar-fill"></span>
  </mat-toolbar>
}

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1 responsive-toolbar">
    <div>
      @if (user?.firstName) {
        <span>{{ (user.firstName + ' ' + user.middleName + ' ' + user.lastName) | truncateText:40 }}</span>
      } @else {
        {{ user.name | truncateText:40 }}
      }
    </div>
    <span class="toolbar-fill"></span>
    <div class="auto-adjust-buttons">
      @if (resumeUrl) {
        <a mat-stroked-button class="margin-r-1" [href]="resumeUrl" target="_blank" rel="noopener noreferrer" i18n>
        View CV/Resume
      </a>
      }
      @if (ownAchievements && !achievementNotFound) {
        <a mat-stroked-button class="margin-r-1" (click)="generatePDF()">
          <span i18n>Print Achievements</span>
        </a>
      }
      @if (ownAchievements) {
        <a mat-raised-button color="accent" routerLink="update">
          @if (achievementNotFound) {
            <span i18n>Add Achievements</span>
          }
          @if (!achievementNotFound) {
            <span i18n>Edit Achievements</span>
          }
        </a>
      }
      <button mat-icon-button matTooltip="Copy Achievements Link" i18n-matTooltip (click)="copyLink()">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="view-container">
    @if (isLoading) {
      <planet-loading-spinner text="Loading achievements..." i18n-text></planet-loading-spinner>
    }
    @if (!isLoading) {
      <div>
        @if (achievements !== undefined) {
          <div class="achievements-container">
            <div class="user-info">
              <img class="profile-image" [src]="profileImg">
              <h2>{{ (user.firstName + ' ' + user.middleName + ' ' + user.lastName) | truncateText:40 }}</h2>
              @if (!publicView) {
                <div class="birth-info">
                  @if (user.birthDate) {
                    <span i18n>Birthdate: {{' ' + (user.birthDate | date: medium) + ' '}}</span>
                    }<br/><br/>
                    @if (user.birthplace) {
                      <span i18n>Birthplace: {{' ' + user.birthplace}} </span>
                    }
                  </div>
                }
              </div>
              @if (achievements.purpose) {
                <div>
                  <mat-divider></mat-divider>
                  <h3 i18n>My Purpose</h3>
                  <td-flavored-markdown [content]="achievements.purpose"></td-flavored-markdown>
                </div>
              }
              @if (achievements.goals) {
                <div>
                  <mat-divider></mat-divider>
                  <h3 i18n>My Goals</h3>
                  <td-flavored-markdown [content]="achievements.goals"></td-flavored-markdown>
                </div>
              }
              <ng-container *planetBeta>
                @if (certifications.length > 0) {
                  <div>
                    <mat-divider></mat-divider>
                    <h3 i18n>My Certifications</h3>
                    <mat-list class="certs-list">
                      @for (certification of certifications; track certification) {
                        <mat-list-item>
                          <span matListItemTitle class="cert-item">{{certification.name}}</span>
                        </mat-list-item>
                      }
                    </mat-list>
                  </div>
                }
              </ng-container>
              @if (achievements?.links?.length > 0) {
                <div>
                  <mat-divider></mat-divider>
                  <h3 i18n>My Links</h3>
                  <mat-list>
                    @for (link of achievements.links; track link) {
                      <mat-list-item class="mat-list-item-word-wrap">
                        <h4 class="link-title" matListItemTitle>{{link.title}}:</h4>
                        <span matListItemMeta><a href="{{link.url}}" target="_blank" class="styled-link">{{link.url}}</a></span>
                      </mat-list-item>
                    }
                  </mat-list>
                </div>
              }
              @if (achievements.achievementsHeader || achievements.achievements.length > 0) {
                <div>
                  <mat-divider></mat-divider>
                  <h3 i18n>My Achievements</h3>
                  <td-flavored-markdown [content]="achievements.achievementsHeader"></td-flavored-markdown>
                  <mat-list>
                    @for (achievement of achievements.achievements; track achievement; let i = $index) {
                      <mat-list-item class="mat-list-item-word-wrap" [ngClass]="{'cursor-pointer':isClickable(achievement)}" (click)="onAchievementClick(achievement, i)">
                        <span matListItemTitle class="achievement-header">
                          <span class="achievement-text">{{achievement.title || achievement}}
                            @if (isClickable(achievement)) {
                              @if (openAchievementIndex !== i) {
                                <mat-icon color="primary">expand_more</mat-icon>
                              }
                              @if (openAchievementIndex === i) {
                                <mat-icon color="primary">expand_less</mat-icon>
                              }
                            }
                          </span>
                          <span class="achievement-date">{{achievement.date | date: medium}}</span>
                        </span>
                        @if (openAchievementIndex === i) {
                          <span matListItemLine>
                            {{achievement.description}}
                            @if (achievement.link) {
                              <a href="{{achievement.link}}" target="_blank" class="styled-link">{{achievement.link}}</a>
                            }
                          </span>
                        }
                        @if (openAchievementIndex === i) {
                          <span matListItemLine class="achievement-buttons"></span>
                        }
                      </mat-list-item>
                    }
                  </mat-list>
                </div>
              }
              @if (achievements.references.length > 0) {
                <div>
                  <mat-divider></mat-divider>
                  <h3 i18n>My References</h3>
                  <mat-list class="references-list">
                    @for (reference of achievements.references; track reference) {
                      <mat-list-item class="mat-list-item-word-wrap">
                        <span matListItemTitle>{{reference.name}}</span>
                        @if (reference?.relationship) {
                          <span matListItemLine><ng-container i18n>Relationship:</ng-container> {{reference.relationship}}</span>
                        }
                        @if (reference?.phone) {
                          <span matListItemLine><ng-container i18n>Phone Number:</ng-container> {{reference.phone}}</span>
                        }
                        @if (reference?.email) {
                          <span matListItemLine><ng-container i18n>Email:</ng-container> {{reference.email}}</span>
                        }
                      </mat-list-item>
                    }
                  </mat-list>
                </div>
              }
            </div>
          }
          @if (achievementNotFound) {
            <div>
              @if (ownAchievements) {
                <span i18n>You haven't entered any achievements yet. Click </span><a routerLink="update" i18n>Add Achievements</a><span i18n> to add your achievements!</span>
              }
              @if (!ownAchievements) {
                <ng-container i18n>No achievements found.</ng-container>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
