.achievements-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  & mat-list, & ul, & ol {
    text-align: left;
  }

  .mat-list-base .mat-list-item {

    &.mat-list-item-word-wrap {
      height: initial;
      margin: 0.75rem 0;
    }

    .mat-line {
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    .achievement-header {
      display: grid;
      grid-template-areas: "txt dt";
      grid-template-columns: auto max-content;
      align-items: center;

      .achievement-text {
        grid-area: txt;
        display: flex;
        align-items: center;
      }

      .achievement-date {
        grid-area: dt;
      }

    }

    .achievement-buttons button {
      margin: 0.25rem 0.5rem 0.25rem 0;

      &:last-child {
        margin-right: 0;
      }
    }

  }

}
