<h2 mat-dialog-title>
  {{ event.title }}
</h2>

<mat-dialog-content class="content-text">
  <span class="gutter-bottom subtitle2"> Fecha de inicio de evento: </span>
  <br />
  <span class="subtitle1">
    {{ renderedStartDate }}
  </span>
  <br />
  <span class="gutter-bottom subtitle2"> Fecha de fin de evento: </span>
  <br />
  <span class="subtitle1">
    {{ renderedEndDate }}
  </span>
  <br />
  <span class="gutter-bottom subtitle2"> Descripción de evento: </span>
  <div class="event-description-box">
    <planet-markdown [content]="event.description"> </planet-markdown>
  </div>
  <div *ngIf="event.meetupLocation">
    <span class="gutter-bottom subtitle2"> Ubicación de evento: </span>
    <br />
    <span class="subtitle1">
      {{ event.meetupLocation }}
    </span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- disabled="!id" -->
  <button
    type="button"
    class="event-button"
    mat-raised-button
    mat-dialog-close
    i18n
    (click)="handleURL()"
  >
    Ir al evento
  </button>
  <button
    type="button"
    class="cancel-button"
    mat-raised-button
    mat-dialog-close
    (click)="clickCloseCard()"
  >
    Cerrar
  </button>
</mat-dialog-actions>
