.event-decription-box {
  & blockquote {
    margin: 0;
    padding: 0 15px;
    border-left: solid 4px #951fcc;
  }
}

.gutter-bottom {
  margin-bottom: 0.35em;
}

.content-text {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.subtitle1 {
  line-height: 1.75;
}

.subtitle2 {
  margin: 0px 0px 0.35em;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
}

.event-button {
  color: white;
  background-color: #951FCC;
  border-color: #951FCC;
}

.cancel-button {
  color: #951FCC;
}
