@import '../../variables';

@mixin editor-border-color($color) {
  border-top-color: $color;
  border-left-color: $color;
  border-right-color: $color;
  border-bottom-color: $color;
}

.mat-form-field-invalid planet-markdown-textbox {
  .editor-toolbar, .CodeMirror {
    @include editor-border-color($warn);
  }
}

.mat-focused.ng-valid planet-markdown-textbox, .mat-focused.ng-untouched planet-markdown-textbox {
  .editor-toolbar, .CodeMirror {
    @include editor-border-color($primary);
  }
}

planet-markdown-textbox {
  .CodeMirror, .CodeMirror-scroll {
    height: 15vh;
    min-height: 15vh;
  }

  .CodeMirror.CodeMirror-fullscreen {
    padding-top: 70px;
    padding-left: 80px;
  }

  .CodeMirror.CodeMirror-fullscreen .CodeMirror-scroll{
    height: 100vh;
    min-height: 100vh;
  }

  .editor-toolbar.fullscreen{
    z-index: 1000;
    top:70px;
    left: 65px;
  }
}
