:host {

  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem;
  box-sizing: border-box;
  width: 100%;

  mat-chip-set {
    max-width: 100%;

    mat-chip {
      max-width: 100%;
      height: auto;
      min-height: 32px;

      .tag-chip-label {
        white-space: normal;
        word-break: break-word;
      }

      ::ng-deep .mdc-evolution-chip__text-label {
        white-space: normal;
        word-break: break-word;
      }
    }
  }

  > button {
    width: 100%;
    max-width: 196px;
  }

}
