@import '../../variables';

@mixin editor-border-color($color) {
  border-top-color: $color;
  border-left-color: $color;
  border-right-color: $color;
  border-bottom-color: $color;
}

.mat-form-field-invalid planet-markdown-textbox {
  .editor-toolbar, .CodeMirror {
    @include editor-border-color($warn);
  }
}

.mat-focused.ng-valid planet-markdown-textbox, .mat-focused.ng-untouched planet-markdown-textbox {
  .editor-toolbar, .CodeMirror {
    @include editor-border-color($primary);
  }
}

planet-markdown-textbox {
  .CodeMirror, .CodeMirror-scroll {
    height: 15vh;
    min-height: 15vh;
  }

  .CodeMirror.CodeMirror-fullscreen .CodeMirror-scroll {
    height: 100vh;
    min-height: 100vh;
  }

  .editor-preview-side {
    padding-top: 70px;
    background-color: hsl(100%, 100%, 100%);
  }

  .CodeMirror.CodeMirror-fullscreen {
    padding-top: 70px;

    .editor-preview {
      top: 70px;
    }
  }

  .editor-toolbar.fullscreen {
    z-index: 10;
    top: 70px;
  }
}

@media (min-width: 960px) {
  planet-markdown-textbox {
    .CodeMirror.CodeMirror-fullscreen {
      padding-left: 20px;

      .editor-preview {
        left: 10px;
      }
    }

    .editor-toolbar.fullscreen {
      left: 5px;
    }
  }
}

@media (max-width: 959px) {
  planet-markdown-textbox {
    .CodeMirror.CodeMirror-fullscreen {
      padding-left: 90px;

      .editor-preview {
        left: 80px;
      }
    }

    .editor-toolbar.fullscreen {
      left: 75px;
    }
  }
}
