@if (helperText) {
  <planet-tag-selected-input [selectedIds]="value" [allTags]="tags"></planet-tag-selected-input>
}

<button type="button" mat-stroked-button (click)="openPresetDialog()" [disabled]="disabled">
  <span [ngClass]="{'mat-title': largeFont}">
    @switch (labelType) {
      @case ('filter') {
        <ng-container i18n >Collections</ng-container>
      }
      @case ('add') {
        <ng-container i18n>Add Collections</ng-container>
      }
      @case ('change') {
        <ng-container i18n>Change Collections</ng-container>
      }
    }
  </span>
</button>
