.back-button {
  padding: 0 0.5rem 0 0;
}

.mat-mdc-nav-list.no-pointer .mat-mdc-list-item {
  cursor: auto;
}

.planet-step-list-form-container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  height: 100%;

  .action-buttons > * {
    margin: 0.25rem 0 0 0.25rem;
  }

  .planet-step-list-actions > * {
    margin: 0.25rem 0 0 0.25rem;
  }

  .planet-step-list-actions > *:first-child {
    margin: 0;
  }

  .planet-step-list-form {
    overflow-y: auto;
  }

  .planet-step-list-actions {
    margin: 0.5rem 0 0 0;
  }
}
