<mat-dialog-content>
  <mat-form-field>
    <input matInput i18n-placeholder placeholder="Filter Labels" [ngModel]="filterValue" (ngModelChange)="updateFilter($event)">
  </mat-form-field>
  <mat-slide-toggle i18n [(ngModel)]="selectMany" class="margin-lr-5" *ngIf="mode==='filter'">Select Many Labels</mat-slide-toggle>
  <mat-expansion-panel *ngIf="mode==='add'">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Create New Label</mat-panel-title>
    </mat-expansion-panel-header>
    <form class="form-spacing" (ngSubmit)="addLabel()" [formGroup]="addTagForm">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Label" formControlName="name" required>
        <mat-error><planet-form-error-messages [control]="addTagForm.controls.name"></planet-form-error-messages></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select i18n-placeholder placeholder="Sublabel of..." formControlName="attachedTo" multiple>
          <mat-option *ngFor="let tag of tags" [value]="tag._id || tag.name">{{tag.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span><button type="submit" i18n mat-raised-button color="primary">Add Label</button></span>
    </form>
  </mat-expansion-panel>
  <mat-selection-list (selectionChange)="tagChange($event.option)" *ngIf="selectMany">
    <ng-container *ngFor="let tag of tags">
      <mat-list-option [selected]="isSelected(tag._id || tag.name)" [value]="[ tag._id || tag.name ]" *ngIf="(filter === true && tag.count>0)|| (filter === false)">{{tag.name + ' (' + (tag.count || 0) + ')'}}</mat-list-option>
      <div *ngFor="let subTag of tag.subTags">
        <mat-list-option [value]="[ subTag._id || subTag.name, tag._id || tag.name ]" [selected]="isSelected(subTag._id || subTag.name)" *ngIf="(filter === true && subTag.count>0)|| (filter === false)">
            <mat-icon mat-list-icon>subdirectory_arrow_right</mat-icon>
            {{subTag.name + ' (' + (subTag.count || 0) + ')'}}
        </mat-list-option>
      </div>
    </ng-container>
  </mat-selection-list>
  <mat-nav-list *ngIf="!selectMany">
    <ng-container *ngFor="let tag of tags" >
      <a mat-list-item (click)="selectOne(tag._id || tag.name)" *ngIf="(filter === true && tag.count>0)|| (filter === false)" mat-dialog-close>{{tag.name + ' (' + (tag.count || 0) + ')'}}</a>
      <div *ngFor="let subTag of tag.subTags">
        <a mat-list-item (click)="selectOne(tag._id || tag.name, subTag._id || subTag.name)" *ngIf="(filter === true && subTag.count>0)|| (filter === false)" mat-dialog-close>
            <mat-icon>subdirectory_arrow_right</mat-icon>
            {{subTag.name + ' (' + (subTag.count || 0) + ')'}}
        </a>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions *ngIf="selectMany">
  <button type="button" mat-dialog-close i18n mat-raised-button color="primary">OK</button>
</mat-dialog-actions>
