:host {

  .view-container {
    display: grid;
    grid-template-rows: min-content minmax(auto, min-content) max-content min-content;

    td-markdown {
      overflow-y: auto;
    }
  }

  .question-list {
    display: flex;
    flex-direction: column;

    mat-radio-button, mat-checkbox {
      margin: 5px;
      float: left;
    }

    mat-radio-button:last-child, mat-checkbox:last-child {
      margin-bottom: 15px;
    }
  }

  .v-align-center, .v-align-center > * {
    display: flex;
    align-items: center;
  }

  .question-header {
    margin-bottom: 8px;
  }

  .multiple-choice-text {
    white-space: normal;
  }

  .other-option-flex {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .other-option-input {
    border: none;
    border-bottom: 1px dotted #000;
    outline: none;
    max-width: 50%;
  }
}
