:host {
  .question-list {
    display: flex;
    flex-direction: column;

    mat-radio-button, mat-checkbox {
      margin: 5px;
    }

    mat-radio-button:last-child, mat-checkbox:last-child {
      margin-bottom: 15px;
    }
  }

  .v-align-center {
      display: flex;
      align-items: center;
  }

  .question-header {
    margin-bottom: 8px;
  }
}
