@import '../variables';

:host {

  form {
    display: grid;
    grid-template-rows: 56px auto 56px;
  }

  .question-choices {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .question-choices > div {
    margin-right: 0.5rem;
    max-height: 56px;
  }

  .question-choices > div > mat-checkbox {
    margin-right: 0.5rem;
  }

  .type-title-container {
    display: grid;
    grid-template-columns: 1fr $form-width-1;
    grid-column-gap: 0.5rem;
  }

}
