<mat-toolbar>
  <a mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>Question {{questionNum}} of {{maxQuestions}}</span>
    <span class="toolbar-fill"></span>
  </mat-toolbar>
  <div class="view-container">
    <b>{{question.header}}</b>
    <p>{{question.body}}</p>
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'take'">
        <ng-container [ngSwitch]="question.type">
          <mat-form-field *ngSwitchCase="'input'">
            <input matInput i18n-placeholder placeholder="Enter answer here" [(ngModel)]="answer">
          </mat-form-field>
          <mat-radio-group *ngSwitchCase="'select'" class="planet-radio-group" [(ngModel)]="answer">
            <mat-radio-button *ngFor="let option of question.choices" [value]="option" class="planet-radio-button">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'grade'">
        <p i18n>Submitted answer:<span> {{answer}}</span></p>
        <mat-radio-group class="planet-radio-group" [(ngModel)]="grade">
          <mat-radio-button [value]="1" class="planet-radio-button" i18n>Correct</mat-radio-button>
          <mat-radio-button [value]="0" class="planet-radio-button" i18n>Incorrect</mat-radio-button>
        </mat-radio-group>
      </ng-container>
    </ng-container>
    <div>
      <button mat-raised-button color="primary" (click)="nextQuestion(questionNum)" i18n>Submit Answer</button>
    </div>
  </div>
</div>
