@import '../variables';

:host {

  .view-container {
    display: grid;
    grid-auto-rows: 1fr;
  }

  form {
    display: grid;
    grid-template-areas: "buttons" "questions";
    grid-template-rows: 48px calc(#{$view-container-height} - 48px - 2rem);
  }

  form.survey-form {
    grid-template-areas: "buttons" "inputs" "questions";
    grid-template-rows: 48px 72px calc(#{$view-container-height} - 120px - 2rem);
  }

  .exam-buttons {
    grid-area: buttons;
  }

  .exam-inputs {
    grid-area: inputs;
  }

  .exam-questions {
    grid-area: questions;
    overflow-y: auto;
  }

  .exam-question {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
