@if (!isDialog) {
  <mat-toolbar>
    <a mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></a>
    <span i18n>{examType, select, survey {Survey} exam {Test}}</span>
    <span class="toolbar-fill"></span>
  </mat-toolbar>
}

<planet-exams-question-frame
  [title]="title"
  [questionNum]="questionNum"
  [maxQuestions]="maxQuestions"
  [isLoading]="isLoading"
  [isDialog]="isDialog"
  [disablePrevious]="isLoading || questionNum === 1"
  [disableNext]="disableFrameNext"
  [slideDirection]="slideDirection"
  [slideAnimationVariant]="slideAnimationVariant"
  (previous)="moveQuestion(-1)"
  (next)="nextFromFrame()"
  >
  @if (previewMode) {
    <span exam-frame-title-extra i18n>(Preview)</span>
  }
  @if (mode !== 'take') {
    <button exam-frame-title-extra mat-icon-button [matMenuTriggerFor]="infoMenu">
      <mat-icon>info</mat-icon>
    </button>
  }
  <mat-menu #infoMenu="matMenu">
    <ng-container>
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        @if (submittedBy) {
          <span>{{ submittedBy }}</span>
        } @else {
          <span i18n>Unknown</span>
        }
      </button>
    </ng-container>
    @if (updatedOn) {
      <button mat-menu-item disabled>
        <mat-icon>schedule</mat-icon>
        <span>{{ updatedOn | date:'short' }}</span>
      </button>
    }
  </mat-menu>
  <td-markdown class="question-body" [content]="question?.body"></td-markdown>
  <div>
    @switch (mode) {
      @case ('take') {
        <planet-exams-take-widget
          [question]="question"
          [answer]="answer"
          [examType]="examType"
          [storedAnswerValue]="currentAnswer">
        </planet-exams-take-widget>
      }
      @case ('grade') {
        <p><b i18n>Submitted answer:</b></p>
        <td-markdown [content]="answer?.value?.text || answer?.value"></td-markdown>
        <mat-radio-group [(ngModel)]="grade" [disabled]="question?.type === 'select' || question?.type === 'selectMultiple'">
          <mat-radio-button [value]="1" class="planet-radio-button" i18n>Correct</mat-radio-button>
          <mat-radio-button [value]="0" class="planet-radio-button" i18n>Incorrect</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Comment</mat-label>
          <planet-markdown-textbox class="full-width" [(ngModel)]="comment"></planet-markdown-textbox>
        </mat-form-field>
      }
      @case ('view') {
        <p><b i18n>Response:</b></p>
        <td-markdown [content]="answer?.value?.text || answer?.value"></td-markdown>
        @if (grade>=0) {
          <p><b i18n>Grade:</b></p>
          @if (grade===1) {
            <p i18n>Correct</p>
          }
          @if (grade===0) {
            <p i18n>Incorrect</p>
          }
        }
        @if (comment) {
          <p><b i18n>Feedback:</b></p>
          <td-markdown [content]="comment"></td-markdown>
        }
      }
    }
  </div>
  @if (mode === 'take') {
    <div class="action-buttons action-buttons--split">
      <div class="action-buttons__left">
        <button
          mat-stroked-button
          color="primary"
          (click)="moveQuestion(-1)"
          [disabled]="isLoading || questionNum === 1"
          i18n>
        Previous
      </button>
      </div>
      <div class="action-buttons__right">
        @if (mode !== 'view') {
          <button
            mat-stroked-button
            color="primary"
            (click)="nextQuestion()"
            [disabled]="!answer.valid || grade === undefined || grade === null || (mode !== 'grade' && questionNum === maxQuestions)">
            @if (mode === 'take') {
              <ng-container i18n>Next</ng-container>
            } @else {
              <ng-container i18n>Submit Answer</ng-container>
            }
          </button>
        }
        @if (mode === 'take') {
          <button
            mat-raised-button
            color="accent"
            (click)="nextQuestion({ isFinish: true })"
            [disabled]="!isComplete || !answer.valid || grade === undefined || grade === null"
            i18n>
        {examType, select, survey {Finish Survey} exam {Finish Test}}
      </button>
        }
        <span class="action-buttons-status small">
          @switch (statusMessage) {
            @case ('incorrect') {
              <div class="warn-text-color">
                <mat-icon>error</mat-icon><span i18n>Incorrect answer, please try again</span>
              </div>
            }
            @case ('complete') {
              <div class="primary-text-color">
                <mat-icon>check_circle</mat-icon>
                <span>
                  <ng-container i18n>{examType, select, survey {Survey is complete.} exam {Test is complete.}}</ng-container>
                  {{' '}}
                  @if (previewMode) {
                    <ng-container i18n>You can close the preview.</ng-container>
                  } @else {
                    <ng-container i18n>{examType, select, survey {Click Finish Survey to submit for review.} exam {Click Finish Test to submit for review.}}</ng-container>
                  }
                </span>
              </div>
            }
          }
        </span>
      </div>
    </div>
  } @else {
    <div class="action-buttons">
      @if (mode !== 'view') {
        <button
          mat-raised-button
          color="primary"
          (click)="nextQuestion()"
          [disabled]="!answer.valid || grade === undefined || grade === null">
          <ng-container i18n>Submit Answer</ng-container>
        </button>
      }
    </div>
  }
</planet-exams-question-frame>
