<form class="vertical-form" [formGroup]="questionForm">
  <div class="type-title-container">
    <mat-form-field class="full-width">
      <input matInput class="full-width" placeholder="Question Title" [formControl]="questionForm.controls.title">
      <mat-error><planet-form-error-messages [control]="questionForm.controls.title"></planet-form-error-messages></mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select i18n-placeholder placeholder="Type" formControlName="type" (selectionChange)="clearChoices()">
        <mat-option value="input" i18n>Text - Short answer</mat-option>
        <mat-option value="textarea" i18n>Text - Long answer</mat-option>
        <mat-option value="select" i18n>Multiple Choice - single answer</mat-option>
        <mat-option value="selectMultiple" i18n>Multiple Choice - multiple answer</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field class="full-width mat-form-field-type-no-underline">
    <planet-markdown-textbox class="full-width" required="true" placeholder="Question Detail" [formControl]="questionForm.controls.body"></planet-markdown-textbox>
    <mat-error><planet-form-error-messages [control]="questionForm.controls.body"></planet-form-error-messages></mat-error>
  </mat-form-field>
  <div>
    <button type="button" mat-button (click)="addChoice()" class="margin-lr-5" *ngIf="questionForm.controls.type.value.includes('select')">Add Choice</button>
  </div>
  <div i18n class="mat-caption warn-text-color" *ngIf="!questionForm.controls.correctChoice.valid && questionForm.controls.correctChoice.touched">
    You must select the correct {questionForm.controls.type.value, select, select {choice} selectMultiple {choices}}
  </div>
  <div class="question-choices">
    <div *ngFor="let choice of choices.controls; index as i; trackBy: choiceTrackByFn">
      <mat-form-field>
        <input matInput i18n-placeholder placeholder="Add Choice" [formControl]="choice.controls.text">
        <button type="button" mat-icon-button (click)="removeChoice(i)" color="warn" matSuffix><mat-icon>remove_circle</mat-icon></button>
      </mat-form-field>
      <mat-checkbox
        (change)="setCorrect($event, choice)"
        [checked]="correctCheckboxes[choice.controls.id.value]"
        *ngIf="examType === 'exam'">
      </mat-checkbox>
    </div>
  </div>
</form>
