<mat-toolbar>
  <a mat-icon-button (click)="cancel()"><mat-icon>arrow_back</mat-icon></a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>{{pageType}} {examType, select, courses {Exam} surveys {Survey}}</span>
    <span class="toolbar-fill"></span>
    <button mat-raised-button color="accent" (click)="addQuestion()" i18n>Add Question</button>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <form [formGroup]="examForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="exam-buttons">
        <button mat-raised-button color="primary" type="submit" [planetSubmit]="examForm.valid" i18n>{{pageType}} {examType, select, courses {Exam} surveys {Survey}}</button>
        <button mat-raised-button color="accent" type="button" (click)="addQuestion()" i18n class="margin-lr-5">Add Question</button>
        <span *ngIf="showFormError" i18n class="mat-caption warn-text-color">Some required fields are missing.</span>
      </div>
      <div class="exam-inputs">
        <mat-form-field class="full-width">
          <input matInput i18n-placeholder [placeholder]="examType === 'surveys'? 'Survey Title': 'Exam Title'" formControlName="name" required>
          <mat-error><planet-form-error-messages [control]="examForm.controls.name"></planet-form-error-messages></mat-error>
        </mat-form-field>
      </div>
      <div class="exam-questions">
        <planet-exam-question
          *ngFor="let question of questionsFormArray.controls; let i = index"
          [questionForm]="question"
          (questionRemove)="removeQuestion(i)"
          [examType]="examType"
          ></planet-exam-question>
      </div>
    </form>
  </div>
</div>
