@import '../variables';

.question-choices {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.question-choices > div {
  margin-right: 0.5rem;
}

.question-choices > div > mat-checkbox {
  margin-left: 0.5rem;
}

.type-title-container {
  display: grid;
  grid-template-columns: 1fr $form-width-1;
  grid-column-gap: 0.5rem;
}
