@import '../variables';

:host {

  .view-container {
    display: grid;
    grid-auto-rows: 1fr;

    &.view-container.view-full-height {
      height: $view-container-height-no-toolbar;
    }

  }

  form {
    display: grid;
    grid-template-areas: "buttons" "questions";
    grid-template-rows: auto calc(#{$view-container-height-no-toolbar} - 2rem);
  }

  form.survey-form {
    grid-template-areas: "buttons" "inputs" "questions";
    grid-template-rows: auto auto 1fr;
  }

  .exam-buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .warn-text-color {
      display: block;
      width: 100%;
      margin: 4px;
    }
  }

  .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-right: 8px;
  }

  .exam-inputs {
    grid-area: inputs;
    margin: 1rem 0;
  }

  .exam-questions {
    grid-area: questions;
    overflow-y: auto;
  }

}
