<mat-toolbar>
  <a mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></a>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>{{question.header}}</span>
    <span class="toolbar-fill"></span>
  </mat-toolbar>
  <div class="view-container">
    <p>{{question.body}}</p>
    <ng-container [ngSwitch]="question.type">
      <mat-form-field *ngSwitchCase="'input'">
        <input matInput i18n-placeholder placeholder="Enter answer here">
      </mat-form-field>
      <mat-radio-group *ngSwitchCase="'select'" class="planet-radio-group">
        <mat-radio-button *ngFor="let option of question.choices" value="option" class="planet-radio-button">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
    <div>
      <button mat-raised-button color="primary" (click)="nextQuestion(questionNum)" i18n>Submit Answer</button>
    </div>
  </div>
</div>
