<div class="root-style" (click)="clickCardDetails()">
  <div class="event-card-container">
    <h2 style="margin-bottom: 0.35em">
      {{ title }}
    </h2>
    <span class="text-transform: uppercase; margin-bottom: 0.35em;">
      <p>
        <span *ngIf="startDate; else showStartError">Inicio: {{ startDate }}</span>
        <ng-template #showStartError> No indica inicio </ng-template>
      </p>

      <p>
        <span *ngIf="endDate; else showEndError">Fin: {{ endDate }}</span>
        <ng-template #showEndError> No indica fin </ng-template>
      </p>
    </span>
  </div>
</div>
