.image-class {
  border-radius: 7px;
  margin: 8px;
  // Be sure to implement 90px mobile
  width: 130px;
  height: 130px;
  // width: {
  //   xs: 90;
  //   sm: 90; 
  //   md: 90;
  //   lg: 130;
  //   xl: 130;
  // };
  // height: {
  //   xs: 90;
  //   sm: 90;
  //   md: 90;
  //   lg: 130;
  //   xl: 130;
  // };
}

.image-container-class {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}

.content-class {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  padding: 0px;
  margin: 0px;
  & blockquote {
    margin: 0px;
  }
  // Implement 1.2 mobile
  line-height: 1.5em;
  // lineHeight: {
  //   xs: '1.2em';
  //   sm: '1.2em';
  //   md: '1.5em';
  //   lg: '1.5em';
  //   xl: '1.5em';
  // };
}

.news-card-style {
  display: flex;
  border: none;
  box-shadow: none;
  gap: 8px;
  transition: 0.3s;
  &:hover {
    background: #e1e1e1;
    border: none;
  }
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-time {
  display: flex;
  align-items: baseline;
  color: #666870;
}
