<mat-card class="news-card-style" (click)="clickSeeDetails()">
  <div class="image-container-class">
    <img [src]="imageUrl" (error)="$event.target.src = 'assets/landing-page/img/news-placeholder.png'" alt="noticia" class="image-class">
  </div>
  <div class="card-content-container">
    <mat-card-content class="content-class">
      <planet-markdown [content]="message" >
      </planet-markdown>
    </mat-card-content>

    <div class="content-time">
      <div>
        {{timeAgo}}
      </div>
    </div>
  </div>
</mat-card>
