<div class="list-item-rating">
  <div class="stats-ratio" [ngClass]="{'invisible':rating.totalRating===0}">
    <mat-icon svgIcon="male" class="male-icon primary-text-color"></mat-icon>
    <mat-icon svgIcon="female" class="female-icon accent-text-color"></mat-icon>
    <planet-stacked-bar [data]="stackedBarData"></planet-stacked-bar>
  </div>

  <div class="stats-total">{{ rating.totalRating + ' Total' }}</div>

  <div class="avg-rating">
    <span class="rating-number">{{ rating.totalRating > 0 ? (rating.rateSum / rating.totalRating).toFixed(1) : (rating.rateSum).toFixed(1) }}</span>
    <span i18n>Average</span>
  </div>

  <div class="your-rating">
    <form [formGroup]="rateForm" novalidate>
      <planet-rating (click)="onStarClick()" formControlName="rate"></planet-rating>
    </form>
  </div>

  <div class="your-rating-label">Your Rating</div>
</div>
