<ng-container *ngIf="replyViewing._id!=='root'">
  <div class="action-buttons">
    <button mat-stroked-button type="button" (click)="showReplies({_id:'root'})" i18n>Show main conversation</button>
    <button mat-stroked-button type="button" *ngIf="replyViewing.replyTo && replyViewing.replyTo !== 'root'" (click)="showPreviousReplies()" i18n>Show previous replies</button>
  </div>
  <p i18n>Viewing replies for:</p>
  <planet-news-list-item class="main-message"
    [item]="replyViewing"
    [replyObject]="replyObject"
    [showRepliesButton]="false"
    (changeReplyViewing)="showReplies($event)"
    (updateNews)="openUpdateDialog($event)"
    (deleteNews)="openDeleteDialog($event)">
  </planet-news-list-item>
  <mat-divider></mat-divider>
</ng-container>
<planet-news-list-item *ngFor="let item of displayedItems"
  [item]="item"
  [replyObject]="replyObject"
  (changeReplyViewing)="showReplies($event)"
  (updateNews)="openUpdateDialog($event)"
  (deleteNews)="openDeleteDialog($event)">
</planet-news-list-item>
