<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="item.avatar">
    <mat-card-title>
      <a [routerLink]="['/users/profile', item.user.name]">
        {{item.user.firstName ?
          item.user.firstName + ((' ' + item.user.middleName) || '') + ' ' + item.user.lastName :
          item.user.name}}
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      <ng-container i18n>wrote on</ng-container> {{item.time | date: 'medium' }}
      <ng-container *ngIf="item.updatedDate !== item.time && item.updatedDate"> | <ng-container i18n>edited on</ng-container> {{item.updatedDate | date: 'medium'}}</ng-container>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [ngClass]="{'show-less': showLess}" #content>
    <td-markdown [content]="item.message"></td-markdown>
  </mat-card-content>
  <mat-card-actions class="display-flex">
    <button mat-button *ngIf="contentHeight > content.clientHeight || !showLess" (click)="this.showLess = !this.showLess" i18n>{{ showLess ? "Show More" : "Show Less" }}</button>
    <button mat-button type="button" (click)="addReply(item)" i18n>Reply</button>
    <button mat-button type="button" *ngIf="replyObject[item._id]?.length > 0 && showRepliesButton" (click)="showReplies(item)">
      <ng-container i18n>Show Replies</ng-container> ({{replyObject[item._id]?.length}})
    </button>
    <ng-container *ngIf="item.user.name === currentUser.name">
      <button mat-icon-button type="button" (click)="editNews(item)" i18n><mat-icon>edit</mat-icon></button>
      <button mat-icon-button type="button" (click)="openDeleteDialog(item)" i18n><mat-icon>delete</mat-icon></button>
    </ng-container>
  </mat-card-actions>
</mat-card>
