<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>ourNews</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1">

    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div class="new-post-form">
      <form [formGroup]="newsPost">
          <mat-form-field class="full-width mat-form-field-type-no-underline">
              <planet-markdown-textbox class="full-width" [formControl]="newsPost.controls.newMessage" i18n-placeholder placeholder="What would you like to share?"></planet-markdown-textbox>
          </mat-form-field>
          <button mat-raised-button color="accent" class="full-width" (click)="postMessage()" [disabled] = "!newsPost.valid">Post</button>
    </form>
    </div>
    <div class="news-container">
      <mat-card *ngFor="let item of newsItems">
        <img mat-card-avatar [src]="item.avatar">
        <mat-card-title>
          {{item.user.firstName ?
            item.user.firstName + ((' ' + item.user.middleName) || '') + ' ' + item.user.lastName :
            item.user.name}}
        </mat-card-title>
        <mat-card-subtitle><ng-container i18n>wrote on</ng-container> {{item.time | date: medium }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{item.message}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
