$max-width: 640px;

.view-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'form' 'news';
  justify-content: center;
  grid-template-columns: minmax(auto, $max-width);

  .new-post-form {
    grid-area: form;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;

    mat-form-field {
      width: 100%;
    }

  }

  .news-container {
    grid-area: news;
    overflow-y: auto;
    width: 100%;
  }

}
