@import '../variables';

mat-card {
  margin: 0.25rem;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}

mat-card-header {
  display: block;
}

.subtitle-row {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

mat-card-content {
  padding-top: 1rem;
}

.chat-container {
  border: dashed 1px #2c3e50;
  border-radius: 5px;
  padding: 5%;
}

.profile-outline {
  border: 2px solid $primary;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mat-mdc-chip.chip-outline-accent {
  background-color: $accent-lighter;
}

.mat-mdc-chip.chip-outline-primary {
  background-color: $primary-lighter;
}

.mat-mdc-chip.chip-outline-grey {
  background-color: $light-grey;
}

.user-name-truncate {
  flex: 1 1 0;
  justify-content: start;
}

.user-name-truncate-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
