@import '../variables';

mat-card {
  margin: 0.25rem;
}

:host(.main-message) {
  mat-card {
    border: 4px solid $grey;
  }
}

.show-less {
  max-height: 8rem;
  overflow-y: hidden;
}

mat-card-content {
  margin-bottom: 0;
}

.info-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}
