<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>ourNews</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar>
    <mat-toolbar-row class="primary-color font-size-1"></mat-toolbar-row>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div class="new-post-form">
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <planet-markdown-textbox class="full-width" [(ngModel)]="newMessage" i18n-placeholder placeholder="What would you like to share?"></planet-markdown-textbox>
      </mat-form-field>
      <button mat-raised-button color="accent" class="full-width" (click)="postMessage()" [disabled]="!newMessage.trim()">Post</button>
    </div>
    <div class="news-container">
      <mat-card *ngFor="let item of newsItems">
        <mat-card-header>
          <img mat-card-avatar [src]="item.avatar">
          <mat-card-title>
            <a [routerLink]="['/users/profile', item.user.name]">
              {{item.user.firstName ?
                item.user.firstName + ((' ' + item.user.middleName) || '') + ' ' + item.user.lastName :
                item.user.name}}
            </a>
          </mat-card-title>
          <mat-card-subtitle><ng-container i18n>wrote on</ng-container> {{item.time | date: medium }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="item.updateDate"><ng-container i18n>edited on</ng-container> {{item.updateDate | date: medium}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <td-markdown [content]="item.message"></td-markdown>
        </mat-card-content>
        <mat-card-actions class="display-flex" *ngIf="item.user.name === currentUser.name">
          <button mat-icon-button type="button" (click)="editNews(item)" i18n><mat-icon>edit</mat-icon></button>
          <button mat-icon-button type="button" (click)="openDeleteDialog(item)" i18n><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
