planet-news-list-item {
  display: block;
  margin-bottom: 1rem;
}

mat-divider {
  margin: 1.5rem 0 !important;
  background-color: rgba(0, 0, 0, 0.08);
  height: 2px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator {
  margin-top: 16px;
  background-color: transparent;
}

.loading-anchor {
  height: 1px;
}
