<h1 i18n>Submit your rating</h1>
<form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">

    <div hidden>
        <mat-form-field>
            <input matInput i18n-placeholder [(ngModel)]="this.id" type="text" formControlName="id">
            <mat-error><planet-form-error-messages [control]="ratingForm.controls.id"></planet-form-error-messages></mat-error>
        </mat-form-field>
    </div>

    <div hidden>
        <mat-form-field>
            <input matInput i18n-placeholder [(ngModel)]="this.user" type="text" formControlName="user">
            <mat-error><planet-form-error-messages [control]="ratingForm.controls.user"></planet-form-error-messages></mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-radio-group>
            <label i18n>Gender:</label>
            <mat-radio-button value="true" name="genderToggler" (change)="isMale(true)" i18n>Male</mat-radio-button>
            <mat-radio-button value="false" name="genderToggler" (change)="isMale(false)" i18n>Female</mat-radio-button>
          </mat-radio-group>
    </div>

    <div>
        <textarea matInput i18n-placeholder placeholder="Type your rating: (0-100)" formControlName="rating"></textarea>
        <mat-error><planet-form-error-messages [control]="ratingForm.controls.rating"></planet-form-error-messages></mat-error>
    </div>

    <div>
        <textarea matInput i18n-placeholder placeholder="Type your comment: (optional)" formControlName="comment"></textarea>
        <mat-error><planet-form-error-messages [control]="ratingForm.controls.comment"></planet-form-error-messages></mat-error>
    </div>

    <div>
        <button type="submit" mat-raised-button color="primary" i18n>Submit</button>
      </div>
  </form>

  <!--FOR DEBUGGING (remove once view is final)-->
<div>
    <p>Form value: {{ ratingForm.value | json }}</p>
    <p>{{ ratingForm.valid }}</p>
  </div>