.image-card {
  display: flex;
  background: #F4F4F4;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 8px;
  & img {
    margin: 12px;
    max-height: 50px;
    width: auto;
  };
  position: absolute;
  bottom: 0;
  min-height: 5.5rem;
}