<mat-table #table class="responsive-table" [dataSource]="communities" matSort [matSortDisableClear]="true">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header="name" i18n>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.nameDoc?.name || element.doc.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef mat-sort-header="code" i18n>Code</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.doc.code}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="localDomain">
    <mat-header-cell *matHeaderCellDef mat-sort-header="localDomain" i18n>URL</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.doc.localDomain}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="createdDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header="createdDate" i18n>Created Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.doc.createdDate | date: 'mediumDate'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef i18n>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="view(element.doc)" i18n-matTooltip matTooltip="View" [matTooltipDisabled]="!isMobile">
        <mat-icon>visibility</mat-icon>
        <label *ngIf="!isMobile" i18n>View</label>
      </button>
      <ng-container *ngIf="element.doc.registrationRequest === 'accepted'">
        <button *ngIf="element.doc.planetType === 'nation'" mat-raised-button color="primary" (click)="getChildPlanet(element.doc.localDomain)" i18n-matTooltip matTooltip="Communities" [matTooltipDisabled]="!isMobile">
          <mat-icon>groups</mat-icon>
          <label *ngIf="!isMobile" i18n>Communities</label>
        </button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="hubMenu" *ngIf="(hub==='sandbox' && hubs.length > 0) || hubs.length > 1"
          i18n-matTooltip matTooltip="{ hub, select, sandbox {Add to { planetType, select, nation {Network} center {Region} }} other {Move { planetType, select, nation {Networks} center {Regions} }} }"
          [matTooltipDisabled]="!isMobile">
          <mat-icon>hub</mat-icon>
          <label *ngIf="!isMobile" i18n>
            { hub, select,
              sandbox {Add to { planetType, select, nation {Network} center {Region} }}
              other {Move { planetType, select, nation {Networks} center {Regions} }}
            }
          </label>
        </button>
        <mat-menu #hubMenu="matMenu">
          <ng-container *ngFor="let h of hubs">
            <button *ngIf="h.name!==hub.name" (click)="addHubClick(element.doc.code, h.name)" mat-menu-item>{{h.name}}</button>
          </ng-container>
          <button (click)="removeHubClick(element.doc.code)" *ngIf="hub!=='sandbox'" mat-menu-item i18n>Sandbox</button>
        </mat-menu>
        <button mat-raised-button color="primary" (click)="openEditChildNameDialog(element)" i18n-matTooltip matTooltip="Edit Name" [matTooltipDisabled]="!isMobile">
          <mat-icon>edit</mat-icon>
          <label *ngIf="!isMobile" i18n>Edit Name</label>
        </button>
      </ng-container>
      <ng-container *ngIf="element.doc.registrationRequest === 'pending'">
        <button mat-raised-button color="primary" (click)="updateClick(element, 'accept')" i18n-matTooltip matTooltip="Accept" [matTooltipDisabled]="!isMobile">
          <mat-icon>link</mat-icon>
          <label *ngIf="!isMobile" i18n>Accept</label>
        </button>
      </ng-container>
      <button mat-raised-button color="warn" (click)="updateClick(element, 'delete')" i18n-matTooltip matTooltip="Delete" [matTooltipDisabled]="!isMobile">
        <mat-icon>delete</mat-icon>
        <label *ngIf="!isMobile" i18n>Delete</label>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td><div class="view-container" i18n>No Requests Found</div></td>
  </tr>
</mat-table>
<mat-paginator #paginator
  [pageSize]="50"
  [pageSizeOptions]="[5, 10, 20, 50, 100, 200]">
</mat-paginator>
