.full-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-container {
  overflow-y: auto;
  padding: 2rem;
  height: 100%;
}

@use '../../variables' as v;

.form-container {
  background-color: v.$light-grey;
  border-top: 1px solid v.$grey;
  width: 100%;
}

.form-space {
  padding: 10px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  position: absolute;
  top: 70%;
  right: 8px;
  transform: translateY(-50%);
}
