@import '../../variables.scss';

.chat-container {
  overflow-y: auto;
  height: 55%;
  padding: 2rem;
}

.form-container {
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-spacing {
  flex-grow: 1;
  padding: 10px;
  justify-content: center;
}

.conversation-query {
  text-align: left;
  padding: 8px;
  border-radius: 5px;
  background-color: #{$primary};
  color: white;
}

.conversation-response {
  margin: 8px 16px;
}

.conversation-error {
  color: #ff0000;
  font-style: italic;
}

textarea {
  border: 1px solid #007bff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
