<div class="chat-container" #chat>
  <div *ngFor="let conversation of conversations">
    <div class="conversation">
      <p class="conversation-query" [planetChatOutput]="conversation.query"></p>
      <p [ngClass]="{'conversation-error': conversation.error, 'conversation-response': !conversation.error}" class="conversation-err" [planetChatOutput]="conversation.response"></p>
    </div>
  </div>
</div>

<div class="form-container">
  <form [formGroup]="promptForm" class="form-spacing" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width mat-form-field-type-no-underline">
      <mat-label i18n>Chat</mat-label>
      <textarea matInput [formControl]="promptForm.controls.prompt" rows="5" placeholder="Send a message" i18n-placeholder></textarea>
    </mat-form-field>
    <button mat-raised-button [planetSubmit]="promptForm.valid && spinnerOn" [disabled]="!promptForm.valid" color="primary" i18n>
      Chat
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
