<div class="full-container">
  <div class="chat-container" #chat>
    <div *ngFor="let conversation of conversations; trackBy: trackByMessage">
      <p class="conversation-query" [planetChatOutput]="conversation.query"></p>
      <p [ngClass]="{'conversation-error': conversation.error, 'conversation-response': !conversation.error}" [planetChatOutput]="conversation.response"></p>
    </div>
  </div>

  <div class="form-container">
    <form [formGroup]="promptForm" class="form-space" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width mat-form-field-type-no-underline">
        <mat-label i18n>Chat</mat-label>
        <div class="textarea-container">
          <textarea #chatInput matInput [formControl]="promptForm.controls.prompt" rows="5" placeholder="Send a message" i18n-placeholder></textarea>
          <button
            mat-icon-button
            [planetSubmit]="promptForm.valid && spinnerOn"
            [disabled]="!promptForm.valid || providers.length === 0"
            matTooltip="chat is disabled, contact community admin"
            [matTooltipDisabled]="providers.length > 0"
            color="primary"
          >
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </mat-form-field>
    </form>
  </div>
</div>
