@import '../../variables.scss';

.full-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-container {
  overflow-y: auto;
  padding: 2rem;
  height: 100%;
}

.form-container {
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  width: 100%;
}

.form-space {
  padding: 10px;
}

.textarea-container {
  border: 1px solid $primary;
  border-radius: 5px;
}

.textarea-container textarea {
  resize: none;
  height: 100px;
  padding: 15px;
}

.textarea-container button {
  position: absolute;
  top: 70%;
  right: 8px;
  transform: translateY(-50%);
}
