<planet-loading-spinner *ngIf="isLoading" text="Loading communities..." i18n-text></planet-loading-spinner>
<p *ngIf="!isLoading && planets.hubs.length === 0 && planets.sandboxPlanets.length === 0" i18n>No communities available.</p>
<mat-list *ngIf="!isLoading">
  <ng-container *ngFor="let hub of planets.hubs">
    <h3 mat-subheader>{{hub.name}}</h3>
    <mat-list-item *ngFor="let planet of hub.children" [ngClass]="{ 'cursor-pointer': selectMode }" (click)="selectChange(planet)">
      <div class="action-buttons">
        <mat-checkbox *ngIf="selectMode" [checked]="planet.selected" (click)="$event.preventDefault()"></mat-checkbox>
        <span>{{planet.nameDoc?.name || planet.doc.name}}</span>
        <ng-container *ngIf="!selectMode">
          <a mat-raised-button color="primary" [routerLink]="'community/' + planet.doc.code" i18n>View Exchange</a>
          <a mat-raised-button color="primary" [routerLink]="['/manager/reports/detail', { parentCode: planet.doc.parentCode, code: planet.doc.code }]" i18n>
            View Report
          </a>
        </ng-container>
      </div>
    </mat-list-item>
  </ng-container>
  <ng-container *ngIf="planets.sandboxPlanets.length > 0">
    <h3 mat-subheader i18n>Sandbox Planets</h3>
    <mat-list-item *ngFor="let planet of planets.sandboxPlanets" class="action-button" [ngClass]="{ 'cursor-pointer': selectMode }" (click)="selectChange(planet)">
      <div class="action-buttons">
        <mat-checkbox *ngIf="selectMode" [checked]="planet.selected" (click)="$event.preventDefault()"></mat-checkbox>
        <span>{{planet.nameDoc?.name || planet.doc.name}}</span>
        <ng-container *ngIf="!selectMode">
          <a mat-raised-button color="primary" [routerLink]="'community/' + planet.doc.code" i18n>View Exchange</a>
          <a mat-raised-button color="primary" [routerLink]="['/manager/reports/detail', { parentCode: planet.doc.parentCode, code: planet.doc.code }]" i18n>
            View Report
          </a>
        </ng-container>
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>
