@import '../variables';

.view-container.community-view {

  &.view-full-height {
    height: calc(#{$view-container-height-no-toolbar} + 64px);
  }

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "news calendar";
  gap: 0.5rem;

  @media only screen and (max-width: #{$screen-md}) {
    grid-template-columns: 1fr;
    grid-template-areas: "news";
  }
}

.community-news {
  grid-area: news;
  overflow-y: auto;

  h3 {
    margin: 0;

    *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

planet-calendar {
  grid-area: calendar;
  overflow-y: auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 125px;
  margin: 0 0.5rem;
  .top-right-icon {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
  }
}

mat-tab-group, mat-tab {
  height: 100%;
}

.sticky-button {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding-bottom: 0.5rem;
}
