<div class="space-container">
  <div class="view-container view-full-height community-view">
    <div class="community-news">
      <mat-tab-group class="tabs-padding" (selectedTabChange)="tabChanged($event)">
        <mat-tab i18n-label label="Our Voices">
          <mat-toolbar class="bg-light-grey font-size-1 responsive-toolbar" [ngClass]="{ 'sticky-button': pinned }" *ngIf="!activeReplyId">
            <div class="toolbar-row">
              <mat-form-field class="search-form-field">
                <mat-icon class="small-icon" matPrefix>search</mat-icon>
                <input matInput i18n-placeholder placeholder="Search voice" [(ngModel)]="voiceSearch" (ngModelChange)="onVoicesSearchChange($event)">
              </mat-form-field>
              <mat-form-field class="label-filter-field">
                <mat-select [(ngModel)]="selectedLabel" (selectionChange)="onLabelFilterChange($event.value)">
                  <mat-select-trigger>
                    <ng-container *ngIf="selectedLabel">
                      <mat-icon class="label-icon">{{ getLabelIcon(selectedLabel) }}</mat-icon>
                      <planet-label [label]="selectedLabel"></planet-label>
                    </ng-container>
                    <ng-container *ngIf="!selectedLabel">
                      <span i18n>All</span>
                    </ng-container>
                  </mat-select-trigger>
                  <mat-option value=""><span i18n>All</span></mat-option>
                  <mat-option *ngFor="let label of availableLabels" [value]="label">
                    <mat-icon class="label-icon">{{ getLabelIcon(label) }}</mat-icon>
                    <planet-label [label]="label"></planet-label>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-container *planetAuthorizedRoles="'learner'">
                <button class="new-voice-btn" mat-raised-button (click)="openAddMessageDialog()" *ngIf="showNewsButton && isLoggedIn" i18n>New Voice</button>
              </ng-container>
              <button mat-icon-button (click)="pinned = !pinned" class="pin-btn">
                <mat-icon svgIcon="{{ pinned ? 'unpin' : 'pin' }}"></mat-icon>
              </button>
            </div>
          </mat-toolbar>
          <ng-container *ngIf="isLoading; else loaded">
            <span i18n>Loading voices...</span>
          </ng-container>
          <ng-template #loaded>
            <ng-container *ngIf="news?.length > 0; else noVoices">
              <planet-news-list [items]="filteredNews" [shareTarget]="shareTarget" (viewChange)="toggleShowButton($event)" [viewableId]="teamId" [useReplyRoutes]="true"></planet-news-list>
            </ng-container>
          </ng-template>
          <ng-template #noVoices>
            <p i18n>No Voices available.</p>
          </ng-template>
        </mat-tab>
        <mat-tab [label]="leadersTabLabel" *ngIf="isLoggedIn">
          <div class="card-grid">
            <mat-card *ngFor="let councillor of councillors">
              <planet-teams-member
                [leadershipTitle]="councillor.doc.leadershipTitle"
                [member]="councillor"
                [actionMenu]="!planetCode && (user.roles.indexOf('_admin') > -1 || user.roles.indexOf('manager') > -1) ? [ 'title' ] : []"
                (actionClick)="openChangeTitleDialog($event)">
              </planet-teams-member>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab i18n-label label="Services" *ngIf="isLoggedIn">
          <b i18n>{ configuration.planetType, select, community {Community} nation {Nation} center {Earth}} Description</b>
          <ng-container *ngIf="!planetCode">
          </ng-container>
          <p><planet-markdown *ngIf="team.description; else noTeamDesc" [content]="team.description || ''"></planet-markdown></p>
          <ng-template #noTeamDesc><p i18n>No description available.</p></ng-template>
          <ng-container *planetAuthorizedRoles="''">
            <div *ngIf="!planetCode" class="action-buttons sticky-button">
              <button class="toggle-button" (click)="openDescriptionDialog()" mat-stroked-button i18n>
                { servicesDescriptionLabel, select, Edit {Edit} Add {Add}} { configuration.planetType, select, community {Community} nation {Nation} center {Earth}} Description
              </button>
              <button (click)="confirmDeleteDescription()" mat-stroked-button>
                <span i18n>Remove Description</span>
              </button>
            </div>
          </ng-container>
          <ng-container>
            <b i18n>{ configuration.planetType, select, community {Community} nation {Nation} center {Earth}} Links</b>
            <span *ngIf="links?.length === 0" i18n><p>No links available.</p></span>
            <mat-nav-list>
              <mat-list-item *ngFor="let link of links" [routerLink]="(link.teamType === 'sync' || !planetCode) ? link.route : []" i18n-matTooltip [matTooltip]="(link.teamType === 'sync' || !planetCode) ? '' : link.title + ' is only available on ' + configuration.name" [disableRipple]="link.teamType === 'local' && planetCode">
                <span matLine>{{link.title}}</span>
                <button *ngIf="deleteMode" mat-icon-button color="warn" (click)="openDeleteLinkDialog(link); $event.stopPropagation()"><mat-icon>delete</mat-icon></button>
              </mat-list-item>
            </mat-nav-list>
          </ng-container>
          <ng-template #noLinks>
            <p i18n>No links available.</p>
          </ng-template>
          <ng-container *planetAuthorizedRoles="''">
            <button (click)="openAddLinkDialog()" mat-stroked-button i18n>Add Link</button>
            <button (click)="toggleDeleteMode()" [disabled]="links.length===0" mat-stroked-button>
              <span *ngIf="!deleteMode" i18n>Remove Links</span>
              <span *ngIf="deleteMode" i18n>Done Removing Links</span>
            </button>
          </ng-container>
        </mat-tab>
        <mat-tab *ngIf="configuration.planetType==='nation' && isLoggedIn" i18n-label label="Communities">
          <planet-community-list></planet-community-list>
        </mat-tab>
        <mat-tab i18n-label label="Finances" *ngIf="isLoggedIn">
          <planet-teams-view-finances [finances]="finances" [team]="team" (financesChanged)="dataChanged()" [editable]="isCommunityLeader && !planetCode"></planet-teams-view-finances>
        </mat-tab>
        <mat-tab i18n-label label="Reports" *ngIf="isLoggedIn">
          <planet-teams-reports [reports]="reports" [editable]="isCommunityLeader && !planetCode" [team]="team" (reportsChanged)="dataChanged()"></planet-teams-reports>
        </mat-tab>
        <mat-tab i18n-label label="Calendar" *ngIf="deviceType !== deviceTypes.DESKTOP">
          <planet-calendar [resizeCalendar]="resizeCalendar" [type]="'community'" [link]="{ teams: teamId }" [sync]="{ type: 'sync', planetCode: planetCode || configuration.code }"></planet-calendar>
        </mat-tab>
      </mat-tab-group>
    </div>
    <planet-calendar *ngIf="deviceType === deviceTypes.DESKTOP" [link]="{ teams: teamId }" [sync]="{ type: 'sync', planetCode: planetCode || configuration.code }"></planet-calendar>
  </div>
</div>
