<mat-list>
  <ng-container *ngFor="let hub of planets.hubs">
    <h3 mat-subheader>{{hub.name}}</h3>
    <mat-list-item *ngFor="let planet of hub.children" [ngClass]="{ 'cursor-pointer': selectMode }" (click)="selectChange(planet)">
      <mat-checkbox *ngIf="selectMode" matListItemIcon [checked]="planet.selected" (click)="$event.preventDefault()"></mat-checkbox>
      <span matListItemTitle>{{planet.nameDoc?.name || planet.doc.name}}</span>
      <div class="action-buttons" *ngIf="!selectMode" matListItemMeta>
        <a mat-raised-button color="primary" [routerLink]="'community/' + planet.doc.code" i18n>View Exchange</a>
        <a mat-raised-button color="primary" [routerLink]="['/manager/reports/detail', { parentCode: planet.doc.parentCode, code: planet.doc.code }]" i18n>
          View Report
        </a>
      </div>
    </mat-list-item>
  </ng-container>
  <ng-container *ngIf="planets.sandboxPlanets.length > 0">
    <h3 mat-subheader i18n>Sandbox Planets</h3>
    <mat-list-item *ngFor="let planet of planets.sandboxPlanets" class="action-button" [ngClass]="{ 'cursor-pointer': selectMode }" (click)="selectChange(planet)">
      <mat-checkbox *ngIf="selectMode" matListItemIcon [checked]="planet.selected" (click)="$event.preventDefault()"></mat-checkbox>
      <span matListItemTitle>{{planet.nameDoc?.name || planet.doc.name}}</span>
      <div class="action-buttons" *ngIf="!selectMode" matListItemMeta>
        <a mat-raised-button color="primary" [routerLink]="'community/' + planet.doc.code" i18n>View Exchange</a>
        <a mat-raised-button color="primary" [routerLink]="['/manager/reports/detail', { parentCode: planet.doc.parentCode, code: planet.doc.code }]" i18n>
          View Report
        </a>
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>
