@import '../variables';

.view-container.community-view {

  &.view-full-height {
    height: calc(#{$view-container-height-no-toolbar} + 64px);
    overflow-y: hidden;
  }

  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 64px calc(100% - 64px - 0.5rem);
  > * {
    overflow-y: auto;
  }
  grid-template-areas:
    "links calendar"
    "news calendar";
  gap: 0.5rem;
}

.view-container mat-toolbar {
  grid-area: links;
}

.community-news {

  grid-area: news;
  overflow-y: auto;

  h3 {

    margin: 0;

    *:not(:last-child) {
      margin-right: 0.25rem;
    }

  }

}

.view-container planet-calendar {
  grid-area: calendar;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 125px);
  grid-column-gap: 0.25rem;
  margin: 0 0.5rem;
  .top-right-icon {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
  }
}
