@import '../variables';

.view-container {

  &.view-full-height {
    height: $view-container-height-no-toolbar;
  }

  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 64px calc(100% - 64px - 0.5rem);
  grid-template-areas:
    "links calendar"
    "news calendar";
  gap: 0.5rem;
}

.view-container mat-toolbar {
  grid-area: links;
  overflow: hidden;
}

.community-news {

  grid-area: news;
  overflow-y: auto;

  h3 {

    margin: 0;

    *:not(:last-child) {
      margin-right: 0.25rem;
    }

  }

}

planet-calendar {
  grid-template-areas: calendar;
}

.scrolling {
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 125px);
  grid-column-gap: 0.25rem;
  .top-right-icon {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
  }
}
