<div mat-dialog-title>
  <mat-form-field class="full-width">
    <mat-label i18n>Type of Link</mat-label>
  <mat-select [(ngModel)]="selectedLink" (selectionChange)="onLinkTypeChange($event.value)">
      <mat-option *ngFor="let link of links" [value]="link">{{link.title}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-dialog-content *ngIf="selectedLink?.db === 'teams'">
  <form [formGroup]="linkForm">
    <mat-horizontal-stepper #linkStepper linear (selectionChange)="linkStepperChange($event)">
      <mat-step i18n-label completed="false" label="Select">
        <planet-teams [mode]="selectedLink?.selector?.type" [excludeIds]="data.excludeIds" [isDialog]="true" (rowClick)="teamSelect($event)"></planet-teams>
      </mat-step>
      <mat-step i18n-label label="Title" [stepControl]="linkTitleForm">
        <mat-form-field class="full-width">
          <input matInput i18n-placeholder placeholder="Title" formControlName="title" required>
          <mat-error><planet-form-error-messages [control]="linkForm.controls.title"></planet-form-error-messages></mat-error>
        </mat-form-field>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-dialog-content>
<mat-dialog-content *ngIf="selectedLink?.db === 'social'">
  <form [formGroup]="linkForm">
    <mat-form-field class="full-width">
      <mat-label i18n>Platform</mat-label>
  <mat-select formControlName="platform" (selectionChange)="onPlatformSelect($event.value)" required>
        <mat-select-trigger>
          <ng-container [ngSwitch]="linkForm.value.platform">
            <mat-icon *ngSwitchCase="'website'" class="margin-r-5">public</mat-icon>
            <mat-icon *ngSwitchDefault [svgIcon]="getPlatformIcon(linkForm.value.platform)" class="margin-r-5"></mat-icon>
          </ng-container>
          {{ platformLabel(linkForm.value.platform) }}
        </mat-select-trigger>
        <mat-option *ngFor="let p of socialPlatforms" [value]="p.value">
          <ng-container [ngSwitch]="p.value">
            <mat-icon *ngSwitchCase="'website'" class="margin-r-5">public</mat-icon>
            <mat-icon *ngSwitchDefault [svgIcon]="getPlatformIcon(p.value)" class="margin-r-5"></mat-icon>
          </ng-container>
          {{ p.label }}
        </mat-option>
  </mat-select>
  <mat-error *ngIf="linkForm.controls.platform.invalid && linkForm.controls.platform.touched" i18n>Platform is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label i18n>Title</mat-label>
      <input matInput formControlName="title" required>
      <mat-error><planet-form-error-messages [control]="linkForm.controls.title"></planet-form-error-messages></mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label i18n>Link URL</mat-label>
      <input matInput formControlName="route" placeholder="https://..." required>
      <mat-error><planet-form-error-messages [control]="linkForm.controls.route"></planet-form-error-messages></mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-raised-button (click)="cancelForm()" i18n>Cancel</button>
  <button mat-raised-button color="primary" type="button" (click)="linkSubmit()" [disabled]="!linkForm.valid" i18n>OK</button>
</mat-dialog-actions>
