@import '../variables';

.view-container.community-view {

  &.view-full-height {
    height: calc(#{$view-container-height-no-toolbar} + 64px);
  }

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "news calendar";
  gap: 0.5rem;

  @media only screen and (max-width: #{$screen-md}) {
    grid-template-columns: 1fr;
    grid-template-areas: "news";
  }
}

.community-news {
  grid-area: news;
  overflow-y: auto;

  h3 {
    margin: 0;

    *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

planet-calendar {
  grid-area: calendar;
  overflow-y: auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 125px;
  margin: 0 0.5rem;
  .top-right-icon {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
  }
  word-break: break-word;
}

mat-tab-group, mat-tab {
  height: 100%;
}

.sticky-button {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.toggle-button {
  margin-bottom: 1rem;
}

.responsive-toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 7.5px;
}

.toolbar-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  gap: 12px;

  .search-form-field {
    flex: 2 1 0;
  }
  .label-filter-field {
    flex: 1 1 0;
  }
  .new-voice-btn {
    flex: 0 0 auto;
    align-self: center;
  }
  .pin-btn {
    align-self: center;

    mat-icon svg {
      fill: black;
    }
  }
}

.label-icon {
  vertical-align: middle;
  margin-right: 4px;
}

@media only screen and (max-width: $screen-sm) {
  .responsive-toolbar {
    width: 100%
  }

  .toolbar-row {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
}
