<mat-toolbar>
  <a mat-icon-button routerLink="/"><mat-icon>arrow_back</mat-icon></a>
  <h3 class="margin-lr-3 ellipsis-title">{{configuration?.name}} <ng-container i18n>Services Directory</ng-container></h3>
  <span class="toolbar-fill"></span>
</mat-toolbar>
<div class="space-container">
  <div class="view-container view-full-height">
    <mat-toolbar class="action-buttons">
      <span class="scrolling">
        <ng-container *ngFor="let link of links">
          <a *ngIf="!deleteMode" [routerLink]="link.route" mat-button i18n>
            {{link.title}}
          </a>
          <button *ngIf="deleteMode" mat-flat-button (click)="openDeleteLinkDialog(link)" color="warn">{{link.title}} <mat-icon>delete</mat-icon></button>
        </ng-container>
      </span>
      <span class="toolbar-fill"></span>
      <ng-container *planetAuthorizedRoles>
        <button (click)="toggleDeleteMode()" mat-icon-button><mat-icon>delete</mat-icon></button>
        <button (click)="openAddLinkDialog()" mat-icon-button><mat-icon>add</mat-icon></button>
      </ng-container>
    </mat-toolbar>
    <div class="community-news">
      <mat-tab-group [(selectedIndex)]="tabSelectedIndex">
        <mat-tab i18n-label label="News">
          <h3>
            <span>{{configuration?.name}} <ng-container i18n>News</ng-container></span>
            <ng-container *planetAuthorizedRoles="'learner'">
              <button mat-stroked-button (click)="openAddMessageDialog()" *ngIf="showNewsButton" i18n>New Story</button>
            </ng-container>
          </h3>
          <planet-news-list [items]="news" (viewChange)="toggleShowButton($event)"></planet-news-list>
        </mat-tab>
        <mat-tab i18n-label label="Council">
          <div class="card-grid">
            <mat-card *ngFor="let councillor of councillors">
              <mat-card-header>
                <img mat-card-avatar [src]="councillor?.imageSrc || 'assets/image.png'">
                <a mat-card-title [routerLink]="['/users/profile', councillor?.doc.name, configuration.code === councillor?.doc.planetCode ? {} : { planet: councillor?.doc.userPlanetCode }]">
                  {{ councillor?.doc?.firstName || councillor?.doc?.name }}
                </a>
                <mat-card-subtitle>
                  <p class="primary-text-color">{{councillor.cdcRole}}</p>
                </mat-card-subtitle>
                <!-- <button *ngIf="councillor?.doc?.isUserAdmin" class="top-right-icon" mat-icon-button [matMenuTriggerFor]="councillorMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #resourceMenu="matMenu" *ngIf="actionMenu">
                  <button mat-menu-item (click)="openDialogPrompt(member, 'remove', { changeType: 'remove', type: 'user' })" *ngIf="member?.userId !== currentUserId && currentUserId === leader">
                    <mat-icon>clear</mat-icon>
                    <span i18n>Remove</span>
                  </button>
                  <button *ngIf="member?.userId !== leader && ((user.isUserAdmin && team.teamPlanetCode === user.planetCode) || currentUserId === leader)"
                    (click)="openDialogPrompt(member, 'leader', { changeType: 'leader', type: 'user' })" mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span i18n>Make Leader</span>
                  </button>
                </mat-menu> -->
              </mat-card-header>
              <mat-card-content></mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab i18n-label label="Finances">
          <planet-teams-view-finances [finances]="finances" [team]="team" (financesChanged)="getLinks()"></planet-teams-view-finances>
        </mat-tab>
      </mat-tab-group>
    </div>
    <planet-calendar [link]="{ teams: teamId }" [sync]="{ type: 'sync', planetCode: configuration.code }"></planet-calendar>
  </div>
</div>
