@import '../variables';

.view-container.community-view {

  &.view-full-height {
    height: calc(#{$view-container-height-no-toolbar} + 64px);
  }

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 64px calc(100% - 64px - 0.5rem);
  grid-template-areas:
    "links calendar"
    "news calendar";
  gap: 0.5rem;

  @media only screen and (max-width: #{$screen-sm}) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "links"
      "news";
  }
}

.fc .fc-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container mat-toolbar {
  grid-area: links;
  overflow: hidden;
}

.community-news {

  grid-area: news;
  overflow-y: auto;

  h3 {

    margin: 0;

    *:not(:last-child) {
      margin-right: 0.25rem;
    }

  }

}

planet-calendar {
  grid-area: calendar;
  overflow-y: auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 125px);
  margin: 0 0.5rem;
  .top-right-icon {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
  }
}

@media only screen and (min-width: #{$screen-md}) {
  .fc-event-title-container {
    max-width: 100px;
  }

  .fc-h-event .fc-event-title {
    text-overflow: ellipsis;
  }

  .fc .fc-more-popover .fc-popover-body {
    min-width: unset !important;
  }
}
