<div class="item-details-container">
  <button mat-icon-button (click)="clickCloseDetails()" style="color: #9523d1;">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Volver
  </button>

  <div class="item-details-content">
    <div class="time-details">
      Publicado {{timeAgo}}
    </div>
    <a mat-icon-button [href]="baseUrl + '/spa'">
      Noticia original
      <mat-icon>link</mat-icon>
    </a>
  </div>


  <planet-markdown [content]="message" style="margin: 16px;">
  </planet-markdown>
</div>
