.item-details-container {
  width: 90%;
  box-sizing: border-box;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 300px;
  margin-top: 24px;

  & h3 {
    color: #016eb1;
  }
  & blockquote {
    margin: 0;
    padding: 0 15px;
    border-left: solid 4px #016eb1;
  }
}

.item-details-content {
  display: flex;
  justify-content: space-between;
  color: #9523d1;
}

.time-details {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6)
}