@import '../../variables';

.label {
  position: absolute;
  left: 0;
}

.sublabel {
  font-size: 0.9rem;
  position: absolute;
  left: 1.25em;
  top: 0;
  &::before {
    content: "•";
    display: inline-block; 
    width: 0.5em;
    margin-left: -1em;
  }
}

.reports-table-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 1vw;
  margin: 5vh 0;
  h1 {
    display: block;
    margin-bottom: 0.4rem;
    color: $primary;
  }
}

canvas {
  max-height: 30vh;
}
