@import '../../variables';

.manager-reports-detail {
  mat-grid-tile.label figure {
    justify-content: start;
    span, a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .reports-table-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
    margin: 3vh 0;
    h1 {
      display: block;
      margin: 0.4rem 0 0;
      color: $primary;
    }
  }

  @media(max-width:1000px) {
    .reports-table-container {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }

  canvas {
    max-height: 30vh;
  }
}
