@import '../../variables';

mat-toolbar mat-form-field {
  margin-top: 10px;
  &.mat-form-field-type-no-underline {
    margin-top: inherit;
  }
}

.diagnosis-trend {
  line-height: 3.7em;
}

.subheading {
  font-weight: bold;
}

.manager-reports-detail {
  mat-grid-tile.label figure {
    justify-content: start;
    span, a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .reports-table-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
    margin: 3vh 0;
  }

  h1 {
    display: block;
    margin: 0.4rem 0 0;
    color: $primary;
  }

  @media(max-width:1000px) {
    .reports-table-container {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }

  canvas {
    max-height: 30vh;
  }
}

@media(max-width: 1200px) {
  .mat-form-field {
    width: 100%;
  }

  .date-form {
    width: 100%;
  }

  mat-button-toggle-group {
    width: 100%;
    display: flex;
    
    .mat-button-toggle {
      flex: 1;
    }
  }

}
