@import '../mixins';

:host {

  @include left-right-grid-areas;

  .view-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "lt rt";
  }

  .left-tile, .right-tile {
    overflow: auto;
  }

  .request-list {
    li {
      margin-top: 0.5rem;
    }
  }

}
