<div mat-dialog-header>
  <h3>{{teamName}} <ng-container i18n>Financial Report</ng-container></h3>
  <p class="mat-subheading-1">{{ report.startDate | date }} - {{ report.endDate | date }}</p>
</div>
<mat-dialog-content>
  <div class="report-grid">
    <b i18n>Beginning Balance</b><b>{{report.beginningBalance | currency:undefined:'symbol':'1.0-2'}}</b>
    <mat-divider class="full-width"></mat-divider>
    <div i18n class="full-width">Income</div>
    <span i18n>Sales</span><span>{{report.sales | currency:undefined:'symbol':'1.0-2'}}</span>
    <span i18n>Other</span><span>{{report.otherIncome | currency:undefined:'symbol':'1.0-2'}}</span>
    <b i18n>Total Income</b><b>{{income | currency:undefined:'symbol':'1.0-2'}}</b>
    <mat-divider class="full-width"></mat-divider>
    <div i18n class="full-width">Expenses</div>
    <span i18n>Personnel</span><span>{{report.wages | currency:undefined:'symbol':'1.0-2'}}</span>
    <span i18n>Non-Personnel</span><span>{{report.otherExpenses | currency:undefined:'symbol':'1.0-2'}}</span>
    <b i18n>Total Expenses</b><b>{{expenses | currency:undefined:'symbol':'1.0-2'}}</b>
    <mat-divider class="full-width"></mat-divider>
    <b i18n>Profit/Loss</b><b>{{net | currency:undefined:'symbol':'1.0-2'}}</b>
    <b i18n>Ending Balance</b><b>{{endingBalance | currency:undefined:'symbol':'1.0-2'}}</b>
  </div>
  <h4 i18n>Report Summary</h4>
  <planet-markdown [content]="report.description"></planet-markdown>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close i18n>Close</button>
</mat-dialog-actions>
