<div class="action-buttons" *ngIf="editable">
  <button mat-raised-button color="primary" i18n (click)="openAddReportDialog()">Add Report</button>
</div>
<mat-grid-list cols="6" rowHeight="16rem">
  <mat-grid-tile *ngFor="let report of reports" (click)="openReportDialog(report)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Financial Report</mat-card-title>
        <mat-card-subtitle>{{ report.startDate | date }} - {{ report.endDate | date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <planet-markdown [content]="report.description"></planet-markdown>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


