@import '../_mixins';
@import '../variables';

.teams-view {

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 180px;
    &.member-cards {
      grid-auto-rows: 320px;
    }
    mat-card-content {
      max-height: 200px;
      overflow-y: auto;
      margin-bottom: 0.5rem;
    }
    .top-right-icon {
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
    }

    mat-card {
      mat-card-actions {
        margin-top: auto;
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
    }
  }

  mat-toolbar mat-chip-list {
    display: inline-flex;
  }

  mat-card-subtitle p {
    margin: 0;
  }

  .mat-subtitle-1 {
    margin: 5px 25px 10px 15px;

    b {
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .toolbar-button{
    flex-shrink: 0;
  }

}
