<div class="action-buttons">
  <div class="transaction-buttons">
    <button mat-raised-button color="primary" i18n (click)="openEditTransactionDialog()" *ngIf="editable">Add Transaction</button>
    <button *ngIf="startDate && endDate" mat-raised-button color="primary" i18n (click)="resetDateFilter()" [disabled]="table.filter === ''">View All Transactions</button>
    <button mat-raised-button color="accent" i18n (click)="exportTableData()" *ngIf="!emptyTable">Export Transactions</button>
  </div>
  <div class="transaction-date-fields">
    <mat-form-field>
      <input matInput [matDatepicker]="dateFilterStart" [(ngModel)]="startDate" (dateInput)="transactionFilter()" i18n-placeholder placeholder="Pick Start Date" [max]="endDate">
      <mat-datepicker-toggle matSuffix [for]="dateFilterStart"></mat-datepicker-toggle>
      <mat-datepicker #dateFilterStart></mat-datepicker>
      <mat-error i18n *ngIf="startDate > endDate">Start date must be before end date</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dateFilterEnd" [(ngModel)]="endDate" (dateInput)="transactionFilter()" i18n-placeholder placeholder="Pick End Date" [min]="startDate">
      <mat-datepicker-toggle matSuffix [for]="dateFilterEnd"></mat-datepicker-toggle>
      <mat-datepicker #dateFilterEnd></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<mat-card class="margin-lr" *ngIf="showBalanceWarning">
  <div class="warning-container"><mat-icon color="accent">warning</mat-icon><span i18n>The current balance is negative!</span></div>
</mat-card>
<ng-container *ngIf="!isLoading; else loadingTpl">
<mat-table [dataSource]="table" *ngIf="!emptyTable; else emptyMessage">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef class="narrow-column" i18n>Date</mat-header-cell>
    <mat-cell *matCellDef="let element" class="narrow-column narrow-column-date">{{ element.date === 'Total' ? element.date : (element.date | date) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef i18n>Note</mat-header-cell>
    <mat-cell *matCellDef="let element"><i>{{ element.description }}</i></mat-cell>
  </ng-container>
  <ng-container matColumnDef="credit">
    <mat-header-cell *matHeaderCellDef class="narrow-column" i18n>Credits</mat-header-cell>
    <mat-cell *matCellDef="let element" class="narrow-column" [style.color]="'green'">{{ element.credit ? (element.credit | currency:this.curCode?.code:this.curCode?.symbol) : '' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="debit">
    <mat-header-cell *matHeaderCellDef class="narrow-column" i18n>Debits</mat-header-cell>
    <mat-cell *matCellDef="let element" class="narrow-column" [style.color]="'red'">{{ element.debit ? (element.debit | currency:this.curCode?.code:this.curCode?.symbol) : '' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="balance">
    <mat-header-cell *matHeaderCellDef class="narrow-column" i18n>Balance</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="element.balance < 0 ? 'negative-balance' : 'narrow-column'" [style.color]="element.balance < 0 ? 'red' : 'black'">{{ element.balance | currency:this.curCode?.code:this.curCode?.symbol }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="narrow-column" i18n>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element" class="narrow-column">
      <ng-container *ngIf="element.date !== 'Total'">
        <button mat-icon-button (click)="openEditTransactionDialog(element); $event.stopPropagation()"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="openArchiveTransactionDialog(element); $event.stopPropagation()"><mat-icon>delete</mat-icon></button>
      </ng-container>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>
<ng-template #loadingTpl>
  <p i18n>Loading transactions...</p>
</ng-template>
<ng-template #emptyMessage>
  <p i18n>There are no transactions</p>
</ng-template>
