<div class="report-grid">
  <b i18n>Beginning Balance </b><b>{{report.beginningBalance | currency:this.curCode}}</b>
  <mat-divider class="full-width"></mat-divider>
  <span i18n>Sales</span><span>{{report.sales | currency:this.curCode}}</span>
  <span i18n>Other</span><span>{{report.otherIncome | currency:this.curCode}}</span>
  <b i18n>Total Income</b><b>{{income | currency:this.curCode}}</b>
  <mat-divider class="full-width"></mat-divider>
  <span i18n>Personnel</span><span>{{report.wages | currency:this.curCode}}</span>
  <span i18n>Non-Personnel</span><span>{{report.otherExpenses | currency:this.curCode}}</span>
  <b i18n>Total Expenses</b><b>{{expenses | currency:this.curCode}}</b>
  <mat-divider class="full-width"></mat-divider>
  <b i18n>Profit/Loss</b><b>{{net | currency:this.curCode}}</b>
  <b i18n>Ending Balance</b><b>{{endingBalance | currency:this.curCode}}</b>
</div>
<ng-container *ngIf="showSummary">
  <h4 i18n>Report Summary</h4>
  <planet-markdown [content]="report.description"></planet-markdown>
  <div><ng-container i18n>Report created on:</ng-container> {{report.createdDate | date }}<ng-container *ngIf="report.createdDate !== report.updatedDate"> | <ng-container i18n>Updated on:</ng-container> {{report.updatedDate | date}}</ng-container></div>
</ng-container>
