<mat-card-header>
  <img mat-card-avatar [src]="member?.avatar" class="cursor-pointer avatar-spacing" (click)="openMemberDialog(member)">
  <a mat-card-title class="cursor-pointer member-name" (click)="openMemberDialog(member)">{{member?.userDoc?.fullName || member?.userDoc?.firstName || member?.name | truncateText:70}}</a>
  <mat-card-subtitle>
    @if (member?.userPlanetCode !== planetCode) {
      <p class="primary-text-color"><ng-container i18n>Member of Planet</ng-container> {{member?.userPlanetCode}}</p>
    }
    @if (member?.userId === user._id && member?.userPlanetCode === planetCode) {
      <span i18n>(You)</span>
      }{{' '}}
      @if (member?.userId === teamLeader?.userId && member?.userPlanetCode === teamLeader?.userPlanetCode) {
        <span i18n>(Team Leader)</span>
        }{{' '}}@if (visits) {
        <span>({{ visits?.count || 0 }} <ng-container i18n>visits</ng-container>)</span>
      }
      @if (visits && (userStatus === 'member' || user.isUserAdmin)) {
        <p><ng-container i18n>Last visit:</ng-container> {{ visits?.recentTime | date }}</p>
      }
      @if (member?.doc?.leadershipTitle) {
        <p class="primary-text-color">
          {{member?.doc?.leadershipTitle | truncateText:38}}
        </p>
      }
      @if (member?.role) {
        <p class="primary-text-color">{{member?.role | truncateText:70}}</p>
      }
    </mat-card-subtitle>
    @if (actionMenu.length) {
      <button class="top-right-icon" mat-icon-button [matMenuTriggerFor]="memberMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
    <mat-menu #memberMenu="matMenu">
      @if (actionMenu.indexOf('remove') > -1) {
        <button mat-menu-item (click)="openDialog({ member: member, change: 'remove' })">
          <mat-icon>clear</mat-icon>
          <span i18n>Remove</span>
        </button>
      }
      @if (actionMenu.indexOf('leader') > -1) {
        <button
          (click)="openDialog({ member: member, change: 'leader' })" mat-menu-item>
          <mat-icon>person</mat-icon>
          <span i18n>Make Leader</span>
        </button>
      }
      @if (actionMenu.indexOf('title') > -1) {
        <button
          (click)="openDialog({ member: member, change: 'title' })" mat-menu-item>
          <mat-icon>edit</mat-icon>
          @if (memberType === 'community') {
            <span i18n>{ titleChangeText, select, Add {Add Title} Change {Change Title}}</span>
          }
          @if (memberType === 'other') {
            <span i18n>{ hasRole, select, true {Change Role} false {Add Role}}</span>
          }
        </button>
      }
    </mat-menu>
  </mat-card-header>
  @if (member?.tasks && member?.tasks.length > 0) {
    <mat-card-content class="mat-card-tasks">
      <span class="mat-caption" i18n>Tasks</span>
      <mat-selection-list (selectionChange)="toggleTask($event)" [disabled]="userStatus !== 'member'" [disableRipple]="userStatus !== 'member'">
        @for (task of member?.tasks; track task) {
          <mat-list-option checkboxPosition="before" [selected]="task.completed" [value]="task">
            <span matListItemTitle class="ellipsis-title">{{task.title}}</span>
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-card-content>
  }
