@import "../variables.scss";

:host {
  /* Column Widths */
  .mat-column-doc-teamType {
    max-width: 150px;
    padding-right: 0.5rem;
  }

  .mat-column-visitLog-visitCount {
    max-width: 80px;
    padding-right: 0.5rem;
  }
  .mat-column-visitLog-lastVisit {
    max-width: 180px;
    padding-right: 0.5rem;
  }
  mat-row {
    cursor: pointer;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .horizontal-align {
    justify-content: center;
  }

  @media screen and (max-width: #{$screen-sm}) {
    // mat-cell {
    //   overflow: visible;
    // }

    mat-cell button {
      min-width: 0;
      padding: 0 3px;
    }
  }
}
