.narrow-column {
  max-width: 100px;
}

.narrow-column-date {
  font-size: 0.8em;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.transaction-buttons, .transaction-date-fields {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.transaction-buttons button {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-row:first-of-type {
  font-weight: bold;
}

.negative-balance {
  font-weight: bold;
  max-width: 100px;
}

.warning-container {
  display: flex;
  align-items: center;
}

.margin-lr {
  margin: 0 5px;
}
