@if (editable) {
  <div class="fixed action-buttons">
    <button mat-raised-button color="primary" i18n (click)="openAddReportDialog(false)">Add Report</button>
    @if (reports && reports.length > 0) {
      <button mat-raised-button color="accent" i18n (click)="exportReports()">
    Export as CSV
  </button>
    }
  </div>
}
@if (isLoading) {
  <planet-loading-spinner text="Loading reports..." i18n-text></planet-loading-spinner>
}
@if (!isLoading && (!reports || reports?.length === 0)) {
  <div>
    <p i18n>No reports available at the moment.</p>
  </div>
}
@if (!isLoading) {
  <mat-grid-list [cols]="columns" gutterSize="0.5rem" rowHeight="22rem" id="report-grid">
    @for (report of reports; track report) {
      <mat-grid-tile (click)="openReportDialog(report)">
        <mat-card>
          <mat-card-header>
            <mat-card-title i18n>Financial Report</mat-card-title>
            <mat-card-subtitle>{{ report.startDate | date : 'mediumDate' : '+0000' }} - {{ report.endDate | date : 'mediumDate' : '+0000' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <planet-teams-reports-detail [report]="report"></planet-teams-reports-detail>
          </mat-card-content>
          <mat-card-footer class="action-buttons margin-lr-10">
            @if (editable) {
              <button mat-icon-button (click)="$event.stopPropagation(); openDeleteReportDialog(report)"><mat-icon>delete</mat-icon></button>
              <button mat-icon-button (click)="$event.stopPropagation(); openAddReportDialog(report, true)"><mat-icon>edit</mat-icon></button>
            }
            <button mat-button i18n>View Report</button>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
}
