.narrow-column {
  max-width: 100px;
}

.mat-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

mat-row:first-of-type {
  font-weight: bold;
}

.negative-balance {
  font-weight: bold;
  max-width: 100px;
}

.button-group, .date-fields{
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}