@import '../mixins';

:host {

  @include left-right-grid-areas;

  .view-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "lt rt";
    grid-column-gap: 0.5rem;

    mat-card {
      margin: 0.25rem;
    }
  }

  .left-tile, .right-tile {
    overflow: auto;
  }

  .request-list {
    li {
      margin-top: 0.5rem;
    }
  }

  .members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 0.25rem;
  }
}
