@import '../mixins';
@import '../variables';

:host {

  @include left-right-grid-areas;

  .view-container {
    mat-card {
      margin: 0.25rem;
    }
  }

  .left-tile, .right-tile {
    overflow: auto;
  }

  .request-list {
    li {
      margin-top: 0.5rem;
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 250px);
    grid-column-gap: 0.25rem;
    mat-card-content {
      max-height: 149px;
      overflow-y: auto;
    }
    .top-right-icon {
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
    }
  }

  mat-toolbar mat-chip-list {
    display: inline-flex;
  }

  mat-card-subtitle p {
    color: $primary;
    margin: 0;
  }

}
