<div class="report-grid-container">
  @if (showSummary) {
    <div class="report-hero" [ngClass]="net < 0 ? 'loss' : 'profit'">
      <div class="report-hero-label" i18n>Net Profit / Loss</div>
      <div class="report-hero-value">{{ net | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2' }}</div>
    </div>
  }
  <div class="report-grid">
    <b i18n>Beginning Balance</b><b>{{report.beginningBalance | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</b>
    <mat-divider class="full-width"></mat-divider>
    <span i18n>Sales</span><span>{{report.sales | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</span>
    <span i18n>Other</span><span>{{report.otherIncome | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</span>
    <b i18n>Total Income</b><b>{{income | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</b>
    <mat-divider class="full-width"></mat-divider>
    <span i18n>Personnel</span><span>{{report.wages | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</span>
    <span i18n>Non-Personnel</span><span>{{report.otherExpenses | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</span>
    <b i18n>Total Expenses</b><b>{{expenses | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</b>
    <mat-divider class="full-width"></mat-divider>
    <b i18n>Profit/Loss</b><b>{{net | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</b>
    <b i18n>Ending Balance</b><b>{{endingBalance | currency:this.curCode?.code:this.curCode?.symbol:'1.0-2'}}</b>
  </div>
  @if (showSummary) {
    <h4 i18n>Report Summary</h4>
    <planet-markdown [content]="report.description"></planet-markdown>
    <div><ng-container i18n>Report created on:</ng-container> {{report.createdDate | date }}@if (report.createdDate !== report.updatedDate) {
    | <ng-container i18n>Updated on:</ng-container> {{report.updatedDate | date}}
  }</div>
}
</div>
