mat-grid-tile .mat-mdc-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 100%;
  width: 100%;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding: 0.3rem;
}
