@import '../mixins';
@import '../variables';

.teams-view {

  .view-container {
    mat-card {
      margin: 0.25rem;
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 180px);
    grid-column-gap: 0.25rem;
    &.member-cards {
      grid-template-rows: repeat(auto-fill, 280px);
      mat-card-content {
        max-height: 149px;
      }
    }
    mat-card-content {
      max-height: 99px;
      overflow-y: auto;
    }
    .top-right-icon {
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
    }
  }

  mat-toolbar mat-chip-list {
    display: inline-flex;
  }

  mat-card-subtitle p {
    margin: 0;
  }

}
