@import '../mixins.scss';

:host {

  @include left-right-grid-areas;

  .dashboard-card {
    display: grid;
    grid-template-areas: "ut" "lt";
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr;
    padding: 0;
    height: 100%;

    .upper-tile {
      grid-area: ut;
      border-radius: 2px 0 0 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 1.25rem;

      mat-icon {
        margin: 0.25rem;
        height: 30px;
        width: 30px;
      }

    }

    .lower-tile {
      grid-area: lt;
      display: grid;
      overflow: hidden;

      .dashboard-items.dashboard-empty {
        grid-auto-columns: auto;
      }
      
      .dashboard-items {
        display: grid;
        grid-auto-rows: 3rem;
        transition: transform 0.5s;
        overflow: auto;

        .dashboard-item {
          grid-column-end: 1;
          grid-row-end: span 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 0.5rem;
        }
      }
    }

    .dashboard-arrows {
      grid-area: arrows;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-auto-rows: 50%;
    }
  }

}
