@import '../mixins.scss';
@import '../variables';

:host {

  @include left-right-grid-areas;
  // For Firefox.  Otherwise grid tile will expand to fit text.
  min-width: 0;

  .dashboard-card {
    display: grid;
    grid-template-areas: "lt rt";
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;
    height: $dashboard-tile-height;
    padding: 0;

    .left-tile {
      border-radius: 2px 0 0 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 1.25rem;

      mat-icon {
        margin: 0.25rem;
        height: 30px;
        width: 30px;
      }

    }

    .right-tile {
      display: grid;
      overflow-x: auto;
      overflow-y: hidden;

      .dashboard-items.dashboard-empty {
        grid-auto-columns: auto;
      }

      .dashboard-items {
        display: grid;
        grid-auto-columns: 150px;
        transition: transform 0.5s;

        .dashboard-item {
          grid-column-end: span 1;
          grid-row-end: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 0.5rem;
          position: relative;
          word-break: break-word;
          .delete-item {
            position: absolute;
            top: 3px;
            right: 3px;
          }
        }
      }
    }
  }

}
