@import '../variables';

$card-width: calc(106px + 2rem);

.vertical-container {
  height: $dashboard-height;
  padding: 2rem;
  display: grid;
  grid-template-areas: "card" "card" "card" "card";
  grid-template-columns: $card-width;
  grid-auto-columns: 1fr;
  grid-auto-rows: $dashboard-tile-height;
  grid-auto-flow: column;
  grid-gap: 1rem;

  mat-card {
    grid-area: card;
    max-width: $card-width;
    padding: 0;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    position: relative;

    img {
      width: 100px;
      display: block;
      position: absolute;
      left: 1rem;
      top: 1rem;
      border: white 3px solid;
    }

    .lower-list {
      overflow: auto;
    }

    .dashboard-name {
      padding: calc(100px + 2rem) 1rem 0.5rem 1rem;

      h1, h2, h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

  }

}

.horizontal-container {
  height: calc(#{$dashboard-height} + 32px);
  padding: 1rem;
  display: grid;
  grid-template-areas: "hcard";
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(4, minmax(90px, 1fr));
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
  @media (max-width: $screen-md) {
    grid-template-rows: auto repeat(4, minmax(70px, 1fr));
  }

  planet-dashboard-tile {
    overflow: hidden;
    padding: 0 2px;
  }

  mat-card {

    grid-area: hcard;
    display: grid;
    grid-template-areas: "img info date";
    grid-template-columns: calc(#{$dashboard-tile-width} - 0.5rem) auto max-content;
    grid-column-gap: 1rem;
    padding: 0.5rem;
    margin: 0 2px;
    img {
      grid-area: img;
      width: calc(#{$dashboard-tile-width} - 0.5rem);
      max-width: 15vh;
      border-radius: 50%;
      justify-self: end;
      align-self: center;
    }
    .dashboard-name {
      grid-area: info;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h1 {
        display: flex;
        align-items: center;
      }
      .mat-subheading-2 {
        margin: 0;
      }
    }
    .date {
      grid-area: date;
    }

    h1, h2, h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }

  }

}
