<mat-card class="dashboard-card">
  <planet-dashboard-row-layout [cardTitle]="cardTitle" [cardType]="cardType" [link]="link" [emptyLink]="emptyLink" [itemData]="itemData"
    (droppedEvent)="drop($event)" (removeEvent)="removeFromShelf($event)" *ngIf="deviceType !== deviceTypes.MOBILE">
  </planet-dashboard-row-layout>
  <planet-dashboard-accordion-layout [cardTitle]="cardTitle" [cardType]="cardType" [link]="link" [emptyLink]="emptyLink" [itemData]="itemData"
    (droppedEvent)="drop($event)" (removeEvent)="removeFromShelf($event)" *ngIf="deviceType === deviceTypes.MOBILE">
  </planet-dashboard-accordion-layout>
</mat-card>
