<p mat-dialog-title><ng-container i18n>You have</ng-container> {{surveysCount}} <ng-container i18n>{ surveysCount, plural, =1 {survey} other {surveys} } to complete</ng-container></p>
<mat-dialog-content>
  <mat-action-list>
    <button mat-list-item
      *ngFor="let survey of surveys; last as last"
      [routerLink]="[ myDashboardRoute, 'mySurveys', 'exam', { submissionId: survey._id, questionNum: survey.nextQuestion, status: 'pending', mode: 'take' } ]"
      mat-dialog-close>
      <span class="task-todo">{{ survey.parent.name }}</span>
      <span class="toolbar-fill"></span>
      <span class="rate-done">{{ survey.completedAnswers / survey.parent.questions.length | percent }} <ng-container i18n>Complete</ng-container></span>
      <mat-divider *ngIf="!last"></mat-divider>
    </button>
  </mat-action-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button color="primary" i18n>OK</button>
</mat-dialog-actions>
