.left-half {
  width: 70%;
  position: absolute;
  left: 10px;
  height: 90%;
}

.right-half {
  width: 30%;
  position: absolute;
  right: 0px;
  height: 90%;
}
.block-list-one {
  position: relative;
  top: 5%;
}

.block-list-two {
  position: relative;
  top: 24%;
}

.block-list-three {
  position: relative;
  top: 43%;
}

.block-list-four {
  position: relative;
  top: 62%;
}


.outside-card-left-half {
  width: 20%;
  position: absolute;
  left: 0px;
  height: 100%;
}

.outside-card-right-half {
  width: 80%;
  position: absolute;
  right: 0px;
  height: 100%;
 
}

.dashboard-card-view {
  padding: 1vh;
}

.background-color-red {
  background-color: red;
}

.background-color-gray {
  background-color: gray;
}

.background-color-white {
  background-color: white;
}

.background-color-orange {
  background-color: orange;
}

.background-color-blue {
  background-color: blue ;
}

.background-color-green {
  background-color: green;
}

.no-padding-card-outside {
  padding-left: 3px !important;
  padding-right: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 3px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.no-padding-card-inside {
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 0px !important;
  padding-bottom: 3px !important;
   
}

.mat-card-radius {
  border-radius: 5px;
}

.tile-left-first-radious {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.tile-right-last-radious {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.left-inside-card-buttom-left-radius {
  border-bottom-left-radius: 5px;
}

.right-inside-card-buttom-right-radius {
  border-bottom-right-radius: 5px;
  border-top-left-radius: 8px;
}

.font-color-red {
  color: red;
}

.font-color-blue {
  color: blue;
}

.font-color-green {
  color: green;
}
.font-color-orange {
  color: orange;
}

.custom-mat-icon {
  color: white;
}
