@import '../variables.scss';

.dashboard-card-view {
  padding: 1vh;     
}

.dashboard-card-view-list {
  padding-top: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
}

.backgroundcolor-gray {
  background-color: $ole-grey;
  color: black;
}

.backgroundcolor-red {
  background-color: red;
}

.backgroundcolor-orange {
  background-color: orange;
}

.backgroundcolor-green {
  background-color: $ole-green-dark;      
}

.backgroundcolor-purple {
  background-color: purple;
}

.dashboard-home-icon {
  position: relative;
  top: 5px;
}

.gride-first-item-title {
  position: relative;
  top: 35%;
  color: white;
  right: 10%;   
}

.custum-mat-icon {
  color: white;
  position: relative;
  left: 25px;
}

