@import '../variables';

.completion-rate {
  display: flex;
  align-items: center;
  gap: 4px;
}

.completion-label {
  white-space: nowrap;
}

@media (max-width: $screen-sm) {
  .completion-label {
    display: none;
  }
}
