<planet-dashboard-tile
  [cardTitle]="'myLibrary'"
  class="planet-library-theme"
  [itemData]="data.resources"
  [emptyLink]="'/resources'">
</planet-dashboard-tile>
<planet-dashboard-tile
  [cardTitle]="'myCourses'"
  class="planet-courses-theme"
  [itemData]="data.courses"
  [emptyLink]="'/courses'">
</planet-dashboard-tile>
<planet-dashboard-tile
  [cardTitle]="'myMeetups'"
  class="planet-meetups-theme"
  [itemData]="data.meetups"
  [emptyLink]="'/meetups'">
</planet-dashboard-tile>
<planet-dashboard-tile
  [cardTitle]="'myTeams'"
  class="planet-teams-theme"
  [itemData]="data.myTeams"
  [emptyLink]="'/users'">
</planet-dashboard-tile>
