@import '../variables';

$card-width: calc(106px + 2rem);

:host {
  height: calc(#{$dashboard-height} + 32px);
  padding: 1rem;
  display: grid;
  grid-template-areas: "hcard";
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(4, minmax(90px, 1fr));
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
  @media (max-width: $screen-md) {
    grid-template-rows: auto repeat(4, minmax(70px, 1fr));
  }

  planet-dashboard-tile {
    overflow: hidden;
    padding: 0 2px;
  }

  mat-card {

    grid-area: hcard;
    display: grid;
    grid-template-areas: "img info date";
    grid-template-columns: calc(#{$dashboard-tile-width} - 0.5rem) auto max-content;
    grid-column-gap: 1rem;
    padding: 0.5rem;
    margin: 0 2px;
    img {
      grid-area: img;
      width: calc(#{$dashboard-tile-width} - 0.5rem);
      max-width: 15vh;
      border-radius: 50%;
      justify-self: end;
      align-self: center;
    }
    .dashboard-name {
      grid-area: info;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h1 {
        display: flex;
        align-items: center;
      }
      .mat-subheading-2 {
        margin: 0;
      }
      span {
        white-space: pre;
      }
    }
    .date {
      grid-area: date;
    }

    h1, h2, h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }

  }

}
