<div *ngIf="showBanner" class="alert">
  <a [routerLink]="['/users/update', user.name]">
    <span class="banner-text" i18n>Please complete your profile to enjoy full features!</span>
  </a>
  <span class="closebtn" (click)="closeBanner()">&times;</span>
</div>
<mat-card class="horizontal" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
  <div style="display: flex; align-items: flex-start;">
    <a [routerLink]="['/users/profile', user.name]" class="profile-link">
      <img [src]="profileImg" class="profile-avatar">
    </a>
    <div class="dashboard-name" style="margin-left: 16px;">
      <a [routerLink]="['/users/profile', user.name]" class="profile-link">
        <h1 class="mat-headline-6">{{displayName | truncateText:(isMobile ? 20 : 40)}} <span *ngIf="!isLoading">({{visits | number}})</span></h1>
      </a>
      <h1 class="mat-headline-6">
        <span class="mat-subtitle-1">
          <ng-container *ngFor="let role of roles; last as last">
            <planet-role [role]="role"></planet-role><span *ngIf="!last">, </span>
          </ng-container>
        </span>
      </h1>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: flex-end;">
    <div class="date" style="text-align: right;">
      <p>{{dateNow | date:'longDate'}}</p>
    </div>
    <div class="badges" style="display: flex; flex-wrap: wrap; justify-content: flex-end; max-width: 100%; margin-top: 8px;">
      <div *ngFor="let badgeGroup of badgeGroups" style="margin-right: 4px;">
        <span *ngFor="let course of badgesCourses[badgeGroup]" class="cursor-pointer" (click)="openCourseView(course)" [matTooltip]="course.doc.courseTitle">
          <mat-icon
            [ngClass]="{ 'primary-text-color': course.inCertification, 'grey-text-color': !course.inCertification }"
            fontSet="fa"
            [fontIcon]="badgeIcons[badgeGroup]">
          </mat-icon>
        </span>
      </div>
    </div>
  </div>
</mat-card>
<planet-dashboard-tile
  [cardTitle]="cardTitles.myLibrary"
  [cardType]="'myLibrary'"
  class="planet-library-theme"
  [itemData]="data.resources"
  [link]="'myLibrary'"
  [emptyLink]="'/resources'"
  [shelfName]="'resourceIds'"
  [isLoading]="isLoading">
</planet-dashboard-tile>
<planet-dashboard-tile
  [cardTitle]="cardTitles.myCourses"
  [cardType]="'myCourses'"
  class="planet-courses-theme"
  [itemData]="data.courses"
  [link]="'myCourses'"
  [emptyLink]="'/courses'"
  [shelfName]="'courseIds'"
  [isLoading]="isLoading">
</planet-dashboard-tile>
<planet-dashboard-tile
  [cardTitle]="cardTitles.myTeams"
  [cardType]="'myTeams'"
  class="planet-teams-theme"
  [itemData]="data.myTeams"
  [link]="'myTeams'"
  [emptyLink]="'/teams'"
  [shelfName]="'myTeamIds'"
  [isLoading]="isLoading"
  (teamRemoved)="teamRemoved($event)">
</planet-dashboard-tile>
<planet-dashboard-tile
  [cardTitle]="cardTitles.myLife"
  [cardType]="'myLife'"
  [itemData]="myLifeItems"
  class="planet-meetups-theme">
</planet-dashboard-tile>
