<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>GPT Prompts</span>
  <span class="toolbar-fill"></span>
</mat-toolbar>

<div class="space-container">
  <div>
    <div class="chat-container" #chat>
      <div *ngFor="let conversation of conversations">
        <p class="conversation-query">{{conversation.query}}</p>
        <p class="conversation-response">{{conversation.response}}</p>
      </div>
    </div>

    <div class="form-container">
      <form [formGroup]="promptForm" class="form-spacing" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <planet-markdown-textbox class="full-width" required="true" i18n-placeholder placeholder="Prompt" [formControl]="promptForm.controls.prompt"></planet-markdown-textbox>
          <mat-error><planet-form-error-messages [control]="promptForm.controls.prompt"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [planetSubmit]="spinnerOn" color="primary" i18n>Chat</button>
      </form>
    </div>


  </div>
</div>
