@import '../courses';

planet-courses-search {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-template-rows: $toolbar-height;
  grid-auto-flow: column;
  align-items: start;
  grid-column-gap: 0.75rem;
  padding-bottom: 0.5rem;

  &> planet-courses-search-list {
    height: inherit;
    display: grid;
    row-gap: 0.25rem;
    grid-template-rows: $label-height calc(#{$toolbar-height} - #{$label-height} - 0.25rem);

    .mat-mdc-selection-list {
      height: calc(#{$toolbar-height} - #{$label-height} - 0.25rem);
      padding: 0;
      overflow-y: auto;
    }
  }

}
