*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form.form-spacing {
    width: inherit;
    }
    
.view-container form {
    min-width: 385px;
    max-width: 750px;
    }

mat-form-field input[type="time"] {
    height: 18px;
    padding-top: 10px;  
}


