@use '@angular/material' as mat;
@import '@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-component-typographies();
@include mat.core();
@import './app/variables';

@include mat.all-component-themes($planet-app-theme);

// Create sub-themes for the different sections which change the accent color.
$accent-map: (
  library: mat.define-palette(mat.$pink-palette, $accent-hue),
  courses: mat.define-palette(mat.$orange-palette, $accent-hue),
  meetups: mat.define-palette(mat.$purple-palette, $accent-hue),
  teams: mat.define-palette(mat.$green-palette, $accent-hue)
);

@each $section in library, courses, meetups, teams {
  $accent-palette: map-get($accent-map, #{$section});
  $theme: mat.define-light-theme($planet-app-primary, $accent-palette, $planet-app-warn);
  .planet-#{$section}-theme {
    @include mat.all-component-themes($theme);

    .accent-color {
      background-color: mat.get-color-from-palette($accent-palette, $accent-hue);
      color: mat.get-contrast-color-from-palette($accent-palette, $accent-hue);
    }
  }
}

// Custom themed material styles below

.mat-button-toggle-checked {
  background-color: mat.get-color-from-palette($planet-app-primary, $light-hue);
  color: mat.get-contrast-color-from-palette($planet-app-primary, $light-hue);
}

.mat-mdc-raised-button[color="primary"] {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: mat.get-color-from-palette($planet-app-primary, $dark-hue);
  }
}

.mat-mdc-raised-button[color="primary"][disabled] {
  pointer-events: none;
}
