@import './app/variables';
@import './planet-mat-theme.scss';

body {
  font-family: $font-family;
  margin: 0;

  .gradient-background {
    background: linear-gradient(to bottom, #000000, $primary);
  }

  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .primary-color {
    background-color: $primary;
    color: $primary-text;
  }

  .accent-color {
    background-color: $accent;
    color: $accent-text;
  }

  .display-flex {
    display: flex;
  }

  // Add an empty span within a mat-toolbar-row to separate left & right aligned content
  .toolbar-fill {
    flex: 1 1 auto;
  }

  // Use to reset font size to base
  .font-size-1 {
    font-size: 1rem;
  }

  .full-width {
    width: 100%;
  }

  // Use to give elements horizontal space
  .margin-lr {
    margin: 0 5px;
  }

  // Creates helper classes for smaller and larger horizontal spacing
  @mixin margin-lr {
    @for $i from 1 through 10 {
      .margin-lr-#{$i} {
        margin: 0 #{$i}px;
      }
    }
  }

  @include margin-lr;

  .button-icon-text mat-icon {
    margin: 0 3px;
  }

  // Style which places menu icon in upper right corner of table cell
  .list-content-menu {
    display: grid;
    grid-template-areas:
      'hd mn'
      'cn mn';
    grid-template-columns: auto 50px;

    .header {
      grid-area: hd;
      margin: 8px 0;
    }

    .content {
      grid-area: cn;
      text-align: justify;
      text-justify: inter-word;
    }

    .menu {
      grid-area: mn;
    }

  }

  // the colored stars are placed on top of the uncolored ones
  // the width is set dynamically with JS
  .stars {
    display: inline-block;
    color: $grey;
    position: relative;
    // Each mat-icon star is 24x24.  Will need to change if star sizes change
    width: 120px;

    span {
      color: $accent;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      * {
        display: inline;
      }
    }
  }

  .list-item-rating {
    display: grid;
    grid-template-areas:
      'stats-t rating'
      'stats-f rating'
      'stats-m stars';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;

    .stars {
      grid-area: stars;
      justify-self: end;
    }

    .stats-total {
      grid-area: stats-t;
    }

    .stats-male {
      grid-area: stats-m;
    }

    .stats-female {
      grid-area: stats-f;
    }

    .rating {
      grid-area: rating;
      text-align: right;

      .rating-number {
        font-size: 2rem;
        display: block;
      }

    }


  }

  // create an empty bar with only the border and add another bar inside it with dynamic width calculated with JS
  .rating-bar {
    display: block;
    height: 10px;
    border: 1px solid $accent;
    margin-top: 0.5em;

    div {
      background-color: $accent;
      height: 100%;
    }
  }

  .small {
    font-size: 0.625rem;
  }

  mat-table .highlight {
    background-color: $primary-light;
  }

  // Fix for checkboxes changing vertical alignment in cells when clicked as of Dec 28, 2017
  // See https://github.com/angular/material2/issues/8600 & the 'Include Overflow Styling' section of
  // https://material.angular.io/components/table/overview#selection
  // Note checkbox column must be named "select" in table
  .mat-column-select {
    overflow: visible;
  }

}
