@import './app/variables';
@import './planet-mat-theme.scss';

body {
  font-family: $font-family;
  // margin: $body-margin; we won't need to use this if we use bootstrap's container class

  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .primary-color {
    background-color: $primary;
    color: $primary-text;
  }

  .accent-color {
    background-color: $accent;
    color: $accent-text;
  }

  .display-flex {
    display: flex;
  }

  // Add an empty span within a mat-toolbar-row to separate left & right aligned content
  .toolbar-fill {
    flex: 1 1 auto;
  }

  // Use to reset font size to base
  .font-size-1 {
    font-size: 1rem;
  }
  
  .full-width {
    width: 100%;
  }

  // STYLING FOR TABLE LIST ENTRIES
  .list-item {
    display: grid;
    grid-template-columns: auto 140px;
    grid-gap: 2em;
    border-bottom: 2px solid #ccc;
    margin-top: 1em;
    padding-bottom: 0.5em;

    .list-item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: 0.05em;
      }

      .list-item-content {
        font-size: 0.975rem;
        margin-bottom: 0.5em;
      }

      .list-item-action {
        .btn {
          margin-right: 0.5em;
        }
      }
    }

    // the colored stars are placed on top of the uncolored ones
    // the width is set dynamically with JS
    .stars {
      display: inline-block;
      font-size: 1.5rem;
      color: #ccc;
      position: relative;
      grid-area: stars;

      &::before,
      span::before {
        content: '\2605\2605\2605\2605\2605';
        display: block;
      }

      span {
        color: gold;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }

    .list-item-rating {
      display: grid;
      grid-template-areas: 'stars stars' 'label info';
      grid-template-columns: 1fr 1fr;
      align-content: baseline;
      grid-gap: 0.4em;

      .small {
        color: rgba($color: #000000, $alpha: 0.8);
      }
      .label {
        grid-area: label;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .small:first-of-type {
          // the rating box's height is 32px, margin-bottom is .3em and font-size .5rem
          // i used those numbers to center the ratings text
          margin: calc(16px - 0.5rem) 0;
        }
      }

      .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          // for centering the number
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          // creating the box around it
          width: 67px;
          height: 32px;
          background-color: gold;
          border-radius: 0.3em;
        }
      }

      // create an empty bar with only the border and add another bar inside it with dynamic width calculated with JS
      .rating-bar {
        display: block;
        height: 10px;
        border: 1px solid gold;
        margin-top: 0.5em;
      }
    }
  }

  // swap bootstrap's default color with oles
  .btn-outline-primary {
    border-color: $ole-blue;
    color: $ole-blue;

    &:focus {
      box-shadow: 0 0 0 3px $ole-blue-light;
    }

    &:hover {
      background-color: $ole-blue;
      border-color: $ole-blue;
    }
  }

  .small {
    font-size: 0.625rem;
  }

  mat-table .highlight {
    background-color: $ole-grey-light;
  }
}
