@import './app/variables';
@import './planet-mat-theme.scss';

body {
  font-family: $font-family;
  // margin: $body-margin; we won't need to use this if we use bootstrap's container class

  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .primary-color {
    background-color: $primary;
    color: $primary-text;
  }

  .accent-color {
    background-color: $accent;
    color: $accent-text;
  }

  .display-flex {
    display: flex;
  }

  // Add an empty span within a mat-toolbar-row to separate left & right aligned content
  .toolbar-fill {
    flex: 1 1 auto;
  }

  // Use to reset font size to base
  .font-size-1 {
    font-size: 1rem;
  }

  .full-width {
    width: 100%;
  }

  // Use to give elements horizontal space
  .margin-lr {
    margin: 0 5px;
  }

  // STYLING FOR TABLE LIST ENTRIES
  .list-item {
    display: grid;
    grid-template-columns: auto 140px;
    grid-gap: 2em;

    .list-item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
      }

      .list-item-content {
        margin-bottom: 0.5em;
      }
    }

    // the colored stars are placed on top of the uncolored ones
    // the width is set dynamically with JS
    .stars {
      display: inline-block;
      font-size: 1.5rem;
      color: $grey;
      position: relative;
      grid-area: stars;
      // Each mat-icon star is 24x24.  Will need to change if star sizes change
      width: 120px;

      span {
        color: $accent;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        * {
          display:inline;
        }
      }
    }

    .list-item-rating {
      display: grid;
      grid-template-areas: 'stars stars' 'label info';
      grid-template-columns: 1fr 1fr;
      align-content: baseline;
      grid-gap: 0.4em;

      .label {
        grid-area: label;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .small:first-of-type {
          // the rating box's height is 32px, margin-bottom is .3em and font-size .5rem
          // i used those numbers to center the ratings text
          margin: calc(16px - 0.5rem) 0;
        }
      }

      .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          // for centering the number
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          // creating the box around it
          width: 67px;
          height: 32px;
          background-color: $accent;
          border-radius: 0.3em;
        }
      }

      // create an empty bar with only the border and add another bar inside it with dynamic width calculated with JS
      .rating-bar {
        display: block;
        height: 10px;
        border: 1px solid $accent;
        margin-top: 0.5em;

        div {
          background-color: $accent;
          height: 100%;
        }
      }
    }
  }

  .small {
    font-size: 0.625rem;
  }

  mat-table .highlight {
    background-color: $grey;
  }

}
