@import '../variables';

:host {
  .view-container {
    display: grid;
    grid-template-rows: min-content auto 42px;
    > * {
      overflow-y: auto;
    }
    grid-row-gap: 0.25rem;
  }

  .form-container {
    width: 100%;

    .form-spacing {
      width: 100%;

      .full-width {
        grid-column: 1 / -1;
      }
    }
  }

  .view-container.view-full-height {
    height: $view-container-height-no-toolbar
  }
}
