<mat-toolbar>
  <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>Health Care</span>
  <span class="toolbar-fill"></span>
  <mat-icon class="input-icon">search</mat-icon>
  <mat-form-field class="font-size-1">
    <mat-label i18n>Search name...</mat-label>
    <input matInput [(ngModel)]="searchValue">
  </mat-form-field>
  <button class="margin-lr-5" mat-raised-button color="primary" i18n (click)="resetFilter()">Clear</button>
</mat-toolbar>

<div class="space-container">
  <planet-users-table #table [users]="users" [search]="searchValue" [filter]="{}" [(tableState)]="tableState" [displayedColumns]="displayedColumns" containerClass="view-container view-full-height no-toolbar view-table" (tableDataChange)="tableDataChange($event)"></planet-users-table>
</div>
