@import '../variables';

:host {
  .view-container {
    display: grid;
    grid-template-rows: auto 42px;
    > .form-container {
      overflow-y: auto;
    }
    grid-row-gap: 0.25rem;
  }

  .form-container {
    width: 100%;

    .form-spacing {
      width: 100%;

      .full-width {
        grid-column: 1 / -1;
      }
    }
  }

  .view-container.view-full-height {
    height: $view-container-height-no-toolbar
  }

  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.5rem;
    align-items: start;
  }

::ng-deep .checkbox-group .mat-mdc-checkbox-layout {
  align-items: flex-start;
}
::ng-deep .checkbox-group .mat-mdc-checkbox-inner-container {
  align-self: flex-start;
  margin-top: 2px;
}
::ng-deep .checkbox-group .mat-mdc-checkbox-label {
  display: block;
  white-space: normal;
  word-break: break-word;
  line-height: 1.3;
}
}
