$exam-table-col-width: 100px;

.profile-container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  grid-column-gap: 2rem;
  grid-auto-columns: $exam-table-col-width;
}

.profile-container .info-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-column-gap: 0.5rem;

  div > div {
    padding: 1rem;
    font-size: 0.875rem;

    h4 {
      font-size: 1rem;
    }

    h4, p {
      margin: 0;
      font-weight: 400;
    }
  }
}

.full-width {
  grid-column: 1 / -1;
}

.table-container {
  overflow-x: auto;
}

.header-items{
  margin-left: 1.5rem;
}

.header-items{
  margin-left: 1.6rem;
}

mat-table {
  width: max-content;

  mat-header-cell div .header-date {
    display: flex;
    align-items: center;

    mat-icon {
      margin-left: 0.25rem;
      font-size: 1.4em;
    }
  }

  mat-cell{
    margin-left: 3rem;
  }

}

.table-column {
  min-width: $exam-table-col-width;
  &.mat-column-label {
    min-width: 110px;
  }
}

mat-header-cell div .header-date {
  min-height: 1.7rem;
}
