<h3 mat-dialog-title>{{event.date | date: 'medium'}}</h3>
<mat-dialog-content cdkFocusInitial>
  @if (!event.selfExamination) {
    <p><b i18n>Performed by: </b>{{performedBy}}</p>
  }
  @if (hasVital) {
    <h4 class="primary-text-color" i18n>Vitals</h4>
  }
  @if (event.temperature) {
    <p><b i18n>Temperature: </b>{{event.temperature}} °C</p>
  }
  @if (event.pulse) {
    <p><b i18n>Pulse: </b>{{event.pulse}} bpm</p>
  }
  @if (event.bp) {
    <p><b i18n>Blood Pressure: </b>{{event.bp}}</p>
  }
  @if (event.height) {
    <p><b i18n>Height: </b>{{event.height}} cm</p>
  }
  @if (event.weight) {
    <p><b i18n>Weight: </b>{{event.weight}} kg</p>
  }
  @if (event.vision) {
    <p><b i18n>Vision: </b>{{event.vision}}</p>
  }
  @if (event.hearing) {
    <p><b i18n>Hearing: </b>{{event.hearing}}</p>
  }
  @if (conditions) {
    <h4 class="primary-text-color" i18n>Conditions</h4>
    <p>{{conditions}}</p>
  }
  @if (hasConditionAndTreatment) {
    <h4 class="primary-text-color" i18n>Other Notes</h4>
  }
  @if (event.notes) {
    <p><b i18n>Observations & Notes: </b></p>
    <td-flavored-markdown [content]="event.notes"></td-flavored-markdown>
  }
  @if (event.diagnosis) {
    <p><b i18n>Diagnosis: </b></p>
    <td-flavored-markdown [content]="event.diagnosis"></td-flavored-markdown>
  }
  @if (event.treatments) {
    <p><b i18n>Treatments: </b></p>
    <td-flavored-markdown [content]="event.treatments"></td-flavored-markdown>
  }
  @if (event.medications) {
    <p><b i18n>Medications: </b></p>
    <td-flavored-markdown [content]="event.medications"></td-flavored-markdown>
  }
  @if (event.immunizations) {
    <p><b i18n>Immunizations: </b></p>
    <td-flavored-markdown [content]="event.immunizations"></td-flavored-markdown>
  }
  @if (event.xrays) {
    <p><b i18n>X-rays: </b></p>
    <td-flavored-markdown [content]="event.xrays"></td-flavored-markdown>
  }
  @if (event.tests) {
    <p><b i18n>Lab Tests: </b></p>
    <td-flavored-markdown [content]="event.tests"></td-flavored-markdown>
  }
  @if (event.referrals) {
    <p><b i18n>Referrals: </b></p>
    <td-flavored-markdown [content]="event.referrals"></td-flavored-markdown>
  }
</mat-dialog-content>
<mat-dialog-actions>
  @if (canUpdate) {
    <button type="button" color="primary" mat-dialog-close (click)="editExam(event)" mat-raised-button>
      <span i18n>Edit @if (minutes) {({{ minutes }}:{{ seconds }})}</span>
    </button>
  }
  <button type="button" color="accent" (click)="exportToPdf(event)" mat-raised-button>
    <span i18n>Export</span>
  </button>
  <button type="button" mat-raised-button mat-dialog-close i18n>Close</button>
</mat-dialog-actions>
