<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>myHealth</span>
</mat-toolbar>

<div class="space-container">
  <div class="view-container view-full-height">
    <div class="form-container">
      <form class="form-spacing" [formGroup]="healthForm">
        <h4 class="full-width primary-text-color" i18n>Vitals</h4>
        <mat-form-field>
          <mat-label i18n>Temperature in °C</mat-label>
          <input matInput [planetRound]="1" formControlName="temperature" type="number" step="any" min="1">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.temperature"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Pulse in bpm</mat-label>
          <input matInput planetRound formControlName="pulse" type="number" step="any" min="1">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.pulse"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Blood Pressur</mat-label>
          <input matInput formControlName="bp">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.bp"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Height in cm</mat-label>
          <input matInput [planetRound]="1" formControlName="height" type="number" step="any" min="1">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.height"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Weight in kg</mat-label>
          <input matInput [planetRound]="1" formControlName="weight" type="number" step="any" min="1">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.weight"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Vision</mat-label>
          <input matInput formControlName="vision">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.vision"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Hearing</mat-label>
          <input matInput formControlName="hearing">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.hearing"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <h4 class="full-width primary-text-color" i18n>Condition and Treatment</h4>
        <span class="small grey-text-color" i18n>Diagnosis</span>
        <section class="full-width checkbox-group">
          <mat-checkbox *ngFor="let condition of conditions" [checked]="healthForm.controls.conditions.value[condition]" (change)="conditionChange(condition)">{{condition}}</mat-checkbox>
        </section>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Observations & Notes</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.notes"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Diagnosis</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.diagnosis"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Treatments</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.treatments"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Medications</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.medications"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Immunizations</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.immunizations"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>X-rays</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.xrays"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Lab Tests</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.tests"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Referrals</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.referrals"></planet-markdown-textbox>
        </mat-form-field>
      </form>
    </div>
    <div class="action-buttons">
      <button mat-raised-button type="button" (click)="goBack()" i18n>Cancel</button>
      <button mat-raised-button type="button" color="primary" [disabled]="isEmptyForm()" (click)="onSubmit()" i18n>Submit</button>
    </div>
  </div>
</div>
