<mat-toolbar>
  <button mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
  <span i18n>myHealth</span>
</mat-toolbar>

<div class="space-container">
  <div class="view-container view-full-height">
    <div class="form-container">
      <form class="form-spacing" [formGroup]="profileForm">
        <mat-form-field>
          <mat-label i18n>First Name</mat-label>
          <input matInput required formControlName="firstName">
          <mat-error><planet-form-error-messages [control]="profileForm.controls.firstName"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Middle Name</mat-label>
          <input matInput formControlName="middleName">
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Last Name</mat-label>
          <input matInput required formControlName="lastName">
          <mat-error><planet-form-error-messages [control]="profileForm.controls.lastName"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Email</mat-label>
          <input matInput required formControlName="email">
          <mat-error><planet-form-error-messages [control]="profileForm.controls.email"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Phone Number</mat-label>
          <input matInput required formControlName="phoneNumber">
          <mat-error><planet-form-error-messages [control]="profileForm.controls.phoneNumber"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Language</mat-label>
          <mat-select required formControlName="language">
            <mat-option *ngFor="let language of languages" [value]="language.name">
              {{language.name}}
            </mat-option>
          </mat-select>
          <mat-error><planet-form-error-messages [control]="profileForm.controls.language"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Birthdate</mat-label>
          <input matInput [min]="minBirthDate" [matDatepicker]="dp" required formControlName="birthDate">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-error><planet-form-error-messages [control]="profileForm.controls.birthDate"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Birthplace</mat-label>
          <input matInput formControlName="birthplace">
        </mat-form-field>
      </form>
      <form class="form-spacing" [formGroup]="healthForm">
        <span class="full-width primary-text-color mat-subtitle-2" i18n>Emergency Contact</span>
        <mat-form-field>
          <mat-label i18n>Name</mat-label>
          <input matInput formControlName="emergencyContactName">
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Contact Type</mat-label>
          <mat-select formControlName="emergencyContactType">
            <mat-option value="phone" i18n>Phone</mat-option>
            <mat-option value="email" i18n>Email</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Contact</mat-label>
          <input matInput formControlName="emergencyContact">
          <mat-error><planet-form-error-messages [control]="healthForm.controls.emergencyContact"></planet-form-error-messages></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Special Needs</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.specialNeeds"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Allergies</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.allergies"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Immunization Dates</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.immunizations"></planet-markdown-textbox>
        </mat-form-field>
        <mat-form-field class="full-width mat-form-field-type-no-underline">
          <mat-label i18n>Other Notes</mat-label>
          <planet-markdown-textbox [formControl]="healthForm.controls.notes"></planet-markdown-textbox>
        </mat-form-field>
      </form>
    </div>
    <div class="action-buttons">
      <button mat-raised-button type="button" (click)="goBack()" i18n>Cancel</button>
      <button mat-raised-button type="button" color="primary" (click)="onSubmit()" i18n>Submit</button>
    </div>
  </div>
</div>
