<ng-container [ngSwitch]="layout">
  <planet-home-modern
    *ngSwitchCase="'modern'"
    [notifications]="notifications"
    [user]="user"
    [userImgSrc]="userImgSrc"
    [logoutClick]="logoutClick"
    [readNotification]="readNotification"
    [backgroundRoute]="backgroundRoute()">
  </planet-home-modern>
  <planet-home-classic
    *ngSwitchCase="'classic'"
    [notifications]="notifications"
    [user]="user"
    [userImgSrc]="userImgSrc"
    [logoutClick]="logoutClick"
    [readNotification]="readNotification"
    [backgroundRoute]="backgroundRoute()">
  </planet-home-classic>
</ng-container>
