@import '../variables';

:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 64px 1fr;
  grid-template-areas: "header" "main";
  height: 100vh;


  /deep/ mat-sidenav-container .active{
    background-color: $primary-text;
    color: $primary;
    animation: 0.8s linear fade-in;
    .mat-icon {
      fill: $primary;
    }
  }
  @keyframes fade-in { from { opacity: 0; } to { opacity: 1; }  }

  // // Ugly below interpolated color changes, looks almost same
  // // Probably easy to solve if knowing scss scoping and functions better to pass in
  // // but for testing it doesn't look much different than just setting opacity
  // /deep/ mat-sidenav-container .active{
  //   animation: 0.5s forwards fade1;
  //   .mat-icon {
  //     animation: 0.5s forwards fade2;
  //   }
  // }
  // @keyframes fade1 {
  //   0% {
  //     background: $primary;
  //   }
  //   100% {
  //     background: $primary-text;
  //   }
  // }

  // @keyframes fade2 {
  //   0% {
  //     fill: $primary-text;
  //   }
  //   100% {
  //     fill: $primary;
  //   }
  // }


  .header-nav {
    grid-area: header;
    position: relative;
    z-index: 10;
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)

    h1 {
      font-size: 1.5rem;
    }

    .ole-logo {
      margin: 0 10px 0 26px;
    }

  }

  .header-nav::before {
    height: 3px;
    background: linear-gradient(to bottom, $shadow, rgba($shadow, 0.2) 25%, rgba($shadow, 0.12) 75%, rgba($shadow, 0));
    width: 100%;
    left: 0;
    top: 100%;
  }

  .nav-shadow::before {
    content: "";
    position: absolute;
    z-index: 10;
  }

  .main-content {
    grid-area: main;
  }

  .main-sidenav::before {
    width: 3px;
    background: linear-gradient(to right, $shadow, rgba($shadow, 0.2) 25%, rgba($shadow, 0.12) 75%, rgba($shadow, 0));
    height: 100%;
    left: 100%;
    top: 0;
  }

  .main-sidenav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "tp" "." "btm";
    overflow: visible;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;
    }

    a {
      width: 100%;
      min-width: 0;
      text-align: left;
      // Fixed height so text visibility doesn't add pixel
      height: 36px;
      // align with top mat-icon-button
      padding: 0 24px;

      label {
        margin: 0 24px;
      }
    }

    .top-nav, .bottom-nav {
      overflow: hidden;
    }

    .top-nav {
      grid-area: tp;
    }

    .bottom-nav {
      grid-area: btm;
      margin-bottom: 16px;
    }

  }

}

.menu-item-notification {
  height: auto;
  white-space: unset;
}

// Top toolbar is smaller on small screens
@media (max-width: 600px) {
  :host {
    grid-template-rows: 56px 1fr;
  }
}
