@import '../variables';

:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 64px 1fr;
  grid-template-areas: "header" "main";
  height: 100vh;

  mat-sidenav li {
    a {
      border-radius: 0;
    }

    // takes the left sidenav and alters color of text, background and svg-fill on .active class
    a.active {
      background-color: $primary-text;
      color: $primary;
      transition: background-color 0.5s cubic-bezier(0, 0, 0.2, 1),
        color 0.5s cubic-bezier(0, 0, 0.2, 1); // Linear out, slow in;
      .mat-button-focus-overlay {
        background-color: rgba(0, 0, 0, 0.06);
        transition: background-color 1s ease-in;
      }
    }

    // Animates pulsating icon when navbar link clicked
    a.pulsate mat-icon {
      animation: pulsate 1000ms linear alternate-reverse infinite;
    }
  }

  @keyframes pulsate {
    100% { transform: scale(1.1) }
  }

  .header-nav {
    grid-area: header;
    position: relative;
    z-index: 10;
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)

    h1 {
      font-size: 1.5rem;
    }

    .ole-logo {
      margin: 0 10px 0 26px;
    }

    .ole-logo.classic-ole-logo {
      margin: 0 10px 0 0;
    }

  }

  .header-nav::before {
    height: 3px;
    background: linear-gradient(to bottom, $shadow, rgba($shadow, 0.2) 25%, rgba($shadow, 0.12) 75%, rgba($shadow, 0));
    width: 100%;
    left: 0;
    top: 100%;
  }

  .classic-header-nav {
    display: grid;
    grid-template-areas: "left center right";
    width: 100%;
    align-items: center;

    h1 {
      display: inline;
    }
  }

  .classic-navbar-left {
    grid-area: left;
    a {
      display: flex;
      align-items: center;
    }
  }

  .classic-navbar-center {
    grid-area: center;
    justify-self: center;
  }

  .classic-navbar-right {
    grid-area: right;
    justify-self: right;
    align-self: center;
  }

  .nav-shadow::before {
    content: "";
    position: absolute;
    z-index: 10;
  }

  .main-content {
    grid-area: main;
  }

  .main-sidenav::before {
    width: 3px;
    background: linear-gradient(to right, $shadow, rgba($shadow, 0.2) 25%, rgba($shadow, 0.12) 75%, rgba($shadow, 0));
    height: 100%;
    left: 100%;
    top: 0;
  }

  .main-sidenav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "tp" "." "btm";
    overflow: visible;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;
    }

    a {
      width: 100%;
      min-width: 0;
      text-align: left;
      // Fixed height so text visibility doesn't add pixel
      height: 36px;
      // align with top mat-icon-button
      padding: 0 24px;

      label {
        cursor: pointer;
        margin: 0 24px;
      }
    }

    .top-nav, .bottom-nav {
      overflow: hidden;
    }

    .top-nav {
      grid-area: tp;
    }

    .bottom-nav {
      grid-area: btm;
      margin-bottom: 16px;
    }

  }

}

.menu-item-notification {
  height: auto;
  white-space: unset;
  line-height: 1rem;
}

// Top toolbar is smaller on small screens
@media (max-width: 600px) {
  :host {
    grid-template-rows: 56px 1fr;
  }
}
