@import '../variables.scss';

:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 64px 1fr;
  grid-template-areas: "header" "main";
  height: 100vh;

  .header-nav {
    grid-area: header;
  }

  .main-content {
    grid-area: main;
  }

  .main-sidenav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "tp" "." "btm";
    overflow: hidden;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;
    }

    a {
      width: 100%;
      min-width: 0;
      text-align: left;
      // Fixed height so text visibility doesn't add pixel
      height: 36px;
      // align with top mat-icon-button
      padding: 0 24px;

      label {
        margin: 0 24px;
      }
    }

    .top-nav {
      grid-area: tp;
    }

    .bottom-nav {
      grid-area: btm;
      margin-bottom: 16px;
    }

  }

}

.menu-item-notification {
  height: auto;
  white-space: unset;
}

// Top toolbar is smaller on small screens
@media (max-width: 600px) {
  :host {
    grid-template-rows: 56px 1fr;
  }
}
