<div class="background"></div>
<mat-toolbar color="primary" class="header-nav">
  <button mat-icon-button (click)="toggleNav()" i18n-title title="Menu"><mat-icon>menu</mat-icon></button>
  <span>Planet Learning</span>
  <span class="toolbar-fill"></span>
  <button mat-icon-button *ngIf="user.isUserAdmin" routerLink="/manager" i18n-title title="Manager Settings"><mat-icon svgIcon="usersettings"></mat-icon></button>
  <button mat-icon-button *ngIf="notifications.length > 0" [matMenuTriggerFor]="notificationMenu" i18n-title title="Notifications"><mat-icon>notifications</mat-icon></button>
  <button mat-icon-button *ngIf="notifications.length === 0" i18n-title title="No Notification"><mat-icon>notifications</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <img *ngIf="current_flag" src="assets/flags/{{current_flag}}.png" alt="{{current_lang}}"
      title="{{current_lang}}" />
  </button>
  <button mat-icon-button routerLink="/users/profile/{{user.name}}">
    <img *ngIf="user._attachments; else accountIcon" class="profile-image-large" [src]="userImageSrc()">
    <ng-template #accountIcon><mat-icon>account_circle</mat-icon></ng-template>
  </button>
</mat-toolbar>
<!--Languages dropdown menu-->
<mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item *ngFor="let language of languages" (click)="switchLanguage(language.served_url)">
    <img src="assets/flags/{{language.short_code}}.png" title="{{language.name}}" alt="{{language.name}}"/>
    <span>{{language.short_code}}</span>
  </button>
</mat-menu>
<!--Notification dropdown menu-->
<mat-menu #notificationMenu="matMenu" [overlapTrigger]="false">
  <a routerLink="/notifications"
    class="menu-item-notification"
    [ngClass]="{'primary-text-color':notification.doc.status==='unread'}"
    mat-menu-item
    *ngFor="let notification of notifications"
    (click)="readNotification(notification.doc)">
    {{notification.doc.message}} {{notification.doc.time | date: 'MMM d, yyyy'}}
    <mat-divider></mat-divider>
  </a>
  <a routerLink="/notifications" mat-menu-item>See All</a>
</mat-menu>

<mat-sidenav-container class="main-content" #content>
  <mat-sidenav #sidenav mode="side" class="primary-color main-sidenav" opened="true" [@sidenavState]="sidenavState" (@sidenavState.done)="endAnimation()">
    <ul class="top-nav">
      <li>
        <a mat-button routerLink="/" i18n-title title="Home">
          <mat-icon>home</mat-icon>
          <label i18n>Home</label>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/resources" i18n-title title="Resources">
         <mat-icon svgIcon="myLibrary"></mat-icon>
         <label i18n>Library</label>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/courses" i18n-title title="Courses">
          <mat-icon svgIcon="myCourses"></mat-icon>
          <label i18n>Courses</label>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/meetups" i18n-title title="Meetups">
          <mat-icon svgIcon="myMeetups"></mat-icon>
          <label i18n>Meetups</label>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/users" i18n-title title="Users">
          <mat-icon svgIcon="myTeams"></mat-icon>
          <label i18n>Members</label>
        </a>
      </li>
    </ul>
    <ul class="bottom-nav">
      <li>
        <a mat-button routerLink="/" i18n-title title="Surveys">
          <mat-icon svgIcon="surveys"></mat-icon>
          <label i18n>Surveys</label>
        </a>
      </li>
      <li>
        <a mat-button planetFeedback i18n-title title="Feedback">
          <mat-icon svgIcon="feedback"></mat-icon>
          <label i18n>Feedback</label>
        </a>
      </li>
      <li>
        <a mat-button (click)="logoutClick()" i18n-title title="Logout">
          <mat-icon svgIcon="logout"></mat-icon>
          <label i18n>Logout</label>
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'gradient-background': backgroundRoute()}">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
