@use '../variables' as v;

.responsive-toolbar button {
	margin-left: 16px;
}

.mat-column-message {
  flex: 1 1 auto;
}

.mat-column-read {
  flex: 0 0 auto;
  justify-content: flex-end;
}

@media (max-width: v.$screen-sm) {
  .responsive-toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: auto;
    padding: 16px;

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 12px;

      span {
        text-align: center;
      }
    }
  }
}
