@import '../variables';

.notification-element {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
  gap: 16px;
}

.responsive-toolbar button {
	margin-left: 16px;
}

@media (max-width: $screen-sm) {
  .responsive-toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: auto;
    padding: 16px;

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 12px;

      span {
        text-align: center;
      }
    }
  }
}
