<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
    <span i18n>Your Notifications</span>
    <span class="toolbar-fill"></span>
    <mat-form-field class="font-size-1 margin-lr-3">
      <mat-select placeholder="Notification Status" value="all" (selectionChange)="onFilterChange($event.value)">
        <mat-option *ngFor="let option of notificationStatus" value={{option.toLowerCase()}}>{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <ng-container *ngIf="!emptyData; else notFoundMessage">
    <mat-table #table [dataSource]="notifications">
      <ng-container matColumnDef="message">
        <mat-cell *matCellDef="let element" (click)="readNotification(element)">
          <p [ngClass]="{'primary-text-color':element.status==='unread'}">
            <a [routerLink]="element.link ? [ element.link, element.linkParams || {} ] : '/notifications'">
              {{element.message}}
              <span *ngIf="element.time" class="mat-caption margin-lr-8">{{element.time | date: 'mediumDate'}}</span>
            </a>
          </p>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="read">
        <mat-cell *matCellDef="let element" >
          <button mat-stroked-button *ngIf="element.status==='unread'" (click)="readNotification(element)" i18n>Mark as Read</button>
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 200]">
    </mat-paginator>
  </ng-container>
  <ng-template #notFoundMessage>
    <div class="view-container">No Notification Found</div>
  </ng-template>
</div>
