@import '../variables';

.responsive-toolbar button {
	margin-left: 16px;
}

@media (max-width: $screen-sm) {
	.responsive-toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
		padding: 16px 16px 0px 16px;
	}
	
	.responsive-toolbar div, 
  .responsive-toolbar mat-form-field, 
  .responsive-toolbar button {
    margin-bottom: 8px;
  }

	
}