:host {
  .mat-sidenav-container {
    background-color: rgb(255, 255, 255);
    // color: rgba(0, 0, 0, 0.87);
    // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px -5px, rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    // width: 30vh;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: 0px;
  }

  .hamburger-button {
    color: #951fcc;
    margin-right: 25px;
  }

  .app-bar-container {
    display: flex;
    flex-grow: 1;
  }

  .toolbar-container {
    position: static;
  }

  .mat-toolbar {
    background-color: white;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-row {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
  }

  .img-logo {
    padding: 6px;
  }

  .navbar-button {
    text-transform: none;
    color: #951fcc;
    font-size: 0.8125rem;
    padding: 4px 8px;
  }
  
  .mobile-navbar-button {
    text-transform: none;
    color: #000000DE;
    font-size: 1rem;
    font-weight: 400;
    padding: 4px 25px;
  }

  .mobile-navbar-button mat-icon {
    margin-right: 20px;
  }

  .mobile-navbar-button label {
    padding-right: 30px;
  }

  .icon-item {
    color: #676767;
    font-size: 18px;
  }
}
