<mat-toolbar>
  <button class="btnBack" mat-icon-button routerLink="/manager/certifications">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n>Certifications</span>
</mat-toolbar>

<div class="space-container">
  <mat-toolbar class="primary-color font-size-1 action-buttons">
    <span class="margin-lr-3 ellipsis-title">{{certification.name}}</span>
    <button mat-stroked-button (click)="routeToEdit(certification?._id)" i18n>
      <mat-icon>edit</mat-icon> Edit
    </button>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <mat-tab-group>
      <mat-tab i18n-label label="Course Requirements">
        <planet-courses *ngIf="certification.courseIds.length > 0" [displayedColumns] = "[ 'courseTitle', 'info', 'createdDate', 'rating' ]" [isForm]="true" [includeIds]="certification.courseIds"></planet-courses>
        <span *ngIf="certification.courseIds.length === 0" class="placeholder-message" i18n>No courses have been added. Click on <b>Edit</b> to add courses.</span>
      </mat-tab>
      <mat-tab i18n-label label="Certified Members">
        <planet-users-table *ngIf="certifiedMembers.length" [users]="certifiedMembers" [(tableState)]="certifiedTableState" [displayedColumns]="[ 'profile', 'name' ]" [shouldOpenProfileDialog]="true" containerClass="view-container view-table"></planet-users-table>
        <span *ngIf="!certifiedMembers.length" class="placeholder-message" i18n>No members have been certified.</span>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
